.b-tag
{
	.b-tagCreate(
		@backgroundColor,
		@borderColor:@backgroundColor,
		@textColor:@borderColor,
		@borderedTextColor:@textColor
	) {
		background   : @backgroundColor;
		border-color : @borderColor; // #2EA97D
		color        : @textColor;

		&@{b}__bordered
		{
			color : @borderedTextColor;
		}
	}

	@b: ~'.b-tag';
	border         : 1px solid;
	text-transform : uppercase;
	border-radius  : 4px;
	display        : inline-block;
	*display       : inline;
	*zoom          : 1;
	font-size      : 10px;
	line-height    : 10px;
	padding        : 4px;
	vertical-align : middle;
	white-space    : nowrap;
	margin         : 3px;
	text-overflow  : ellipsis;

	&@{b}__big-tag{
	  font-size: 13px;
	}

	a&
	{
		text-decoration : none !important;
	}

	&@{b}__green
	{
		.b-tagCreate(@brand-success,@textColor: #FFF,@borderedTextColor: @brand-success);
	}

	&@{b}__greenLight
	{
		.b-tagCreate(#64BA9B,@textColor: #FFF,@borderedTextColor: #64BA9B);
	}

	&@{b}__yellow
	{
		.b-tagCreate(#F2C400,@textColor: #FFF,@borderedTextColor: #F2C400);
	}

	&@{b}__red
	{
		.b-tagCreate(@brand-danger,@textColor: #FFF,@borderedTextColor: @brand-danger);
	}

	&@{b}__gray
	{
		.b-tagCreate(#B2B2B2,@textColor: #FFF,@borderedTextColor: #868686);
	}

	&@{b}__transparent
	{
		.opacity(.5);
	}

	&@{b}__bordered
	{
		background : none !important;
	}
}
