.b-tile
{
	@b: ~'.b-tile';

	padding   : 15px 20px;
	overflow  : hidden;
	font-size : 0;

	&-image
	{
		border-radius  : 50%;
		width          : 50px;
		height         : 50px;
		overflow       : hidden;
		display        : inline-block;
		vertical-align : middle;
		margin-right   : 20px;
	}

	&-description
	{
		display        : inline-block;
		vertical-align : middle;
		font-size      : @font-size-base;
	}

	&-name
	{
		color : @brand-darkgray;
		.text-bold;
	}

	&-footer
	{
		display        : inline-block;
		vertical-align : middle;
		margin-left    : 20px;
		font-size      : @font-size-base;
	}

	@import "holiday/include";
	@import "stat/include";
	@import "employee_expand/include";
}
