@{b}-post
{
	@b: ~'.b-messenger-post';

	font-size     : @font-size-base;
	line-height   : 16px;
	border-radius : 4px;
	background    : #FFF;
	margin-bottom : 10px;

	&-published
	{
		color : #B2B2B2;
	}

	@import "__event/include";
	@import "__comment/include";
	@import "themes/include";
}
