.b-employee_list-item-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #4C4C4C;
  display: block;
  line-height: 105%;
  margin-bottom: 4px;
  margin-top: 4px;
}
.b-employee_list-item-information p {
  line-height: 110%;
  display: inline-block;
}
.b-tile-description {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  min-width: 200px;
  max-width: 220px;
  line-height: 105%;
}

.b-tile-name {
  display: block;
  color: #4C4C4C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 4px;
}
