&-loading
{
	@{b}-control
	{
		color : @state-loading--text !important;
	}

	@{b}-inputWrapper
	{
		position : relative;

		&:after
		{
			animation               : spin 1500ms infinite linear;
			display                 : inline-block;
			font-family             : "fontello";
			font-style              : normal;
			font-weight             : normal;
			text-decoration         : inherit;
			width                   : 1.01em;
			text-align              : center;
			font-variant            : normal;
			text-transform          : none;
			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
			position                : absolute;
			top                     : 0;
			bottom                  : 0;
			font-size               : 16px;
			z-index                 : 1;
			background              : #FFF;
			right                   : (@input-height - 16)/2px;
			line-height             : @input-height;
			content                 : @state-loading--icon;
			color                   : @state-loading--text !important;
		}
	}
}
