&@{b}__employee_expand
{
	position : relative;

	&+&
	{
		border-top : 1px solid @brand-silver;
	}

	&:hover:before
	{
		position   : absolute;
		left       : 0;
		top        : 0;
		bottom     : 0;
		width      : 4px;
		background : @brand-success;
		content    : '';
	}

	.b-toggler
	{
		margin-top : 10px;
	}
}
