@{b}-item
{
	> .a-link // ccылка верхнего уровня меню
	{
		font-size       : @font-size-base;
		padding         : 12px 20px;
		display         : block;
		border          : none;
		//height          : 40px;
		//line-height     : 40px;
		border-top      : 1px solid;
		text-decoration : none;
		margin          : 0;
		font-weight     : normal;

		._icon
		{
			font-size      : 1.12em;
			vertical-align : middle;
			text-align     : center;
		}
	  	.a-link__long-text{
		 width:224px;
		 display:inline-block;
		 word-wrap: break-word;
	   }
	}
	&__active > .a-link
	{
		position : relative;

		&:before
		{
			position : absolute;
			left     : 0;
			bottom   : -1px;
			top      : -1px;
			width    : 4px;
			display  : block;
			content  : '';
		}
	}

	@import "__parent";
}
