&@{b}__radio
{
	position: absolute;
	.opacity(0);
	margin:   0;

	& ~ .radio-control
	{
		display:        inline-block;
		*display:       inline;
		*zoom:          1;
		vertical-align: middle;
		position:       relative;
		cursor:         pointer;

		& + .radio-control
		{
			margin-left: 10px;
		}

		&__circle
		{
			border-radius: 16px;
			border:        1px solid @form-control-border;
			.square(16px);

			&:before
			{
				background:    @brand-success;
				z-index:       1;
				content:       '';
				.square(8px);
				border-radius: 8px;
				display:       block;
				visibility:    hidden;
				margin-left:   -4px;
				margin-top:    -4px;
				position:      absolute;
				top:           50%;
				left:          50%;
			}

			&:hover:before
			{
				visibility: visible;
				.opacity(0.5);
			}


			&__red{
			  background:#F66C6C;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__green{
			  background:#74C283;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__yellow{
			  background:#F9D948;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__blue{
			  background:#6DA6E8;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__orange{
			  background:#F5943F;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__violet{
			  background:#EF8AB8;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid #3AAE88;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}
			&__darkBlue{
			  background:#696CD4;
			  .square(20px);
			  border:none;
			  &:before
			  {
				background: none;
				border: 2px solid green;
				border-radius: 16px;
				.square(24px);
				left: 2px;
				top: 2px;
			  }
			}

		}

		&__image
		{
			border:        1px solid @form-control-border;
			border-radius: 3px;
			overflow:      hidden;
		}

		&:hover
		{
			border-color: @form-control--focus-border !important;
		}
	}

	&:focus ~ .radio-control
	{
		border-color: @form-control--focus-border;
	}

	&:checked ~ .radio-control
	{
		border-color: @form-control--active-border;

		&__circle:before
		{
			visibility: visible;
		}
	}
}
