.b-toggler
{
	@b: ~'.b-toggler';

	a&
	{
		text-decoration : none;
	}

	@{b}&__arrow
	{
		font-size   : 14px;
		padding     : 0px 2px;
		height      : 25px;
		line-height : 24px;

		&[aria-expanded=true]:before
		{
			content : '\EA61'
		}
	}
}
