&-image
{
	@b: ~'.b-media-image';

	display:        inline-block;
	*display:       inline;
	*zoom:          1;
	vertical-align: middle;
	position:       relative;

	@import "__circle/include";
	@import "__rounded/include";
	@import "__bordered/include";
}
