&-light
{
	@menu-item-background: #FFF;
	@menu-item-background__hover: #F6F6E9;
	@menu-item-background__active: #F6F6E9;

	@menu-item-border: transparent;
	@menu-item-border__hover: #2EA97D;
	@menu-item-border__active: #2EA97D;

	&@{b}__root > @{b}-item
	{
		> .a-link
		{
			background : @menu-item-background;
			color      : #4C4C4C;
		}

		&:hover > .a-link // при наведении курсора на пункт меню
		{
			background-color : @menu-item-background__hover;
			border-color     : @menu-item-border__hover;
		}

		> .a-link:focus, // при фокусировке на ссылку
		> .a-link:active, // при нажатии на ссылку
		&__active > .a-link, // активный пункт меню
		&__active:hover > .a-link // активный пункт меню при наведении
		{
			background-color : @menu-item-background__active;
			border-color     : @menu-item-border__active;
		}
	}
}
