&@{b}__sortable
{
	thead
	{
		@{b}-sort_link
		{
			display:          block;
			margin:           -11px -20px;
			padding:          11px 30px 11px 20px;
			position:         relative;

			color:            #B2B2B2;
			font-size:        @font-size-base;
			line-height:      16px;
			border-top:       2px solid transparent;
			text-decoration:  none;

			background-color: #F6F6F6;

			white-space:      nowrap;

			&:hover
			{
				background-color: #F6F6E9;
			}

			&:after
			{
				font-family:             "fontello";
				font-style:              normal;
				font-weight:             normal;
				line-height:             8px;
				z-index:                 3;
				display:                 block;
				text-decoration:         inherit;
				width:                   1.01em;
				text-align:              center;
				font-variant:            normal;
				text-transform:          none;
				-webkit-font-smoothing:  antialiased;
				-moz-osx-font-smoothing: grayscale;
				content:                 '\ea61 \A \ea60';
				position:                absolute;
				right:                   10px;
				top:                     50%;
				margin-top:              -8px;
				white-space:             normal;

			}

			&.asc,
			&.desc,
			{
				background-color: #F6F6E9;
				border-color:     #2EA97D;

				&:after
				{
					color:       #2EA97D;
					line-height: 16px;
					font-size:   16px;
				}
			}
			&.asc:after,
			{
				content: '\ea5e';
			}

			&.desc:after
			{
				content: '\ea5f';
			}
		}
	}
}
