@{b}-caller
{
	padding         : 10px 20px;
	display         : block;
	cursor          : pointer;
	text-decoration : none !important;

	._iconStatement
	{
		display : inline-block;
		float   : right;

		&:before
		{
			font-size               : 16px;
			vertical-align          : top;
			color                   : @brand-success;
			font-family             : "fontello";
			font-style              : normal;
			font-weight             : normal;
			text-decoration         : inherit;
			text-align              : center;
			font-variant            : normal;
			text-transform          : none;
			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
			z-index                 : 1;
			content                 : '\e988'; // minus
			display                 : inline-block;
			width                   : 1.01em;
		}
	}
	&@{accordion-caller-class-collapsed} ._iconStatement:before
	{
		content : '\e989'; // plus
	}

}
