@accordion-caller-class-collapsed: ~'.collapsed';

@accordion-caller-background: #f6f6f6;
@accordion-caller-text: #868686;

@accordion-caller--hover-background: #F6F6EA;
@accordion-caller--hover-text: #4C4C4C;

@accordion-caller--active-background: darken(@accordion-caller-background, 5%);
@accordion-caller--active-text: darken(@accordion-caller-text, 5%);
