&__parent
{
	position : relative;
	z-index  : 15;

	> .a-link
	{
		&:after
		{
			margin-left    : 10px;
			content        : @menu-item-parent-arrow_down-symbol;
			font-family    : @menu-item-parent-arrow_down-font;
			font-size      : 4px;
			display        : inline-block;
			*display       : inline;
			*zoom          : 1;
			vertical-align : middle;
			color          : #068A5B;
		}
	}

	> @{b}
	{
		position      : absolute;
		left          : 0;
		display       : none;
		z-index       : 1000;
		background    : #FFF;
		border-radius : 0 0 4px 4px;
		overflow      : hidden;

		&__reverse
		{
			left  : auto;
			right : 0;
		}

		@{b}-item
		{
			color   : #000;
			display : block;
		}
	}

	&:hover > @{b}
	{
		display   : block;
		width     : 100%;
		min-width : 200px;
	}
}
