@{b}-item
{
	font-size      : @font-size-base;
	display        : inline-block;
	*display       : inline;
	*zoom          : 1;
	vertical-align : top;

	> .a-link // ccылка верхнего уровня меню
	{
		padding         : @menu-item-padding;
		display         : block;
		font-size       : @font-size-base;
		text-decoration : none;
		position        : relative;
		border-left     : 1px solid transparent;

		&:before
		{
			content  : '';
			height   : 5px;
			display  : block;
			position : absolute;
			bottom   : 0;
			left     : 0;
			right    : 0;
		}

		._icon
		{
			font-size      : 1.12em;
			text-align     : center;
			vertical-align : middle;
		}
	}

	&:first-child > .a-link
	{
		border-left : 0 !important;
	}

	@import "__parent";
}
