<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавить ручной приход/уход</h4>
    </div>
    <div class="b-form-container">
        <div class="col-xs-12 b-form-group">
            <div class="b-form-inputWrapper clearfix">
                <label class="b-form-label">Сотрудник</label>
                <select id="my-icon-select" class="js-select  b-icon _icon" placeholder="Выберите Сотрудника" style="width: 100%;">
                    <option value="1">Jonson Michael0</option>
                    <option value="2">Jonson Michael1</option>
                    <option value="">Jonson Michael2</option>
                    <option value="">Jonson Michael3</option>
                    <option value="">Jonson Michael4</option>
                    <option value="">Jonson Michael5</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 b-form-group">
            <div class="b-form-inputWrapper clearfix">
                <label class="b-form-label">Локация</label>
                <select id="" class="js-select  b-icon _icon" placeholder="Выберите Сотрудника" style="width: 100%;">
                    <option value="1">Jonson Michael0</option>
                    <option value="2">Jonson Michael1</option>
                    <option value="">Jonson Michael2</option>
                    <option value="">Jonson Michael3</option>
                    <option value="">Jonson Michael4</option>
                    <option value="">Jonson Michael5</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 b-form-group">
            <div class="b-form-inputWrapper clearfix">
                <label class="b-form-label">Описания</label>
                <textarea class="b-form-control b-form-control__textarea"></textarea>
            </div>
        </div>
        <div class="clearfix">
            <div class="helper-padding-x-small col-xs-6 ">
                <label for="EmployeeSchedule_startDate" class="b-form-label required"> Дата назначения графика
                    <span class="required">*</span>
                </label>
                <div class="b-form-inputWrapper">
                    <input value="01.09.2016" type="text" name="EmployeeSchedule[startDate]" id="EmployeeSchedule_startDate" readonly="readonly" class="b-form-control b-form-control__input">
                    <i class="_icon b-icon-179" id="EmployeeSchedule_startDategr_btn"></i>
                </div>
            </div>
            <div class="col-sm-6 helper-padding-x-small">
                <div class="b-form-inputWrapper">
                    <label class="b-form-label">Время</label>
                    <input value="09:00" type="text" class="b-form-control b-form-control__input" placeholder=""> </div>
            </div>
        </div>
        <div class="b-form-postscript m-t-m helper-padding-x-small m-b-b">Вы можете отредактировать приход/уход сотрудника в отчете
            <a href="#">Приход/Уход</a>
        </div>
        <div class="m-b-b helper-padding-x-small pull-right ">
            <button type="button" id="" class="b-button b-button__green b-button__icon">
                <i class="_icon b-icon-578"></i> Приход </button>
            <button type="button" id="" class="b-button b-button__red b-button__icon">
                <i class="_icon b-icon-561"></i> Уход </button>
        </div>
    </div>
</form>
<script>
    $('.js-select').select2(
    {
        theme: "workly"
    });
</script>