<div class="our our_container">
    <p id="head1">1. Они расставляют приоритеты</p>
    <p>Список приоритетов – то, что устанавливает порядок твоего дня. Стив Джобс каждый свой день начинал так, глядя в зеркало, он говорил: «Что если сегодня последний день в моей жизнь, то что бы я сделал?». Займи пару утренних минут тем, чтобы определить
        свое расписание на день. Если у тебя все равно возникнут проблемы, воспользуйся матрицей Эйзенхауэра. </p>
    <p id="head2">2. Самые важные вещи они стараются сделать как можно быстрее</p>
    <p>Тебе знакомо чувство усталости под конец рабочего дня? Очень часто получается так, что сосредоточившись на мелочах, ты упускаешь из виду большие задачи. Именно поэтому успешные люди делают как можно раньше все масштабные дела, а уже потом принимаются
        за небольшие. Марк Твен говорил: «Утром первым делом съедайте одну живую жабу — тогда в течение всего остального дня с вами уже не случится ничего хуже этого». Так что начинайте с лягушек с самого утра!</p>
    <p id="head3">3. У них есть часть обязательных процедур прежде, чем они покидают свой дом</p>
    <p>У тебя должен быть обязательный ритуал каждое утро. Это может быть любимый сорт чая, передача по радио или то, что ты будешь делать изо дня в день. Например, Анна Винтур (редактор американского Vogue) каждое утро играет в теннис. А Маргарет Тэтчер
        (бывший британский премьер-министр) каждое утро слушала определенную передачу по радио. Выбери свой установленный порядок вещей и следуй ему каждое утро!</p>
    <p id="head4">4. Их жизнь довольно структурирована</p>
    <p>Важен не только утренний порядок, но и использование одного шаблона для рабочих дней. Структура и производительность – два хороших друга. Бенджамин Франклин и его структурированные дни – яркий пример успешной жизни:</p>
</div>
<style>
    .our {
        font-size: 14px;
        font-family: Arial;
        line-height: 1.3;
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    p {
        margin: 15px 0;
    }

    p[id] {
        margin-top: 240px;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
    }
</style>
<script src="js/jquery.min.js"></script>
<script>
    document.body.scrollTop = 0;
    var window.scrolled = false;
    $(document).one('ready scroll hashchange', function(e)
    {
        if (window.scrolled != false || location.hash.length == 0) return;
        e.preventDefault();
        var name = location.hash.substr(1);
        var el = $('#' + name + ', [name=' + name + ']');
        console.log(el);
        if (el.size() > 0)
        {
            $('body, html').animate(
            {
                scrollTop: el.offset().top
            }, 3000);
            window.scrolled = true;
        }
    });
</script>