<div class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Подключение к 1С</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <div class="b-integration-text"> Запустите скаченный файл и начните синхронизацию с Workly. </div>
        </div>
    </div>
</div>