<div class="b-slide gallery-container">
    <div class="gallery ">
        <!-- The actual moving Slider -->
        <div class="slider b-slide">
            <ul class="b-slide-container">
                <li class="b-slide-items">
                    <div class="slides">
                        <div class="slides_content">
                            <div class="text-center">
                                <img class="bg_img m_back-l-twnt" src="i/src/onbording/1.png" alt="" />
                                <h1>Welcome to Workly</h1>
                                <span class="text-muted">Workly gives you an overview of activites going on accross your company - from scheduling reports and time-off request</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="b-slide-items">
                    <div class="slides">
                        <div class="slides_content">
                            <div class="text-center">
                                <img class="bg_img m_back-l-twnt" src="i/src/onbording/2.png" alt="" />
                                <h1>Welcome to Workly</h1>
                                <span class="text-muted">Workly gives you an overview of activites going on accross your company - from scheduling reports and time-off request</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="b-slide-items">
                    <div class="slides">
                        <div class="slides_content">
                            <div class="text-center">
                                <img class="bg_img m_back-l-twnt" src="i/src/onbording/3.png" alt="" />
                                <h1>Welcome to Workly</h1>
                                <span class="text-muted">Workly gives you an overview of activites going on accross your company - from scheduling reports and time-off request</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="b-slide-items">
                    <div class="slides">
                        <div class="slides_content">
                            <div class="text-center">
                                <img class="bg_img m_back-l-twnt" src="i/src/onbording/4.png" alt="" />
                                <h1>Welcome to Workly</h1>
                                <span class="text-muted">Workly gives you an overview of activites going on accross your company - from scheduling reports and time-off request</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Navigation Button Controls -->
    </div>
    <!-- Pagination Controls -->
    <div class="slider-pagi b-slide-pagination-container clearfix">
        <div class="pagi-container">
            <div class="col-xs-4">
                <a href="#" class="a-link_simple b-slide-pagination-link b-slide-pagination-skip">Skip</a>
            </div>
            <ul class="b-slide-list col-xs-4 text-center"></ul>
            <!-- Here Paginations will be dynamically created, depending on Number of elements in the list. -->
            <div class="col-xs-4 text-right slider-nav">
                <button class="backbtn a-link_simple b-slide-pagination-next b-slide-pagination-link" data-dir="next" style="float:right;">Next </button>
            </div>
        </div>
    </div>
</div>
<script>
    /*
         This method will initialize each slider instance.
         Parameter are: -
         ------------------
         1) container -> div.slider ul
         2) pagicontainer -> div.pagi-container ul
         3) nav -> #slider-nav
         */
    function slider(container, pagicontainer, nav)
    {
        this.container = container;
        this.pagicontainer = pagicontainer;
        this.nav = nav.hide(); // This will assign 'nav' from parameters to 'nav' of current slider instance. It uses method chaining.
        this.imgs = this.container.find('.slides'); // Returns jQuery object containing all matched elements.
        // Following commented line will not work here, as DIVs are Dynamic by nature unlike images where dimensions are known at "PageLoad( )" event.
        //this.width=this.imgs[0].width;
        this.width = 580; // Only add contents within this limit. Longer sentences will be continued on next Line.
        //console.log('Value of width is : '+this.width);
        this.imgLen = this.imgs.length; // Returns the total number of sliding elements.
        console.log("Total no. of Items in the list are : " + this.imgLen);
        // Here we will fill the Pagination with the following list.
        out = "";
        cnt = 0;
        this.liArr = $(container).find('li'); // Returns jQuery object containing all matched LI elements.
        this.liArr.each(function()
        {
            out += "<li class='b-slide-items'><a class='b-slide-link' href='#' data-pgno='" + cnt + "'>" + (cnt + 1) + "</a></li>"; // Here (CNT+1) is displayed on the WebPage, But the "pgno" attribute starts from ZERO only.
            cnt++;
        });
        this.pagicontainer.html(out); // Adding the List to the Pagination Container.
        this.current = 0; // Initialize the "current" counter.
        // Apply CSS to "First" pagination element in the list.
        this.pagicontainer.find('li').find("[data-pgno='" + this.current + "']").addClass('b-slide-link_active');
    }
    // This method will apply the needed animation and displacement.
    slider.prototype.transition = function(coords)
    {
        this.container.animate(
        {
            'margin-left': coords || -(this.current * this.width) // First element is multiplied by Zero.
        }, 500);
        // Apply CSS to current pagination element in the list.
        this.pagicontainer.find('li').find("[data-pgno='" + this.current + "']").addClass('b-slide-link_active');
    };
    // This method will set the "current" counter to next position.
    /*
     Parameters are:-
     ---------------
     1) dir -> It can be either 'prev' or 'next' or else a number denoting slides.
     */
    slider.prototype.setCurrentPos = function(dir)
    {
        var pos = this.current;
        //console.log('Value of this.value is : '+dir);
        if (isNaN(dir))
        {
            pos += ~~(dir == 'next') || -1; // You can use alternate "Math.floor()" method instead of double tilde (~~) operator.
            this.current = (pos < 0) ? this.imgLen - 1 : pos % (this.imgLen);
        }
        else this.current = Number(dir);
        console.log(this.current);
    };
    //
    $(document).ready(function($)
    {
        // creating a container variable to hold the 'UL' element. It uses method chaining.
        var container = $('div.slider').css('overflow', 'hidden').children('ul');
        // creating pagination variable which holds the 'UL' element.
        var pagicontainer = $('div.pagi-container').children('ul');
        // Creating the 'slider' instance which will set initial parameters for the Slider.
        var sliderobj = new slider(container, pagicontainer, $('.slider-nav'));
        /*
         This will trigger the 'setCurrentPos' and 'transition' methods on click of any button
         "data-dir" attribute associated with the button will determine the direction of sliding.
         */
        sliderobj.nav.find('button').on('click', function()
        {
            //e.preventDefault();
            sliderobj.setCurrentPos($(this).data('dir'));
            sliderobj.transition();
        });
        /*
         This will trigger the 'setCurrentPos' and 'transition' methods on click of any Pagination icons.
         "data-pgno" attribute associated with the Pagination icons will determine the value of current variable.
         */
        sliderobj.pagicontainer.find('li a').on('click', function()
        {
            //$(this).removeClass('b-slide-link_active');
            sliderobj.setCurrentPos($(this).data('pgno'));
            sliderobj.transition();
        });
        //autoSlider(); // Calling autoSlider() method on Page Load.
        /*
         This function will initialize the interval variable which will cause execution of the inner function after every 3 seconds automatically.
         */
        //function autoSlider()
        //{
        //
        //
        //	return intv = setInterval(function(){
        //
        //		sliderobj.setCurrentPos('next');
        //		sliderobj.transition();
        //
        //	}, 4000);
        //
        //}
    });
</script>