<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="helper-padding-xy-base ">
        <div class="b-payment-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="b-payment-block clearfix">
            <div class="clearfix">
                <div class="pull-left m-b-twnt">
                    <div class="m-b-hg text-center b-payment-header">Срок действия бесплатной
                        <br> 14-дневной подписки истек</div>
                    <div class="b-payment-small-text_gray m-b-hg  text-center"> Обновите план подписки и оцените все
                        <br> возможности системы Workly </div>
                    <div class="b-payment-total ">
                        <ul class="list-unstyled">
                            <li class="helper-padding-y-extra_small">
                                <span class="text-muted"> Выбранный план: </span>
                                <span class="pull-right"> Deluxe </span>
                            </li>
                            <li class="helper-padding-y-extra_small">
                                <span class="text-muted"> Сотрудников: </span>
                                <span class="pull-right"> 40 </span>
                            </li>
                        </ul>
                        <div class="b-payment-total-divider">**********************************************************************</div>
                        <div class="b-payment-total-price"> ИТОГ :
                            <span class="pull-right"> $59.00 </span>
                        </div>
                        <div class="b-payment-total-divider">**********************************************************************</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-3">
                <button type="button" id="crop_save" class="b-button b-button__green b-button__icon">
                    <i class="_icon b-icon-578"></i> Продолжить </button>
            </div>
        </div>
    </div>
</form>
<script>
    $('.b-timepicker').timepicker();
</script>