<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="helper-padding-xy-base ">
        <div class="b-payment-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="b-payment-block b-payment-block_nobg clearfix">
            <div class="clearfix">
                <div class=" m-b-twnt">
                    <div class="m-b-hg text-center b-payment-header">Срок действия бесплатной
                        <br> 14-дневной подписки истек</div>
                    <div class="text-center m-t-b m-b-b">
                        <img src="i/bg/payment/expider-icon.png" /> </div>
                    <div class="b-payment-small-text_gray m-b-hg  text-center"> Оплата не поступила. Доступ к функционалу системы ограничен.
                        <br>Пожалуйста свяжитесь с администратором </div>
                    <div class="text-center text-size__medium">
                        <strong>Имя Фамилия </strong>(
                        <a href="#">info@biotrack.uz</a> )</div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('.b-timepicker').timepicker();
</script>