<form id="deviceDeleteForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Удаление устройства</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <p>Удалить выбранное устройство?</p>
        </div>
        <div class="b-form-group b-form-footer b-button-panel">
            <button type="submit" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-570"></i> Отменить </button>
            <button type="submit" class="b-button b-button__gray b-button__icon pull-right">
                <i class="_icon b-icon-473"></i> Удалить </button>
        </div>
    </div>
</form>