<form id="assignSceduleForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Employee list export</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group b-form-group__inline">
                <div class="b-form-group-row">
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_1">
                                <input type="radio" id="radio_1" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" checked>
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Export with the currently displayed columns</span>
                            </label>
                        </div>
                    </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_2">
                                <input type="radio" id="radio_2" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Export with all columns</span>
                            </label>
                        </div>
                    </div>
                    <div class="b-form-group m-b-0">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_3">
                                <input type="radio" id="radio_3" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Export by import template</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-315"></i> CSV </button>
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-315"></i> XLS </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#assignSceduleForm .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>