<form action="" id="scheduleAddForm" class="b-form b-form__addDevice">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавить рабочий график</h4>
    </div>
    <div class="b-form-container">
        <div>
            <!-- Nav tabs -->
            <div class="b-form-group b-form-group__inline">
                <label class="b-form-label">Выбрать тип устройства</label>
                <div class="b-form-group-row">
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label for="fix_schedule_radio_button" class="js-Toggling-toggler active b-form-label" data-parent="#scheduleAddForm" data-target="#fix_schedule">
                                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" checked="" name="radio" id="fix_schedule_radio_button">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="m-l-sm radio-control__text">Фиксированный</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label for="rechange_schedule_radio_button" class="js-Toggling-toggler b-form-label" data-parent="#scheduleAddForm" data-target="#rechange_schedule">
                                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="rechange_schedule_radio_button">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="m-l-sm radio-control__text">Сменный</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label for="free_schedule_radio_button" class="js-Toggling-toggler b-form-label" data-parent="#scheduleAddForm" data-target="#free_schedule">
                                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="free_schedule_radio_button">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="m-l-sm radio-control__text">Свободный</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label for="float_schedule_radio_button" class="js-Toggling-toggler b-form-label" data-parent="#scheduleAddForm" data-target="#float_schedule">
                                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="float_schedule_radio_button">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="m-l-sm radio-control__text">Плавающий</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__timepad active" id="fix_schedule">
                    <div class="b-form-group text-muted">Данный график фиксированный набор рабочих и выходных дней объединенных циклом отличным от недельного </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="fix_name-of-schedule">Названия графика *</label>
                            <input type="text" id="fix_name-of-schedule" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="fix_schedule_quick_description">Краткое описание</label>
                            <input type="text" id="fix_schedule_quick_description" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Рабочие дни</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Работа</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Перерыв</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Часы</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box1" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box1">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Понедельник</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="col-xs-3 b-form-group">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box2" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box2">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Вторник</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box3" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box3">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Среда</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box4" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box4">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Четверг</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box5" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box5">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Пятница</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box6" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box6">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Суббота</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box7" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box7">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Воскресенье</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                </div>
                <div class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__timepad" id="rechange_schedule">
                    <div class="b-form-group text-muted">Данный график фиксированный набор рабочих и выходных дней объединенных циклом отличным от недельного </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="rechange-name_of_schedule">Названия графика *</label>
                            <input type="text" id="rechange-name_of_schedule" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="rechange_schedule_quick_description">Краткое описание</label>
                            <input type="text" id="rechange_schedule_quick_description" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="b-form-group col-xs-8">
                        <label class="b-form-label" for="rechange_schedule_start_change">Начало смены</label>
                        <div class="b-form-inputWrapper">
                            <input type="text" value="06.08.2015" id="rechange_schedule_start_change" class="b-form-control b-form-control__input" />
                            <i class="_icon b-icon-179"></i>
                        </div>
                    </div>
                    <div class="b-form-group col-xs-4">
                        <label class="b-form-label" for="rechange_schedule_count">Количество *</label>
                        <div class="b-form-inputWrapper b-button-group">
                            <input type="text" class="js-spin / b-form-control b-form-control__input / text-center" value="10" id="rechange_schedule_count" data-bts-min="0" data-bts-max="100" data-bts-init-val="" data-bts-step="1" data-bts-decimal="0" data-bts-step-interval="100"
                                data-bts-force-step-divisibility="round" data-bts-step-interval-delay="500" data-bts-prefix="" data-bts-postfix="" data-bts-prefix-extra-class="" data-bts-postfix-extra-class="" data-bts-booster="true" data-bts-boostat="10"
                                data-bts-max-boosted-step="false" data-bts-mousewheel="true" data-bts-button-down-class="bootstrap-touchspin-down / b-button b-button_icon b-button__green / b-icon-387" data-bts-button-down-txt data-bts-button-up-class="bootstrap-touchspin-up / b-button b-button_icon b-button__green / b-icon-388"
                                data-bts-button-up-txt /> </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Рабочие дни</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Работа</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Перерыв</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Часы</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-4">
                            <label for="checkbox-box10" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box10">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="m_back-l-sm checkbox-control checkbox-control__text">Понедельник</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="col-xs-3 b-form-group">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box11" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box11">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="m_back-l-sm checkbox-control checkbox-control__text">Вторник</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box12" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box12">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="m_back-l-sm checkbox-control checkbox-control__text">Среда</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box13" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box13">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="m_back-l-sm checkbox-control checkbox-control__text">Воскресенье</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                </div>
                <div class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__timepad" id="free_schedule">
                    <div class="b-form-group text-muted">Данный график фиксированный набор рабочих и выходных дней объединенных циклом отличным от недельного </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="free_name-of-schedule">Названия графика *</label>
                            <input type="text" placeholder="Не задано" id="free_name-of-schedule" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="free_schedule_quick_description">Краткое описание</label>
                            <input type="text" placeholder="Не задано" id="free_schedule_quick_description" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-9">
                            <span class="text-muted">Параметры для свободного графика</span>
                        </div>
                        <div class="b-form-group col-xs-9">&nbsp;</div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-9">
                            <label for="checkbox-box30" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box30">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Рабочий день</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                    <div class="b-form-group text-muted">Задайте параметры ограничения рабочего графика. Отключения от него будет отражены в отчетах. </div>
                </div>
                <div id="float_schedule" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__timepad">
                    <div class="b-form-group text-muted">Данный график фиксированный набор рабочих и выходных дней объединенных циклом отличным от недельного </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="float_name-of-schedule">Названия графика *</label>
                            <input type="text" id="float_name-of-schedule" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                    </div>
                    <div class="b-form-group">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="float_schedule_quick_description">Краткое описание</label>
                            <input type="text" placeholder="Не задано" id="float_schedule_quick_description" class="b-form-control  b-form-control__input"> </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Рабочие дни</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Работа</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Перерыв</span>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <span class="text-muted">Часы</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="b-form-group col-xs-3">
                            <label for="checkbox-box" class="b-form-label m-t-sm b-form-label_textMedium">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox" id="checkbox-box">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="checkbox-control checkbox-control__text">Понедельник</span>
                            </label>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="b-form-group col-xs-3">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="09:00-18:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                        <div class="col-xs-3 b-form-group">
                            <div class="b-form-inputWrapper">
                                <input type="text" value="08:00" class="b-form-control b-form-control__input"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button  b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button type="submit" class="b-button m-l-m b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-521"></i> Отменить </button>
        </div>
    </div>
</form>
<script>
    $('.js-spin').TouchSpin();
</script>