<div class="b-overdue">
    <div class="b-overdue-icon">
        <i class="img-icon img-icon__badge"></i>
    </div>
    <div class="b-overdue-message"> Уважемый пользователь ваш период покупки
        <br>лицензии программы Workly истек </div>
    <div class="b-overdue-buttons">
        <div class="b-button-panel">
            <a href="#" class="b-button b-button__white"> Продлить </a>
            <a href="#" class="b-button b-button__white b-button__transparent"> Выход </a>
        </div>
    </div>
</div>