<form action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Измененить количество сотрудников</h4>
    </div>
    <div class="b-form-container">
        <div class="b-payment-block clearfix">
            <div class="clearfix">
                <div class=" m-b-twnt">
                    <div class="b-payment-top-header">
                        <!--<div class="m-b-m text-center b-payment-header head-message">Изменение количества сотрудников</div>-->
                        <div class="b-payment-small-text_gray  m-b-twnt  text-center sub-message"></div>
                    </div>
                    <div class="b-payment-price-block clearfix">
                        <div class="b-payment-total b-payment-price-container-index bg-white pull-right">
                            <ul class="list-unstyled billing-info">
                                <li class="helper-padding-y-extra_small">
                                    <span class="text-muted info-message-1-1">Ваша подписка активна до:</span>
                                    <span class="pull-right info-message-1-2">2017-09-06</span>
                                </li>
                                <li class="helper-padding-y-extra_small">
                                    <span class="text-muted info-message-2-1">Количество дополнительных сотрудников:</span>
                                    <span class="pull-right info-message-2-2">2</span>
                                </li>
                                <li class="helper-padding-y-extra_small">
                                    <span class="text-muted info-message-3-1">Стоимость за дополнительных сотрудников
                                        <span>$352.56</span> автоматически снимется с Вашей карточки.</span>
                                    <span class="pull-right info-message-3-2"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-form-group / b-button-panel b-form-footer">
                <button class="b-button b-button__green b-button__icon change-price-plan pull-right" type="button">
                    <i class="_icon b-icon-578"></i>
                    <span>Оплатить</span>
                </button>
            </div>
        </div>
    </div>
</form>