<form id="assignSceduleForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Загрузить бейджик</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group">
                <label class="b-form-label" for="element_1">Отдел</label>
                <div class="b-form-inputWrapper">
                    <select id="element_1" name="" class="js-select" style="width: 100%;">
                        <option value="">Отдел разработки и программирования</option>
                        <option value="">MaxTrack</option>
                        <option value="">Отдел продаж и координирования</option>
                        <option value="">Workly0</option>
                        <option value="">Отдел организации обеда</option>
                        <option value="">My Taxi EXPRESS</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group b-form-group__inline">
                <label class="b-form-label">Размер бейджика:</label>
                <div class="b-form-group-row">
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_1">
                                <input type="radio" id="radio_1" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" checked>
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Средний</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_2">
                                <input type="radio" id="radio_2" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Большой</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group b-form-group__inline">
            <label class="b-form-label">Тип ID карты</label>
            <div class="btn-group radio-group-container b-choice-ic-card-type" data-toggle="buttons">
                <label class="btn b-button b-radio__light active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                    <i class="b-ic-card-type_1"></i>
                </label>
                <label class="btn b-button b-radio__light">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked>
                    <i class="b-ic-card-type_2"></i>
                </label>
                <label class="btn b-button b-radio__light">
                    <input type="radio" name="options" id="option3" autocomplete="off" checked>
                    <i class="b-ic-card-type_3"></i>
                </label>
                <label class="btn b-button b-radio__light">
                    <input type="radio" name="options" id="option4" autocomplete="off" checked>
                    <i class="b-ic-card-type_4"></i>
                </label>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Загрузить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#assignSceduleForm .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>