<form id="deviceEditForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Редактирование устройства</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group col-xs-3">
                <img src="i/src/devices/zkt_terminal.png" alt="" /> </div>
            <div class="col-xs-9">
                <div class="b-form-group">
                    <label class="b-form-label" for="manufacturer">Производитель</label>
                    <div class="b-form-inputWrapper">
                        <input type="text" value="ZKT eco (ZKSoftware)" class="b-form-control b-form-control__input" id="manufacturer" /> </div>
                </div>
                <div class="b-form-group helper-relativeParent">
                    <label class="b-form-label">Модель устройства</label>
                    <div class="b-model_choose">
                        <a href="#" class="js-slider-control-prev / b-model_choose-control prev / a-link">
                            <i class="img-icon img-icon__arrow__left__gray"></i>
                        </a>
                        <div class="js-slider b-model_choose-slider">
                            <ul class="b-model_choose-list">
                                <li class="b-model_choose-list-item list-unstyled">
                                    <label class="b-form-label">
                                        <input type="radio" name="device-type" class="b-form-controlCustom b-form-controlCustom__radio">
                                        <span data-container="#deviceEditForm" data-title="заголовок тултипа" class="js-tooltip / radio-control radio-control__image / b-media-image b-media-image__circle">
                                            <img class="" src="i/src/devices/model-zkteco.png" alt="" /> </span>
                                    </label>
                                </li>
                                <li class="b-model_choose-list-item list-unstyled">
                                    <label class="b-form-label">
                                        <input type="radio" name="device-type" class="b-form-controlCustom b-form-controlCustom__radio">
                                        <span data-container="#deviceEditForm" data-title="заголовок тултипа" class="js-tooltip / radio-control radio-control__image / b-media-image b-media-image__circle">
                                            <img class="" src="i/src/devices/model-zkteco.png" alt="" /> </span>
                                    </label>
                                </li>
                                <li class="b-model_choose-list-item list-unstyled">
                                    <label class="b-form-label">
                                        <input type="radio" name="device-type" class="b-form-controlCustom b-form-controlCustom__radio">
                                        <span data-container="#deviceEditForm" data-title="заголовок тултипа" class="js-tooltip / radio-control radio-control__image / b-media-image b-media-image__circle">
                                            <img class="" src="i/src/devices/model-zkteco.png" alt="" /> </span>
                                    </label>
                                </li>
                                <li class="b-model_choose-list-item list-unstyled">
                                    <label class="b-form-label">
                                        <input type="radio" name="device-type" class="b-form-controlCustom b-form-controlCustom__radio">
                                        <span data-container="#deviceEditForm" data-title="заголовок тултипа" class="js-tooltip / radio-control radio-control__image / b-media-image b-media-image__circle">
                                            <img class="" src="i/src/devices/model-zkteco.png" alt="" /> </span>
                                    </label>
                                </li>
                                <li class="b-model_choose-list-item list-unstyled">
                                    <label class="b-form-label">
                                        <input type="radio" name="device-type" class="b-form-controlCustom b-form-controlCustom__radio">
                                        <span data-container="#deviceEditForm" data-title="заголовок тултипа" class="js-tooltip / radio-control radio-control__image / b-media-image b-media-image__circle">
                                            <img class="" src="i/src/devices/model-zkteco.png" alt="" /> </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="js-slider-control-next / b-model_choose-control next / a-link">
                            <i class="img-icon img-icon__arrow__right__gray"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="device_name"> Имя устройства </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="device_name" /> </div>
        </div>
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="serial"> Серийный номер </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="serial" /> </div>
        </div>
        <div class="b-form-group col-xs-6">
            <label class="b-form-label" for="location"> Локация </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="location" /> </div>
        </div>
        <div class="b-form-group col-xs-6">
            <label class="b-form-label" for="timezone"> Часовой пояс </label>
            <div class="b-form-inputWrapper">
                <select name="" id="timezone" class="js-select" style="width: 100%;">
                    <option value="">GMT (00:00)</option>
                    <option value="">GMT (00:30)</option>
                    <option value="">GMT (+01:00)</option>
                    <option value="">GMT (+01:30)</option>
                    <option value="">GMT (+02:00)</option>
                    <option value="">GMT (+02:30)</option>
                </select>
            </div>
        </div>
        <div class="b-form-group b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#deviceEditForm .js-select').select2(
        {
            theme: "workly"
        });
        $('#deviceEditForm .js-slider').jCarouselLite(
        {
            btnNext: ".js-slider-control-next",
            btnPrev: ".js-slider-control-prev",
            visible: 5,
            circular: false
        });
    })(jQuery)
</script>