<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Подключение к 1С</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <div class="b-form-inputWrapper">
                <div class="b-integration-text"> Скачайте программы с интеграцией Workly с 1С. </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button for="uploader-input" class=" b-button b-button__icon b-button__light pull-right">
                <i class="_icon b-icon-524"></i> Скачать файл </button>
        </div>
    </div>
</form>