<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Отработанное время</h4>
</div>
<div class="b-form-container">
    <div class="text-center m-all-twnt">
        <img class="m-b-twnt" src="images/tmp/No-information.png"> </div>
</div>