<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавить пользователя с доступом</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group clearfix">
            <div class="b-form-inputWrapper clearfix">
                <select id="my-icon-select" multiple class="js-select  b-icon _icon" placeholder="Выберите группу" style="width: 100%;">
                    <option value="1">Jonson Michael0</option>
                    <option value="2">Jonson Michael1</option>
                    <option value="">Jonson Michael2</option>
                    <option value="">Jonson Michael3</option>
                    <option value="">Jonson Michael4</option>
                    <option value="">Jonson Michael5</option>
                </select>
            </div>
            <div class="b-form-postscript">Отсутсnвие e-mail адреса. Для доступа в систему у сотрудника должен быть e-mail </div>
            <div class="clearfix m-t-hg">
                <div class="b-form-group-row">
                    <div class="b-form-inputWrapper">
                        <div class="clearfix">
                            <label class="b-form-label">Текущая роль</label>
                        </div>
                        <div class="">
                            <label data-target="#nowRole" data-parent="#uploader" class="m-t-sm js-Toggling-toggler active b-form-label active" for="nowRole">
                                <input type="radio" id="nowRole" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Администратор</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix m-t-hg m-b-0">
                <label class="b-form-label">Назначить роль:
                    <a href="#" id="show_hidden_content" class="a-link-reverse">Подробнее</a>
                </label>
                <div class="b-form-container__hide">
                    <h1 class="b-form-container_header">Описания ролей
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h1>
                    <ul class="b-form-container__hide-list">
                        <li class="b-form-container__hide-list--item">
                            <strong>Администратор:</strong>
                            <span class="text-muted">Администратор имеет все привилеги</span>
                        </li>
                        <li class="b-form-container__hide-list--item">
                            <strong>Администратор:</strong>
                            <span class="text-muted">Администратор имеет все привилеги</span>
                        </li>
                        <li class="b-form-container__hide-list--item">
                            <strong>Администратор:</strong>
                            <span class="text-muted">Администратор имеет все привилеги</span>
                        </li>
                        <li class="b-form-container__hide-list--item">
                            <strong>Администратор:</strong>
                            <span class="text-muted">Администратор имеет все привилеги</span>
                        </li>
                        <li class="b-form-container__hide-list--item">
                            <strong>Администратор:</strong>
                            <span class="text-muted">Администратор имеет все привилеги</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix">
                <div class="b-form-group-row">
                    <div class="b-form-inputWrapper">
                        <label data-target="#administrator" data-parent="#uploader" class="m-r-sm m-t-sm m-r-twnt js-Toggling-toggler b-form-label" for="administrator">
                            <input type="radio" id="administrator" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Администратор</span>
                        </label>
                        <label data-target="#headOfDepartment" data-parent="#uploader" class="m-r-sm m-t-sm m-r-twnt js-Toggling-toggler b-form-label" for="headOfDepartment">
                            <input type="radio" id="headOfDepartment" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Начальник отдела</span>
                        </label>
                        <label data-target="#managerOfDepartment" data-parent="#uploader" class="m-r-sm m-t-sm m-r-twnt js-Toggling-toggler b-form-label" for="managerOfDepartment">
                            <input type="radio" id="managerOfDepartment" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Менеджер отдела</span>
                        </label>
                        <label data-target="#observer" data-parent="#uploader" class="m-r-sm m-t-sm m-r-twnt js-Toggling-toggler b-form-label" for="observer">
                            <input type="radio" id="observer" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Наблюдатель</span>
                        </label>
                        <label data-target="#employee" data-parent="#uploader" class="m-t-sm js-Toggling-toggler b-form-label" for="employee">
                            <input type="radio" id="employee" name="radio" checked="" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Сотрудник</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group b-button-panel b-form-footer">
            <button type="button" id="upload_save" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script>
    $('#show_hidden_content').click(function(e)
    {
        e.preventDefault();
        $('.b-form-container__hide').slideToggle();
    });
    $('.b-form-container__hide button').click(function()
    {
        $('.b-form-container__hide').fadeOut();
    });
    $('.js-select').select2(
    {
        theme: "workly"
    });
</script>