<form id="deviceEditForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Редактирование устройства</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="device_name"> Имя устройства </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="device_name" /> </div>
        </div>
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="serial"> Серийный номер </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="serial" /> </div>
        </div>
        <div class="b-form-group col-xs-6">
            <label class="b-form-label" for="location"> Локация </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="location" /> </div>
        </div>
        <div class="b-form-group col-xs-6">
            <label class="b-form-label" for="timezone"> Часовой пояс </label>
            <div class="b-form-inputWrapper">
                <select name="" id="timezone" class="js-select" style="width: 100%;">
                    <option value="">GMT (00:00)</option>
                    <option value="">GMT (00:30)</option>
                    <option value="">GMT (+01:00)</option>
                    <option value="">GMT (+01:30)</option>
                    <option value="">GMT (+02:00)</option>
                    <option value="">GMT (+02:30)</option>
                </select>
            </div>
        </div>
        <div class="b-form-group b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#deviceEditForm .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>