<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Идентификация</h4>
    </div>
    <ul class="b-menu b-menu__list b-menu__root b-menu__theme-light b-menu__tabs b-menu__tabs_large">
        <li class="b-menu-item active b-menu-item__active">
            <a href="#pin_section" role="tab" data-toggle="tab" class="a-link"> ПИН код </a>
        </li>
        <li class="b-menu-item">
            <a href="#card_section" role="tab" data-toggle="tab" class="a-link"> RFID карты </a>
        </li>
        <li class="b-menu-item">
            <a href="#imprints_section" role="tab" data-toggle="tab" class="a-link"> Отпечатки пальцев </a>
        </li>
        <li class="b-menu-item">
            <a href="#recognition_section" role="tab" data-toggle="tab" class="a-link"> Распознавание лиц </a>
        </li>
    </ul>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="tab-content b-identification-layout__modal">
                <div class="tab-pane active" id="pin_section">
                    <div class="clearfix">
                        <div class="b-form-group">
                            <span class="b-form-postscript text-color-darkgray inline-block m-t-0 m-b-0"> Fingerprint – распознавание отпечатка пальца, используемое для идентификации личности сотрудника. Для того, чтобы отметить приход/уход с помощью данной системы, необходимо приложить палец к считывающему биометрическому аппарату.
                                </span>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="b-form-group">
                                    <label class="b-form-label"> ПИН код </label>
                                    <div class="b-form-inputWrapper">
                                        <input class="b-form-control b-form-control__input" type="text">
                                        <i class="_icon b-icon-577"></i>
                                    </div>
                                </div>
                                <div class="b-form-group">
                                    <label class="b-form-label">Пароль</label>
                                    <div class="b-form-inputWrapper / helper-padding_canceller-x-extra_small m-r-0">
                                        <div class="col-xs-10 helper-padding-x-extra_small">
                                            <input class="b-form-control b-form-control__input" type="password"> </div>
                                        <div class="col-xs-2 helper-padding-x-extra_small">
                                            <button type="button" class="inline-block / b-button b-button_icon b-button__light">
                                                <i class="b-icon-434"></i>
                                                <!-- Hide password icon -->
                                                <!--<i class="b-icon-458"></i>-->
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="b-form-group p-r-0">
                            <span class="b-form-postscript text-color-darkgray inline-block m-t-0"> Пароль – это четырёхзначное число, которое необходимо ввести после PIN кода в TimePad для осуществления отметки. </span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="card_section">
                    <div class="clearfix">
                        <div class="b-form-group">
                            <span class="b-form-postscript text-color-darkgray inline-block m-t-0 m-b-0"> Fingerprint – распознавание отпечатка пальца, используемое для идентификации личности сотрудника. Для того, чтобы отметить приход/уход с помощью данной системы, необходимо приложить палец к считывающему биометрическому аппарату
                                </span>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="b-form-group">
                                    <label class="b-form-label"> Номер RFID карты: </label>
                                    <div class="b-form-inputWrapper">
                                        <input class="b-form-control b-form-control__input" type="text">
                                        <i class="_icon b-icon-494"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="imprints_section">
                    <div class="clearfix">
                        <div class="b-form-group">
                            <span class="b-form-postscript text-color-darkgray inline-block m-t-0 m-b-0"> PIN код – это персональный идентификационный номер сотрудника, используемый для распознавания его личности в системе. Данный номер служит для осуществления приходов/уходов через приложение TimePad. </span>
                        </div>
                        <div class="b-form-group">
                            <div class="b-form-inputWrapper b-fingerprint-detection-container">
                                <div class="b-finger_change clear">
                                    <div class="pull-left">
                                        <div class="b-lefthand">
                                            <a href="#" data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" class="finger finger-view left1 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                            <a href="#" class="finger finger-view left2 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view left3 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view left4 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finder_double-count finger-view left5 hasFingerSelected helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="b-righthand">
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view right1" id="finger-9"> </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view right2" id="finger-8"> </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view right3" id="finger-7"> </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finger-view right4 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                            <a data-original-title="Настройки" data-placement="bottom" data-toggle="tooltip" href="#" class="finger finder_double-count finger-view right5 hasFinger helper-hovered">
                                                <i class="_icon b-icon-386 helper-hovered-onhover_show text-color-danger text-center"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="recognition_section">
                    <div class="clearfix">
                        <div class="b-form-group">
                            <span class="b-form-postscript inline-block text-color-darkgray m-t-0 m-b-0"> PIN код – это персональный идентификационный номер сотрудника, используемый для распознавания его личности в системе. Данный номер служит для осуществления приходов/уходов через приложение TimePad. </span>
                        </div>
                    </div>
                    <div class="col-xs-12 b-form-group">
                        <div class="b-uploader-crop-result-container">
                            <h3 class="text-center m-t-0 m-b-0">Нет загруженных фото</h3>
                        </div>
                    </div>
                    <div class="b-form-group b-thumbinail-container_horizontal text-center">
                        <div class="b-thumbinail-item b-thumbinail-item_view m-t-0 inline-block b-thumbinail-item__active">
                            <img class="img-responsive" src="images/tmp/face-emotional-1.jpg" alt="John Doe"> </div>
                        <div class="b-thumbinail-item b-thumbinail-item_view m-t-0 inline-block b-thumbinail-item__active">
                            <img class="img-responsive" src="images/tmp/face-emotional-2.jpg" alt="John Doe"> </div>
                        <div class="b-thumbinail-item b-thumbinail-item_view m-t-0 inline-block b-thumbinail-item__active">
                            <img class="img-responsive" src="images/tmp/face-emotional-3.jpg" alt="John Doe"> </div>
                        <div class="b-thumbinail-item b-thumbinail-item_view m-t-0 inline-block b-thumbinail-item__active">
                            <img class="img-responsive" src="images/tmp/face-emotional-4.jpg" alt="John Doe"> </div>
                        <div class="clearfix"></div>
                        <div class="b-form-group text-center text-color-darkgray text-size__base m-t-lg m-b-lg p-all-0 m-r-twnt">
                            <span class="m-t-xs"> Если система плохо распознает сотрудника, воспользуйтесь кнопкой
                                <br>"Сбросить", чтобы удалить эталонные фотографии. </span>
                        </div>
                        <div class="m-t-xs m-b-sm text-center m-r-twnt">
                            <div class="inline-block clearfix">
                                <button class="b-tag b-tag__red b-tag__bordered">СБРОСИТЬ
                                    <i class="b-icon-386"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Принять </button>
        </div>
    </div>
</form>