<form id="employeePosition" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Назначение рабочего графика</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <label class="b-form-label" for="element_1">Должность</label>
            <div class="b-form-inputWrapper">
                <select id="element_1" name="" class="js-select" style="width: 100%;">
                    <option value="">Главный технический директор</option>
                    <option value="">Финансовый директор</option>
                    <option value="">Дворник</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="element_2"> Дата назначения </label>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_2" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-179"></i>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Применить </button>
            <button type="submit" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-387"></i> Отменить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#employeePosition .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>