<form id="timeoffForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Запрос на отгул</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group b-form-group__inline">
                <label class="b-form-label">На какое время запросить отгул?</label>
                <div class="b-form-group-row">
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_1">
                                <input type="radio" id="radio_1" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Целый день</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label class="b-form-label" for="radio_2">
                                <input type="radio" id="radio_2" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text">Указанные часы</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="start"> Начало </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="js-tooltip b-form-control b-form-control__input" id="start" />
                <i class="_icon b-icon-179"></i>
            </div>
        </div>
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="finish"> Конец </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="js-tooltip b-form-control b-form-control__input" id="finish" />
                <i class="_icon b-icon-179"></i>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="employee"> Сотрудник </label>
            <div class="b-form-inputWrapper">
                <select multiple name="" id="employee" class="js-select" style="width: 100%;">
                    <option value="">Select item 1</option>
                    <option value="">Select item 2</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="Location_address"> Адрес </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="Location_address" /> </div>
        </div>
        <div class="b-form-group b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#timeoffForm .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>