<form id="expenseAddForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавить запрос на расход</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group  col-xs-6">
            <label class="b-form-label" for="el-1"> Касса * </label>
            <div class="b-form-inputWrapper">
                <select id="el-1" name="" class="js-select" style="width: 100%;">
                    <option value="">Выбрать кассу</option>
                    <option value="">Касса 1</option>
                    <option value="">Касса 2</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="el-2"> Поставщик </label>
            <div class="b-form-inputWrapper">
                <select name="" id="el-2" class="js-select" style="width: 100%;">
                    <option value="">Выбрать поставщика</option>
                    <option value="">Поставщик 1</option>
                    <option value="">Поставщик 2</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="el-3"> Сотрудники * </label>
            <div class="b-form-inputWrapper">
                <select name="" id="el-3" class="js-select" style="width: 100%;">
                    <option value="">Выбрать сотрудника</option>
                    <option value="">Васька Иванов</option>
                    <option value="">Васька Пупкин</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="el-4"> Причина * </label>
            <div class="b-form-inputWrapper">
                <input type="text" placeholder="Текст причины" class="b-form-control b-form-control__input" id="el-4" /> </div>
        </div>
        <div class="b-form-group b-form-group__inline">
            <label class="b-form-label">Цена *</label>
            <div class="b-form-group-row / m-t-m">
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper">
                        <label class="b-form-label">
                            <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text / text-size__base">Доллары</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper">
                        <label class="b-form-label">
                            <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text / text-size__base">Рубли</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="helper-relativeParent">
                <input type="text" class="js-ionRangeSlider" /> </div>
        </div>
        <div class="js-cloning-root b-form-group">
            <div class="js-cloning-container">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="b-form-label">Название *</label>
                    </div>
                    <div class="col-xs-3 m_back-l-b">
                        <label class="b-form-label">Количество *</label>
                    </div>
                </div>
                <div class="js-cloning-sample row product-item">
                    <div class="col-xs-8">
                        <div class="b-form-inputWrapper product-item-name">
                            <input type="text" class="b-form-control b-form-control__input" /> </div>
                    </div>
                    <div class="col-xs-3 m_back-l-b">
                        <div class="b-form-inputWrapper product-item-quantity">
                            <input type="text" class="js-spin / b-form-control b-form-control__input / text-center" value="10" /> </div>
                    </div>
                </div>
            </div>
            <div class="m-t-hg">
                <a href="#" class="js-addExpenseProductRow / b-button b-button__white / js-cloning-caller / product-button_add" data-cloning-limit="3" data-cloning-after="afterCloneRow" data-cloning-before="beforeCloneRow">Добавить товар</a>
            </div>
        </div>
        <div class="b-form-group">
            <p class="m-b-lg text-color-darkgray">* Максимальное количество Товаров в одной смете - 4</p>
            <p class="m-b-lg text-color-darkgray">** Максимальное количество Диапазонов - 5</p>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-182"></i> Сохранить </button>
            <button type="submit" class="pull-right b-button b-button__blue b-button__icon pull-right">
                <i class="_icon b-icon-388"></i> Добавить диапазон </button>
        </div>
    </div>
</form>
<script>
    var touchSpinOptions = {
        min: 0,
        max: 100,
        buttondown_class: 'bootstrap-touchspin-down / b-button b-button_icon b-button__green / b-icon-387',
        buttonup_class: 'bootstrap-touchspin-up / b-button b-button_icon b-button__green / b-icon-388',
        buttondown_txt: '',
        buttonup_txt: ''
    };
    (function($)
    {
        $('#expenseAddForm .js-select').select2(
        {
            theme: "workly"
        });
        $(".js-ionRangeSlider").ionRangeSlider(
        {
            grid: true,
            hide_min_max: true,
            force_edges: true,
            grid_margin: false
        });
        $('.js-spin').TouchSpin(touchSpinOptions);
        $(document).on('click', '.js-product-delete', function(e)
        {
            e.preventDefault();
            $(this).parent('.product-item').slideUp(function()
            {
                $(this).remove();
                $('.js-cloning-caller.product-button_add').data('cloning-copies_count', ($('.js-cloning-caller.product-button_add').data('cloning-copies_count') - 1)).show();
            });
        });
    })(jQuery);

    function beforeCloneRow(event, $caller, collection)
    {
        collection.copy.css(
        {
            display: ''
        }).addClass('m-t-hg').append('<a href="javascript:;" class="m_back-l-m text-color-danger b-button b-button_icon js-product-delete b-icon-386"></a>');
        collection.copy.find('.product-item-quantity').html(collection.copy.find('.js-spin'));
        $('.js-spin', collection.copy).removeData().TouchSpin(touchSpinOptions);
    }

    function afterCloneRow(event, $caller, collection)
    {
        if (collection.counter == $caller.data('cloning-limit'))
        {
            $caller.hide(5);
        }
        return false;
    }
</script>