<div class="modal-header b-modal-header_video-container">
    <h3 class="text-center">Добро пожаловать в Workly</h3>
    <p class="text-center text-size__big">Прежде чем начать использовать систему, предлагаем посмотреть
        <br>короткий видеоролик</p>
</div>
<div class="b-demo-video-container">
    <video controls="controls" poster="video/duel.jpg">
        <source src="video/video-example.mp4"> </video>
</div>
<div class="b-modal-footer text-center">
    <button type="submit" class="b-button b-button__green b-button_indents-30" data-dismiss="modal">ПРОДОЛЖИТЬ</button>
</div>