<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Изменить фото</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <p> Скачайте.xlsx Workly шаблон для заполнения информации о ваших сотрудниках. Готовый файл загрузите через импорт.</p>
            <a href="#" class="m-t-b b-button b-button__icon b-button__light">
                <i class="_icon b-icon-524"></i> Скачать шаблон </a>
        </div>
        <div class="b-form-group">
            <label for="file_input-id" class="b-form-label"> Файл для импорта* </label>
            <div class="b-form-inputWrapper">
                <label class="b-form-controlCustom b-form-controlCustom__file">
                    <input class="file-inputOriginal js-fileChoose" multiple type="file" id="file_input-id">
                    <span class="file-name">Загрузить файл</span>
                    <span class="b-button b-button__green b-button__icon / file-button">
                        <i class="_icon b-icon-524"></i> Обзор </span>
                </label>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button class="b-button b-button__icon b-button__green pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button class="b-button b-button__icon b-button__red pull-right">
                <i class="_icon b-icon-387"></i> Отменить </button>
        </div>
    </div>
</form>