<form id="deviceAddForm" action="" class="b-form b-form__addDevice">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Уведомление об опозданиях</h3>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <div class="b-form-group-row">
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper b-form-inputWrapper_info">
                        <label data-target="#dep-list" data-parent="#deviceAddForm" class="js-Toggling-toggler active b-form-label" for="departments">
                            <input type="radio" id="departments" name="radio" checked class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">По отделам</span>
                        </label>
                        <i data-placement="bottom" data-original-title="Lorem ipsum dolor sit amet." class="tooltip-secondary fa fa-question-circle b-tag__gray text-size__big m-t-xs m-l-hg m-r-hg pull-right"></i>
                    </div>
                </div>
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper b-form-inputWrapper_info">
                        <label data-target="#emp-list" data-parent="#deviceAddForm" class="js-Toggling-toggler b-form-label" for="emlpoyee">
                            <input type="radio" id="emlpoyee" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">По сотрудникам</span>
                        </label>
                        <i data-placement="bottom" data-original-title="Lorem ipsum dolor sit amet." class="tooltip-secondary fa fa-question-circle b-tag__gray text-size__big m-t-xs m-l-hg pull-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group tab-content">
            <div id="dep-list" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__terminal active">
                <div class="b-form-search-container m-b-lg">
                    <input class="b-form-control b-form-control__input" placeholder="Поиск..."> </div>
                <ul class="b-menu b-menu__list b-menu__root  b-menu__vertical b-menu__theme-light b-items-list_selected b-departments-list_modal">
                    <li class="b-menu-item">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__blue">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">All departments</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Morbi dictum metus purus.</span>
                            </label>
                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_1"> </span>
                        </a>
                        <ul id="dep_1" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">56</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department 1/ Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla. </span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">4</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department 2 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">4</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department 3 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                    </label>
                                    <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_1-4"> </span>
                                </a>
                                <ul id="dep_1-4" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                    <li class="b-menu-item">
                                        <a class="a-link" href="#">
                                            <span class="b-menu-tag b-tag b-tag__gray">56</span>
                                            <label class="b-form-label">
                                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                <i class="checkbox-control checkbox-control__box"></i>
                                                <span class="text-overflow">Sub Department 1/ Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla. </span>
                                            </label>
                                        </a>
                                    </li>
                                    <li class="b-menu-item">
                                        <a class="a-link" href="#">
                                            <span class="b-menu-tag b-tag b-tag__gray">4</span>
                                            <label class="b-form-label">
                                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                <i class="checkbox-control checkbox-control__box"></i>
                                                <span class="text-overflow">Sub Department 2 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                            </label>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Nulla eu justo at mauris dictum pretium et at nisi. Duis iaculis leo ante, in consequat mauris vulputate ut.</span>
                            </label>
                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_2"> </span>
                        </a>
                        <ul id="dep_2" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">5</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department / Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla.</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">14</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department / Cras blandit cursus mi, nec fermentum massa viverra ut.</span>
                                    </label>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Vivamus nulla erat, tincidunt porta finibus non, congue ac erat.</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Praesent lobortis nunc sed mauris luctus feugiat. Donec ut tellus leo.</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Ut dapibus mi mauris, ac volutpat magna efficitur eu.</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Suspendisse eget rutrum justo. Sed sit amet neque lacus.</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Curabitur sit amet lobortis odio. Sed nec lectus sed ipsum laoreet blandit.</span>
                            </label>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="emp-list" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__terminal">
                <div class="b-form-search-container m-b-lg">
                    <input class="b-form-control b-form-control__input" placeholder="Поиск..."> </div>
                <ul class="b-menu b-menu__list b-menu__root  b-menu__vertical b-menu__theme-light b-items-list_selected b-departments-list_modal">
                    <li class="b-menu-item">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__blue">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">All Departments</span>
                            </label>
                        </a>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Morbi dictum metus purus.</span>
                            </label>
                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_10"> </span>
                        </a>
                        <ul id="dep_10" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <span class="b-menu-tag b-tag b-tag__greenLight">4</span>
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow">Internal Department / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                    </label>
                                    <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_11"> </span>
                                </a>
                                <ul id="dep_11" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                    <li class="b-menu-item">
                                        <a class="a-link" href="#">
                                            <span class="b-menu-tag b-tag b-tag__gray">56</span>
                                            <label class="b-form-label">
                                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                <i class="checkbox-control checkbox-control__box"></i>
                                                <span class="text-overflow">Sub Department 1/ Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla. </span>
                                            </label>
                                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_20"> </span>
                                        </a>
                                        <ul id="dep_20" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Veronica McCarthy</span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Claud Nicholson</span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Mary Bond</span>
                                                    </label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="b-menu-item">
                                        <a class="a-link" href="#">
                                            <span class="b-menu-tag b-tag b-tag__gray">4</span>
                                            <label class="b-form-label">
                                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                <i class="checkbox-control checkbox-control__box"></i>
                                                <span class="text-overflow">Sub Department 2 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                            </label>
                                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_21"> </span>
                                        </a>
                                        <ul id="dep_21" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Clifton Pittsy</span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Deborah Dean</span>
                                                    </label>
                                                </a>
                                            </li>
                                            <li class="b-menu-item">
                                                <a class="a-link" href="#">
                                                    <label class="b-form-label">
                                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                        <i class="checkbox-control checkbox-control__box"></i>
                                                        <span class="text-overflow text-color-darkgray">Paul Haynes</span>
                                                    </label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Nulla eu justo at mauris dictum pretium et at nisi. Duis iaculis leo ante, in consequat mauris vulputate ut.</span>
                            </label>
                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_12"> </span>
                        </a>
                        <ul id="dep_12" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Hilary Benson</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Bryan Richards</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Marvin May</span>
                                    </label>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="b-menu-item b-menu-item__parent">
                        <a href="#" class="a-link">
                            <span class="b-menu-tag b-tag b-tag__green">456</span>
                            <label class="b-form-label">
                                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                <i class="checkbox-control checkbox-control__box"></i>
                                <span class="text-overflow">Department / Vivamus nulla erat, tincidunt porta finibus non, congue ac erat.</span>
                            </label>
                            <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_24"> </span>
                        </a>
                        <ul id="dep_24" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Stella McLaughlin</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Erica York</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Octavia Turner</span>
                                    </label>
                                </a>
                            </li>
                            <li class="b-menu-item">
                                <a class="a-link" href="#">
                                    <label class="b-form-label">
                                        <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                        <i class="checkbox-control checkbox-control__box"></i>
                                        <span class="text-overflow text-color-darkgray">Emma O’Neal</span>
                                    </label>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <div class="b-form-postscript m-t-0 pull-left">Количество выбранных сотрудников
                <span class="b-menu-tag b-tag b-tag__green">481</span>
            </div>
            <button type="submit" class="b-button  b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Принять </button>
        </div>
    </div>
</form>