<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Назначить роль</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group col-xs-12">
                <label class="b-form-label"> Сотрудник </label>
                <div class="b-form-inputWrapper">
                    <select class="js-select width-100">
                        <option selected>Выберите сотрудника</option>
                        <option>Molly Warren</option>
                        <option>Jack Shepherd</option>
                        <option>Shanon Ryan</option>
                        <option>Denis Webster</option>
                        <option>Kellie Austin</option>
                        <option>Nicholas Simpson</option>
                        <option>Amy Norton</option>
                        <option>Bryce McKenzie</option>
                        <option>Emerald Morrison</option>
                        <option>Morgan Price</option>
                        <option>Geraldine Byrd</option>
                        <option>Thomas Watts</option>
                        <option>Gillian Reynolds</option>
                        <option>Shawn Webster</option>
                        <option>Amelia Joseph</option>
                        <option>Frank Sharp </option>
                    </select>
                </div>
            </div>
            <div class="b-form-group col-xs-12">
                <label class="b-form-label required">E-mail
                    <span class="required">*</span>
                </label>
                <div class="b-form-inputWrapper">
                    <input class="b-form-control b-form-control__input" type="email"> </div>
            </div>
            <div class="b-form-group col-xs-12">
                <label class="b-form-label">Назначить роль:
                    <a id="show_hidden_content" href="#">Подробнее</a>
                </label>
                <div class="b-form-inputWrapper">
                    <select class="js-select width-100">
                        <option selected>Выбрать роль</option>
                        <option>Администратор</option>
                        <option>Руководитель отдела</option>
                        <option>Менеджер отдела</option>
                        <option>Наблюдатель</option>
                        <option>Сотрудник</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group col-xs-12">
                <label class="b-form-label">Выбрать отдел</label>
                <div id="departments-list" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__terminal active">
                    <ul class="b-menu b-menu__list b-menu__root  b-menu__vertical b-menu__theme-light b-items-list_selected b-departments-list_modal">
                        <li class="b-menu-item">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__blue">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">All departments</span>
                                </label>
                            </a>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Morbi dictum metus purus.</span>
                                </label>
                                <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_1"> </span>
                            </a>
                            <ul id="dep_1" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                <li class="b-menu-item">
                                    <a class="a-link" href="#">
                                        <span class="b-menu-tag b-tag b-tag__greenLight">56</span>
                                        <label class="b-form-label">
                                            <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                            <i class="checkbox-control checkbox-control__box"></i>
                                            <span class="text-overflow">Internal Department 1/ Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla. </span>
                                        </label>
                                    </a>
                                </li>
                                <li class="b-menu-item">
                                    <a class="a-link" href="#">
                                        <span class="b-menu-tag b-tag b-tag__greenLight">4</span>
                                        <label class="b-form-label">
                                            <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                            <i class="checkbox-control checkbox-control__box"></i>
                                            <span class="text-overflow">Internal Department 2 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                        </label>
                                    </a>
                                </li>
                                <li class="b-menu-item">
                                    <a class="a-link" href="#">
                                        <span class="b-menu-tag b-tag b-tag__greenLight">4</span>
                                        <label class="b-form-label">
                                            <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                            <i class="checkbox-control checkbox-control__box"></i>
                                            <span class="text-overflow">Internal Department 3 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                        </label>
                                        <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_1-4"> </span>
                                    </a>
                                    <ul id="dep_1-4" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                        <li class="b-menu-item">
                                            <a class="a-link" href="#">
                                                <span class="b-menu-tag b-tag b-tag__gray">56</span>
                                                <label class="b-form-label">
                                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                    <i class="checkbox-control checkbox-control__box"></i>
                                                    <span class="text-overflow">Sub Department 1/ Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla. </span>
                                                </label>
                                            </a>
                                        </li>
                                        <li class="b-menu-item">
                                            <a class="a-link" href="#">
                                                <span class="b-menu-tag b-tag b-tag__gray">4</span>
                                                <label class="b-form-label">
                                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                                    <i class="checkbox-control checkbox-control__box"></i>
                                                    <span class="text-overflow">Sub Department 2 / Nullam accumsan mi leo, in iaculis neque mattis a. Suspendisse at est semper, dictum purus non, bibendum tortor.</span>
                                                </label>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Nulla eu justo at mauris dictum pretium et at nisi. Duis iaculis leo ante, in consequat mauris vulputate ut.</span>
                                </label>
                                <span class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" data-target="#dep_2"> </span>
                            </a>
                            <ul id="dep_2" class="collapse / b-menu b-menu__list b-menu__vertical b-menu__theme-light">
                                <li class="b-menu-item">
                                    <a class="a-link" href="#">
                                        <span class="b-menu-tag b-tag b-tag__greenLight">5</span>
                                        <label class="b-form-label">
                                            <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                            <i class="checkbox-control checkbox-control__box"></i>
                                            <span class="text-overflow">Internal Department / Pellentesque commodo augue ut diam placerat lacinia. Mauris euismod lorem aliquam, volutpat leo sed, porttitor nisi. Aliquam tempor elit nec vulputate fringilla.</span>
                                        </label>
                                    </a>
                                </li>
                                <li class="b-menu-item">
                                    <a class="a-link" href="#">
                                        <span class="b-menu-tag b-tag b-tag__greenLight">14</span>
                                        <label class="b-form-label">
                                            <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                            <i class="checkbox-control checkbox-control__box"></i>
                                            <span class="text-overflow">Internal Department / Cras blandit cursus mi, nec fermentum massa viverra ut.</span>
                                        </label>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Vivamus nulla erat, tincidunt porta finibus non, congue ac erat.</span>
                                </label>
                            </a>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Praesent lobortis nunc sed mauris luctus feugiat. Donec ut tellus leo.</span>
                                </label>
                            </a>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Ut dapibus mi mauris, ac volutpat magna efficitur eu.</span>
                                </label>
                            </a>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Suspendisse eget rutrum justo. Sed sit amet neque lacus.</span>
                                </label>
                            </a>
                        </li>
                        <li class="b-menu-item b-menu-item__parent">
                            <a href="#" class="a-link">
                                <span class="b-menu-tag b-tag b-tag__green">456</span>
                                <label class="b-form-label">
                                    <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                                    <i class="checkbox-control checkbox-control__box"></i>
                                    <span class="text-overflow">Department / Curabitur sit amet lobortis odio. Sed nec lectus sed ipsum laoreet blandit.</span>
                                </label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="button" id="upload_save" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script src="js/main.js"></script>
<script>
    $('#show_hidden_content').click(function(e)
    {
        e.preventDefault();
        $('.b-form-container__hide').slideToggle();
    });
    $('.b-form-container__hide button').click(function()
    {
        $('.b-form-container__hide').fadeOut();
    });
    $('.js-select').select2(
    {
        theme: "workly"
    });
</script>