<div class="b-billing">
    <form id="paymentMethodChange" action="" class="b-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Изменить cпособ оплаты</h4>
        </div>
        <div class="b-form-container helper-padding-xy-base">
            <div class="clearfix">
                <div class="pull-right b-payment-total">
                    <header class="b-payment-total-head">
                        <i class="b-icon-540 _icon"></i> Итоговая сумма </header>
                    <ul class="list-unstyled">
                        <li class="helper-padding-y-extra_small">
                            <span class="text-muted"> Выбранный план: </span>
                            <span class="pull-right"> Deluxe </span>
                        </li>
                        <li class="helper-padding-y-extra_small">
                            <span class="text-muted"> Сотрудников: </span>
                            <span class="pull-right"> 40 </span>
                        </li>
                        <li class="helper-padding-y-extra_small">
                            <span class="text-muted"> Срок: </span>
                            <span class="pull-right"> Месяц </span>
                        </li>
                    </ul>
                    <div class="b-payment-total-divider">**********************************************************************</div>
                    <div class="b-payment-total-price"> ИТОГ :
                        <span class="pull-right"> $59.00 </span>
                    </div>
                    <div class="b-payment-total-divider">**********************************************************************</div>
                </div>
                <div class="helper-ovh">
                    <div class="clearfix m_back-l-lg m_back-r-lg">
                        <div class="b-form-group text-size__medium"> Выбрать способ оплаты </div>
                        <div class="b-form-group">
                            <label for="el-1" class="b-form-label"> Имя на карте </label>
                            <div class="b-form-inputWrapper">
                                <input type="text" id="el-1" class="b-form-control b-form-control__input" /> </div>
                        </div>
                        <div class="b-form-group">
                            <label for="el-2" class="b-form-label"> Номер карты </label>
                            <div class="b-form-inputWrapper">
                                <input type="text" value="449 090" id="el-2" class="b-form-control b-form-control__input" />
                                <i class="img-icon m-t-xs m_back-r-sm img-icon__mastercard _icon"></i>
                            </div>
                        </div>
                        <div class="b-form-group col-xs-6">
                            <label for="el-3" class="b-form-label"> Срок годности </label>
                            <div class="b-form-inputWrapper">
                                <input type="text" placeholder="MM/YY" id="el-3" class="b-form-control b-form-control__input" /> </div>
                        </div>
                        <div class="b-form-group col-xs-6">
                            <label for="el-4" class="b-form-label"> СVV </label>
                            <div class="b-form-inputWrapper">
                                <input type="text" id="el-4" class="b-form-control b-form-control__input" /> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-form-group b-button-panel b-form-footer m-t-twnt">
                <button class="b-button b-button__green b-button__icon b-form-submit pull-right" type="submit" name="yt0">
                    <i class="_icon b-icon-578"></i> Оплатить </button>
                <button class="b-button b-button__red b-button__icon b-form-submit pull-right" type="submit" name="yt0">
                    <i class="_icon b-icon-570"></i> Отменить </button>
            </div>
        </div>
    </form>
</div>