<form id="scheduleForm" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Назначение рабочего графика</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <label class="b-form-label" for="element_1">Рабочий график</label>
            <div class="b-form-inputWrapper">
                <select id="element_1" name="" class="js-select" style="width: 100%;">
                    <option value="">07:00-20:00</option>
                    <option value="">08:00-21:00</option>
                    <option value="">09:00-22:00</option>
                    <option value="">01:00-09:00</option>
                    <option value="">02:00-10:00</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="element_2"> Начинается </label>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_2" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-179"></i>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="element_3"> Начинается </label>
            <div class="m-b-sm m-t-sm">
                <label class="b-form-label / m-r-twnt">
                    <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                    <i class="radio-control radio-control__circle"></i>
                    <span class="radio-control radio-control__text">Никогда</span>
                </label>
                <label class="b-form-label / m-r-twnt">
                    <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                    <i class="radio-control radio-control__circle"></i>
                    <span class="radio-control radio-control__text">Количество повторений</span>
                </label>
                <label class="b-form-label / m-r-twnt">
                    <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                    <i class="radio-control radio-control__circle"></i>
                    <span class="radio-control radio-control__text">Дата</span>
                </label>
            </div>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_3" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-179"></i>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Применить </button>
            <button type="submit" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-387"></i> Отменить </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#scheduleForm .js-select').select2(
        {
            theme: "workly"
        });
    })(jQuery)
</script>