<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Не пришли на работу</h4>
</div>
<div class="clearfix">
    <header class="helper-padding-x-base helper-padding-y-extra_small bg-gray clearfix">
        <div class="pull-left m-t-m"> 11 Август, 2015, Четверг </div>
        <div class="pull-right">
            <form action="" class="b-form b-form__searchBox">
                <div class="b-form-group">
                    <label for="search" class="b-form-inputWrapper">
                        <input class="b-form-control b-form-control__input" type="text" placeholder="Поиск" name="query" id="search">
                        <button type="submit" value="" class="b-form-submit / b-icon-243"></button>
                    </label>
                </div>
            </form>
        </div>
    </header>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_1.jpg" alt="Alexander Jones" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Alexander Jones</a>
            <div class="text-muted"> приход 10:20 </div>
            <div id="row-1" class="text-color-danger collapse m-t-m"> рабочий график: 11:00-20:00 </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-1" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_6.jpg" alt="Barbara Cooper" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Barbara Cooper</a>
            <div class="text-muted"> приход 10:20 </div>
            <div id="row-2" class="text-color-danger collapse m-t-m"> рабочий график: 11:00-20:00 </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-2" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_2.jpg" alt="Daniel Stevenson" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Daniel Stevenson</a>
            <div class="text-muted"> приход 10:20 </div>
            <div id="row-3" class="text-color-danger collapse m-t-m"> рабочий график: 11:00-20:00 </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-3" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
</div>