<form action="" id="scheduleAddForm" class="b-form b-form__addDevice">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавить шаблон дня</h4>
    </div>
    <div class="b-form-container">
        <div>
            <div class="b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Названия шаблона *</label>
                    <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
            </div>
            <div class="b-form-group">
                <div class="b-form-inputWrapper">
                    <div class="clearfix">
                        <label class="b-form-label">Назначить цвет</label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_3" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_3">
                            <i class="radio-control radio-control__circle radio-control__circle__red"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_8" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_8">
                            <i class="radio-control radio-control__circle radio-control__circle__green"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_4" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_4">
                            <i class="radio-control radio-control__circle radio-control__circle__blue"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_5" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_5">
                            <i class="radio-control radio-control__circle radio-control__circle__orange"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_6" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_6">
                            <i class="radio-control radio-control__circle radio-control__circle__violet"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_7" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_7">
                            <i class="radio-control radio-control__circle radio-control__circle__darkBlue"></i>
                        </label>
                    </div>
                    <div class="clearfix inline-block m-r-sm">
                        <label for="radio_11" class="b-form-label">
                            <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_11">
                            <i class="radio-control radio-control__circle radio-control__circle__yellow"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Описание</label>
                    <input type="text" placeholder="Не задано" class="b-form-control b-form-control__input"> </div>
            </div>
        </div>
        <div class="b-form-group">
            <div class="text-muted m-b-lg">Тип дня</div>
            <label for="radio_1" class="b-form-label">
                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_1">
                <i class="radio-control radio-control__circle"></i>
                <span class="m-l-sm radio-control__text m-r-hg">Рабочий день</span>
            </label>
            <label for="radio_2" class="b-form-label">
                <input type="radio" class="b-form-controlCustom b-form-controlCustom__radio" name="radio" id="radio_2">
                <i class="radio-control radio-control__circle"></i>
                <span class="m-l-sm radio-control__text ">Выходной день</span>
            </label>
        </div>
        <div class="clearfix">
            <div class="col-xs-6 b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Время начала</label>
                    <input type="text" value="09:00" class="b-form-control b-form-control__input"> </div>
            </div>
            <div class="col-xs-6 b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Время окончания</label>
                    <input type="text" value="13:00" class="b-form-control b-form-control__input"> </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-xs-6 b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Время начала перерыва</label>
                    <input type="text" value="09:00" class="b-form-control b-form-control__input"> </div>
            </div>
            <div class="col-xs-6 b-form-group">
                <div class="b-form-inputWrapper">
                    <label>Время окончания перерыва</label>
                    <input type="text" value="13:00" class="b-form-control b-form-control__input"> </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button type="submit" class="b-button b-button__white b-button__icon pull-right">
                <i class="_icon b-icon-473"></i> Удалить </button>
        </div>
    </div>
</form>