<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">В отгуле</h4>
</div>
<div class="clearfix">
    <header class="helper-padding-x-base helper-padding-y-extra_small bg-gray clearfix">
        <div class="pull-left m-t-m"> 11 Август, 2015, Четверг </div>
        <div class="pull-right">
            <form action="" class="b-form b-form__searchBox">
                <div class="b-form-group">
                    <label for="search" class="b-form-inputWrapper">
                        <input class="b-form-control b-form-control__input" type="text" placeholder="Поиск" name="query" id="search">
                        <button type="submit" value="" class="b-form-submit / b-icon-243"></button>
                    </label>
                </div>
            </form>
        </div>
    </header>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_1.jpg" alt="Nicolas Rodrigues Hansen" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Nicolas Rodrigues Hansen</a>
            <div class="text-muted"> Отгул за счет компании </div>
            <div id="row-1" class="text-color-violet collapse m-t-m"> С 10.10.2017 г. до 10.10.2017 г. </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-1" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_7.jpg" alt="Patricia Rivera" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Patricia Rivera</a>
            <div class="text-muted"> Отгул за свой счет </div>
            <div id="row-2" class="text-color-violet collapse m-t-m"> С 10.10.2017 г. до 10.10.2017 г. </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-2" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_4.jpg" alt="Daniel Stevenson" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Daniel Stevenson</a>
            <div class="text-muted"> Отгул за счет компании </div>
            <div id="row-3" class="text-color-violet collapse m-t-m"> С 10.10.2017 г. до 10.10.2017 г. </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-3" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_5.jpg" alt="Alexander Jones" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Alexander Jones</a>
            <div class="text-muted"> Отгул за счет компании </div>
            <div id="row-4" class="text-color-violet collapse m-t-m"> С 10.10.2017 г. до 10.10.2017 г. </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-4" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
    <div class="b-tile b-tile__employee_expand">
        <div class="b-tile-image">
            <img class="img-responsive" src="images/tmp/emp_3.jpg" alt="Michael Johnson" /> </div>
        <div class="b-tile-description">
            <a href="#" class="b-tile-name">Michael Johnson</a>
            <div class="text-muted"> Отгул за счет компании </div>
            <div id="row-5" class="text-color-violet collapse m-t-m"> С 10.10.2017 г. до 10.10.2017 г. </div>
        </div>
        <div class="b-tile-footer pull-right">
            <a class="b-toggler b-toggler__arrow / b-button b-button__white b-button_icon / b-icon-down-open" data-toggle="collapse" href="#row-5" aria-expanded="false" aria-controls="row-1"> </a>
        </div>
    </div>
</div>