<form id="sessionTimeout" action="" class="b-form">
    <div class="clearfix">
        <div class="b-alert b-alert__theme-red b-alert__placement-top">
            <div class="b-alert-icon">
                <i class="_icon b-icon-386"></i>
            </div>
            <div class="b-alert-message">Пароль указан неверно</div>
        </div>
    </div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Вход</h4>
    </div>
    <div class="helper-padding-x-base m-t-twnt"> Для вашей безопасности система совершает выход, если нет активности в течении 30 минут. Для продолжения работы, введите пароль. </div>
    <div class="b-form-container">
        <div class="b-form-group b-form-group__state-error">
            <label class="b-form-label text-size__medium" for="LoginForm_password">Пароль</label>
            <div class="b-form-inputWrapper">
                <input class="b-form-control b-form-control__input" id="LoginForm_password" type="password" /> </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label text-size__medium" for="LoginForm_password_">Пароль</label>
            <div class="b-form-inputWrapper">
                <input class="b-form-control b-form-control__input" id="LoginForm_password_" type="password" /> </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button class="b-button b-button__green b-button__icon b-form-submit pull-right" type="submit" name="yt0">
                <i class="_icon b-icon-7"></i> Войти </button>
            <button class="b-button b-button__white b-button__icon pull-right">
                <i class="_icon b-icon b-icon-561"></i> Выйти </button>
        </div>
    </div>
    <div class=""> </div>
</form>