<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Добавить Workly Timepad</h4>
</div>
<div class="m-t-twnt m-b">
    <p class="m-b-b text-size__medium text-center"> Приложение Workly TimePad превратит ваш планшет
        <br>в терминал учета посещений. </p>
    <p class="m-b-b text-size__base text-color-gray-b2 text-center"> Скачайте бесплатно и начните учет сегодня </p>
    <div class="text-center b-app-location-container_modal-view">
        <a href="#">
            <img src="i/bg/app/appstore.svg" alt="Download on the App Store" title="Download on the App Store / Загрузить приложение на App Store">
        </a>
        <a href="#">
            <img src="i/bg/app/google-play.svg" alt="Get in the Google Play" title="Get in the Google Play / Загрузить приложение на Google Play">
        </a>
    </div>
    <div class="b-modal-bottom-advert-container">
        <img class="img-responsive" src="i/src/banners/emp-clockin.jpg"> </div>
</div>