<form action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <label class="b-form-label" for="Location_name"> Название локации * </label>
            <div class="b-form-inputWrapper">
                <input title="Must be only letters. Maximum number of characters is 60" type="text" class="js-tooltip b-form-control b-form-control__input" id="Location_name" /> </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="Location_address"> Адрес </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="Location_address" /> </div>
        </div>
        <div class="b-form-group">
            <div class="b-form-inputWrapper">
                <div style="height:100px" data-maps="google" data-maps-coordinates="55.687465,37.572293"></div>
            </div>
            <span class="b-form-postscript">Для корректировки адреса, держите карту и перемещайте ее.</span>
        </div>
        <div class="b-form-group">
            <div class="b-form-inputWrapper">
                <div style="height:100px; background:#E8E8E8;" data-maps="google" data-maps-coordinates="55.687465,37.572293"></div>
            </div>
            <span class="b-form-postscript"> Ой! Плохое соединение или ваш браузер не поддерживает данное приложение. Вместо этого вы можете использовать IP адрес. </span>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="Location_address"> IP адрес </label>
            <div class="b-form-inputWrapper">
                <input type="text" class="b-form-control b-form-control__input" id="Location_ip" />
                <i title="Я нахожусь здесь" data-placement="left" class="js-tooltip _icon b-icon-548"></i>
            </div>
            <span class="b-form-postscript">Радиус 300м</span>
        </div>
        <div class="b-form-group b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>