<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Загрузить файлы</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group b-uploader">
            <div id="uploader-error" style="display: none;" class="m-b-b b-alert b-alert__theme-red">
                <div class="b-alert-icon">
                    <i class="_icon b-icon-386"></i>
                </div>
                <div class="b-alert-message"></div>
            </div>
            <div class="b-form-inputWrapper b-uploader-drop-outer">
                <div id="uploader-drop" class="b-uploader-drop">
                    <label id="uploader-drop-area" class="b-uploader-drop-container">
                        <input id="uploader-input" type="file" name="files[]" />
                        <span class="b-uploader-drop-title"> Переместите файл для загрузки сюда </span>
                    </label>
                    <div class="text-muted text-center m-t-b"> ИЛИ
                        <br>
                        <label for="uploader-input" class=" m-t-b b-button b-button__icon b-button__light">
                            <i class="_icon b-icon-upload"></i> Загрузить файл </label>
                    </div>
                </div>
            </div>
            <div id="progress" class="b-uploader-process">
                <div class="b-uploader-process-files upload-files" style="display: none;"> </div>
            </div>
            <div id="uploader-state">
                <div id="uploader-loading" style="display: none;" class="helper-padding-xy-base bg-white">
                    <div class="b-loader" style="font-size: 14px;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group">
            <div class="b-form-inputWrapper">
                <select name="" class="js-select" placeholder="Folder" style="width: 100%;">
                    <option value="">Directory 1</option>
                    <option value="">Kitty</option>
                    <option value="">Disney</option>
                    <option value="">WB</option>
                    <option value="">FireFox</option>
                </select>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label b-form-label__textBig">
                <input type="checkbox" class="b-form-controlCustom b-form-controlCustom__checkbox">
                <i class="checkbox-control checkbox-control__box"></i>
                <span class="checkbox-control checkbox-control__text">Всем сотрудникам</span>
            </label>
            <div class="b-form-inputWrapper">
                <select multiple class="js-select" placeholder="Выберите группу" style="width: 100%;">
                    <option value="">Бухгалтерия</option>
                    <option value="">Программисты</option>
                    <option value="">Повара</option>
                    <option value="">Электрики</option>
                    <option value="">HR</option>
                    <option value="">Отдел по работе с клиентами соседнего автомобильного парка "OZGLOBALTRANSINVEST"</option>
                </select>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="button" id="upload_save" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
        </div>
    </div>
</form>
<script>
    var imageResult;
    (function($)
    {
        var $uploader = $('#uploader');
        var $uploader_loading = $('#uploader-loading', $uploader);
        var $uploader_error = $('#uploader-error', $uploader);
        var $uploader_drop = $('#uploader-drop', $uploader);
        var $uploader_drop_area = $('#uploader-drop-area', $uploader);
        var $uploader_input = $('#uploader-input', $uploader);
        var $uploader_files = $('.upload-files', $uploader);
        var $uploader_files_result = $('.uploaded-files', $uploader);

        function uploaderShowMode(mode)
        {
            var elements = $('#uploader-loading, #uploader-error, #uploader-drop, #uploader-input', $uploader);
            elements.not(mode).css(
            {
                display: 'none'
            });
            elements.filter(mode).slideDown(50);
        }
        $('.js-select', $uploader).select2(
        {
            theme: "workly"
        });
        $('#droparea .js-click_here').click(function()
        {
            $(this).parent().find('input').click();
        });
        var fileTemplate = '<div class="b-uploader-file working">' + '<div class="b-uploader-file-progress"><div class="bar" style="height:5px;width: 0%;"></div></div>' + '<div class="col-xs-7 b-uploader-file-name"><span class="text-overflow file-name"></span></div>' + '<div class="col-xs-3 b-uploader-file-size file-size"></div>' + '<span class="b-uploader-file-delete b-icon-386"></span>' + '</div>';
        $uploader_input.fileupload(
        {
            //			acceptFileTypes         :/^image\/(gif|jpeg|png)$/,
            //			loadImageFileTypes      :/^image\/(gif|jpeg|png)$/,
            url: 'http://test.dev/index.php', //'http://jquery-file-upload.appspot.com',
            dropZone: $uploader_drop_area,
            dataType: 'json',
            autoUpload: false,
            disableExifThumbnail: true,
            disableExifGps: true,
            disableExifSub: true,
            disableExif: true,
            disableImageHead: false,
        });
        $uploader_input.on(
        {
            'fileuploaddrop fileuploadadd': function()
            {
                uploaderShowMode('#uploader-loading');
            },
            'fileuploadprocessdone': function(e, data)
            {
                uploaderShowMode('#uploader-drop');
                console.log(data);
                var tpl = $(fileTemplate).clone();
                tpl.data('fileupload', data);
                tpl.find('.file-name').text(data.files[0].name);
                tpl.find('.file-size').text(formatFileSize(data.files[0].size));
                data.context = tpl.appendTo($uploader_files);
                if (!$uploader_files.is(':visible'))
                {
                    $uploader_files.fadeIn();
                }
                tpl.find('.b-uploader-file-delete').click(function()
                {
                    var $file = $(this).parents('.b-uploader-file');
                    if ($file.hasClass('send'))
                    {
                        $file.data('fileupload').abort();
                    }
                    $file.fadeOut(function()
                    {
                        $file.remove();
                    });
                });
                //				var jqXHR = data.submit();
                return true;
            },
            'fileuploadprocessfail': function(e, data)
            {
                var file = data.files[data.index];
                if (file.error)
                {
                    $uploader_error.find('.b-alert-message').text(file.error);
                    uploaderShowMode('#uploader-error,#uploader-drop');
                }
            },
            'fileuploadprogress': function(e, data)
            {
                // Calculate the completion percentage of the upload
                var progress = parseInt(data.loaded / data.total * 100, 10);
                data.context.find('.bar').css('width', progress + '%');
                if (progress == 100)
                {
                    setTimeout($.proxy(function()
                    {
                        this.removeClass('working');
                    }, data.context), 500)
                }
            }
        });
        $('#upload_save').on('click', function()
        {
            var $that = $(this);
            if (!$that.hasClass('send'))
            {
                $that.addClass('send');
                $uploader_files.find('.b-uploader-file:not(.uploaded,.send)').each(function()
                {
                    $(this).addClass('send');
                    $(this).data('fileupload').submit().done(function(response, status, xhr)
                    {
                        $(this).addClass('uploaded').data('uploaded', response.files[0]);
                    }).fail(function()
                    {
                        $(this).remove();
                    }).always(function()
                    {
                        $(this).removeClass('send');
                    });
                });
                $that.removeClass('send');
            }
        });
        $(window).on(
        {
            'drop dragover': function(e)
            {
                e.preventDefault();
                if (e.type == 'drop')
                {
                    $uploader_drop_area.removeClass('dragover');
                    return;
                }
                $uploader_drop_area.addClass('dragover');
            },
            'dragleave': function(ev)
            {
                $uploader_drop_area.removeClass('dragover');
            }
        });

        function formatFileSize(bytes)
        {
            if (typeof bytes !== 'number')
            {
                return '';
            }
            if (bytes >= 1000000000)
            {
                return (bytes / 1000000000).toFixed(2) + ' гб';
            }
            if (bytes >= 1000000)
            {
                return (bytes / 1000000).toFixed(2) + ' мб';
            }
            return (bytes / 1000).toFixed(2) + ' кб';
        }
    })(jQuery);
</script>