<form id="hands" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Вход</h4>
    </div>
    <div class="b-form-footer">
        <a href="#" class="a-link">Выйти</a>
    </div>
</form>