<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Изменить логотип компании</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group"> Максимальный размер файла 800x800, максимальный вес - 500кб.
            <br> Формат файла jpg или png. </div>
        <div class="b-form-group b-uploader b-uploader__singeImage">
            <div id="uploader-error" style="display: none;" class="m-b-b b-alert b-alert__theme-red">
                <div class="b-alert-icon">
                    <i class="_icon b-icon-386"></i>
                </div>
                <div class="b-alert-message"></div>
            </div>
            <div class="b-uploader-drop-outer">
                <div id="uploader-drop" class="b-uploader-drop">
                    <label id="uploader-drop-area" class="b-uploader-drop-container">
                        <input id="uploader-input" type="file" name="files[]" />
                        <span class="b-uploader-drop-title"> Переместите файл для загрузки сюда </span>
                    </label>
                    <div class="text-muted text-center m-t-b"> ИЛИ
                        <br>
                        <label for="uploader-input" class=" m-t-b b-button b-button__icon b-button__light">
                            <i class="_icon b-icon-upload"></i> Загрузить файл </label>
                    </div>
                </div>
                <div class="b-uploader-crop">
                    <div id="uploader-crop" class="b-uploader-crop-widget">
                        <div class="cropit">
                            <div class="cropit-outer">
                                <div class="cropit-image-preview-container b-logo-company-upload-container">
                                    <div class="cropit-image-preview"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-wrapper">
                            <span class="b-icon-387 _icon text-color-success"></span>
                            <input type="range" class="cropit-image-zoom-input custom">
                            <span class="b-icon-388 _icon text-color-success"></span>
                        </div>
                    </div>
                    <div id="uploader-preview" class="b-uploader-crop-result">
                        <div class="b-uploader-crop-result-container">
                            <a href="javascript:;" class="js-crop js-crop_result-delete / b-uploader-crop-result-imageBox">
                                <img class="img-responsive" src="" alt="" /> </a>
                        </div>
                        <div class="m-t-twnt text-center">
                            <label for="newFileUpload" class=" m-t-b b-button b-button__icon b-button__light">
                                <input type="file" id="newFileUpload">
                                <i class="_icon b-icon-upload"></i> Загрузить файл </label>
                        </div>
                    </div>
                </div>
                <div id="uploader-state">
                    <div id="uploader-loading" style="display: none;" class="helper-padding-xy-base bg-white">
                        <div class="b-loader" style="font-size: 14px;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="button" id="crop_save" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button data-dismiss="modal" type="button" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Отменить </button>
        </div>
    </div>
</form>
<script>
    var imageResult;
    (function($)
    {
        var $uploader = $('#uploader');
        var $uploader_loading = $('#uploader-loading', $uploader);
        var $uploader_error = $('#uploader-error', $uploader);
        var $uploader_drop = $('#uploader-drop', $uploader);
        var $uploader_drop_area = $('#uploader-drop-area', $uploader);
        var $uploader_crop = $('#uploader-crop', $uploader);
        var $uploader_preview = $('#uploader-preview', $uploader);
        var $uploader_input = $('#uploader-input', $uploader);
        var cropit = $('.cropit');

        function uploaderShowMode(mode)
        {
            var elements = $('#uploader-loading, #uploader-error, #uploader-drop,#uploader-crop, #uploader-preview, #uploader-input', $uploader);
            elements.not(mode).css(
            {
                display: 'none'
            });
            elements.filter(mode).slideDown(50);
        }
        cropit.cropit(
        {
            imageBackground: true,
            maxZoom: 1,
            smallImage: 'allow',
            '$fileInput': $('#newFileUpload'),
            '$zoomSlider': $uploader_crop.find('input.cropit-image-zoom-input'),
            'onFileChange': function()
            {
                uploaderShowMode('#uploader-loading');
                $('#crop_save').removeClass('cropped');
                this.onImageLoaded = function()
                {
                    uploaderShowMode('#uploader-crop');
                }
            },
            onFileReaderError: function()
            {
                $uploader_error.find('.b-alert-message').text('Error while loading image. Please choose valid image file.');
                uploaderShowMode('#uploader-error,#uploader-drop');
            }
        });
        $uploader_input.fileupload(
        {
            acceptFileTypes: /^image\/(gif|jpeg|png)$/,
            loadImageFileTypes: /^image\/(gif|jpeg|png)$/,
            url: 'http://test.dev/index.php', //'http://jquery-file-upload.appspot.com',
            dropZone: $uploader_drop_area,
            dataType: 'json',
            autoUpload: false,
            loadImageMaxFileSize: 30000000, // 30 Mb
            previewMaxWidth: 1000,
            previewMaxHeight: 1000,
            imageQuality: 1,
            imageForceResize: true,
            disableImageMetaDataLoad: false,
            disableExifThumbnail: true,
            disableExifGps: true,
            disableExifSub: true,
            disableExif: true,
            disableImageHead: false,
            previewCanvas: false,
            previewThumbnail: false,
            imageMaxWidth: 10000,
            imageMaxHeight: 10000,
            maxNumberOfFiles: 1,
            limitMultiFileUploads: 1,
            messages:
            {
                maxNumberOfFiles: 'Выбрано недопустимое количество файлов.',
                acceptFileTypes: 'Недопустимый формат выбранного файла.',
                maxFileSize: 'Выбранный файл больше максимально допустимого размера файла',
                minFileSize: 'Выбранный файл меньше минимально допустимого размера файла'
            }
        });
        $uploader_input.on(
        {
            'fileuploaddrop': function()
            {
                uploaderShowMode('#uploader-loading');
            },
            'fileuploadadd': function(e, data)
            {
                uploaderShowMode('#uploader-loading');
            },
            'fileuploadprocessfail': function(e, data)
            {
                var file = data.files[data.index];
                if (file.error)
                {
                    $uploader_error.find('.b-alert-message').text(file.error);
                    uploaderShowMode('#uploader-error,#uploader-drop');
                }
            },
            'fileuploadprocessdone': function(e, data)
            {
                var file = data.files[data.index];
                if (file.preview)
                {
                    cropit.cropit('imageSrc', file.preview.toDataURL());
                    uploaderShowMode('#uploader-crop');
                }
            }
        });
        $('#crop_save').on('click', function()
        {
            var $that = $(this);
            if ($that.hasClass('cropped'))
            {
                if ($that.hasClass('send'))
                {
                    return;
                }
                uploaderShowMode('#uploader-loading');
                $that.addClass('send');
                $.post($that.parents('form').attr('action'),
                {
                    img: imageResult
                });
                return;
            }
            imageResult = cropit.cropit('export',
            {
                type: 'image/jpeg',
                quality: 1,
                originalSize: true
            }) || false;
            if (imageResult)
            {
                var tpl = $('<a class="js-crop_result-delete b-uploader-crop-result-imageBox"></a>');
                $('<img/>').attr(
                {
                    'src': imageResult,
                    class: 'img-responsive'
                }).appendTo(tpl);
                $uploader_preview.children('.b-uploader-crop-result-container').html(tpl);
                uploaderShowMode('#uploader-preview');
                $that.addClass('cropped');
            }
        });
        $uploader_preview.on('click', '.js-crop_result-delete', function()
        {
            uploaderShowMode('#uploader-drop');
            $('#crop_save').removeClass('cropped');
            $(this).remove();
        });
        $(window).on(
        {
            'drop dragover': function(e)
            {
                e.preventDefault();
                if (e.type == 'drop')
                {
                    $uploader_drop_area.removeClass('dragover');
                    return;
                }
                $uploader_drop_area.addClass('dragover');
            },
            'dragleave': function(ev)
            {
                $uploader_drop_area.removeClass('dragover');
            }
        });

        function formatFileSize(bytes)
        {
            if (typeof bytes !== 'number')
            {
                return '';
            }
            if (bytes >= 1000000000)
            {
                return (bytes / 1000000000).toFixed(2) + ' гб';
            }
            if (bytes >= 1000000)
            {
                return (bytes / 1000000).toFixed(2) + ' мб';
            }
            return (bytes / 1000).toFixed(2) + ' кб';
        }
    })(jQuery);
</script>