<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Не распознанное лицо</h4>
    </div>
    <div class="clearfix b-form-container">
        <h2 class="text-center m-t-0 m-b-xs">John Doe</h2>
        <div class="text-center text-color-gray_light text-size__medium m-b-xs">Бухгалтер</div>
        <div class="b-face-recognition-container">
            <div class="b-face-recognition-container_thumbinail-container pull-left" id="gallery">
                <div class="b-thumbinail-item" id="thumb-img-1">
                    <label class="b-form-label" for="radio-img-1">
                        <input id="radio-img-1" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-1.jpg" alt="John Doe"> </label>
                </div>
                <div class="b-thumbinail-item" id="thumb-img-2">
                    <label class="b-form-label" for="radio-img-2">
                        <input id="radio-img-2" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-2.jpg" alt="John Doe"> </label>
                </div>
                <div class="b-thumbinail-item" id="thumb-img-3">
                    <label class="b-form-label" for="radio-img-3">
                        <input id="radio-img-3" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-3.jpg" alt="John Doe"> </label>
                </div>
                <div class="b-thumbinail-item" id="thumb-img-4">
                    <label class="b-form-label" for="radio-img-4">
                        <input id="radio-img-4" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-4.jpg" alt="John Doe"> </label>
                </div>
            </div>
            <div class="b-face-recognition-container_preview-container pull-left">
                <div class="b-preview-img-container">
                    <div class="b-percent-accuracy-index text-center">
                        <div class="b-button b-button__yellow">Точность
                            <span>45</span>%</div>
                        <!--<div class="b-button b-button__red">Точность <span>3</span>%</div>
                        <div class="b-button b-button__blue">Точность <span>70</span>%</div>
                        <div class="b-button b-button__green">Точность <span>90</span>%</div>--></div>
                    <img class="img-responsive" src="images/tmp/face-emotional-5.jpg" alt="John Doe" id="main-img"> </div>
                <div class="m-t-hg m-b-sm text-center">
                    <div class="inline-block clearfix">
                        <i class="b-icon-392 text-color-green text-size__high pull-left"></i>
                        <!--<i class="b-icon-391 text-color-danger text-size__high pull-left"></i>-->
                        <span class="inline-block m-l-m m-t-sm text-size__medium pull-left">Приход</span>
                    </div>
                </div>
            </div>
            <div class="b-face-recognition-container_thumbinail-container pull-right">
                <div class="b-thumbinail-item b-thumbinail-item__active" id="thumb-img-5">
                    <label class="b-form-label" for="radio-img-5">
                        <input id="radio-img-5" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-5.jpg" alt="John Doe"> </label>
                </div>
                <span class="inline-block text-output__nowrap text-size__base m-t-m">Похожие лица</span>
                <div class="b-thumbinail-item" id="thumb-img-6">
                    <label class="b-form-label" for="radio-img-6">
                        <input id="radio-img-6" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-6.jpg" alt="John Doe"> </label>
                </div>
                <div class="b-thumbinail-item" id="thumb-img-7">
                    <label class="b-form-label" for="radio-img-7">
                        <input id="radio-img-7" name="radio" class="b-form-controlCustom b-form-controlCustom__radio" type="radio">
                        <img class="img-responsive" src="images/tmp/face-emotional-7.jpg" alt="John Doe"> </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center text-color-darkgray text-size__base">
                <span>03.11.2017 10:49, Локация: Второй этаж</span>
            </div>
            <div class="b-form-group text-center text-color-darkgray text-size__base m-t-sm p-all-0">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus elit orci, vitae ultricies diam mollis et. Ut maximus, diam ac volutpat.</span>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-387"></i> Удалить отметку </button>
            <button type="submit" class="b-button b-button__yellow b-button__icon pull-right">
                <i class="_icon b-icon-389"></i> Пропустить отметку </button>
        </div>
    </div>
</form>
<script>
    // prepare the form when the DOM is ready
    $(document).ready(function()
    {
        $(".b-thumbinail-item img").click(function()
        {
            $('#main-img').attr('src', $(this).attr('src').replace('thumb/', ''));
        });
        $("#thumb-img-1").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-1').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-2").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-2').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-3").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-3').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-4").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-4').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-5").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-5').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-6").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-6').addClass('b-thumbinail-item__active');
        });
        $("#thumb-img-7").click(function()
        {
            $('.b-thumbinail-item').removeClass('b-thumbinail-item__active');
            $('#thumb-img-7').addClass('b-thumbinail-item__active');
        });
        var imgSwap = [];
        $(".b-thumbinail-item img").each(function()
        {
            imgUrl = this.src.replace('thumb/', '');
            imgSwap.push(imgUrl);
        });
        $(imgSwap).preload();
    });
    $.fn.preload = function()
    {
        this.each(function()
        {
            $('<img/>')[0].src = this;
        });
    }
</script>