<form id="uploader" action="" method="post" class="b-form" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Изменить фото</h4>
    </div>
    <div class="b-form-container">
        <div class="clearfix">
            <div class="b-form-group col-xs-3">
                <label for="timepicker" class="b-form-label"> Время </label>
                <div class="b-form-inputWrapper b-form-control">
                    <div class="b-form-inputWrapper">
                        <input id="timepicker" style="border: medium none;
                                        float: left;
                                        height: 22px;
                                        z-index:10;
                                        left: -4px;
                                        line-height: 20px;
                                        position: absolute;
                                        top: -2px;
                                        width: 53%;" type="text" class="b-form-control first-time b-timepicker b-form-control__input">
                        <i class="_icon b-icon-81"></i>
                    </div>
                    <div class="b-form-inputWrapper">
                        <input style="border: medium none;
                                        float: left;
                                        height: 22px;
                                        left: 42px;
                                        z-index:10;
                                        line-height: 20px;
                                        position: absolute;
                                        top: -2px;
                                        width: 53%;" id="timepicker" type="text" class="b-form-control second-time b-timepicker b-form-control__input">
                        <i class="_icon b-icon-81"></i>
                    </div>
                </div>
            </div>
            <div class="b-form-group col-xs-4">
                <label for="position" class="b-form-label"> Должность </label>
                <div class="b-form-inputWrapper">
                    <select name="" id="position" class="b-form-control b-form-control__select">
                        <option value="">Select item 1</option>
                        <option value="">Select item 2</option>
                    </select>
                    <i class="_icon b-icon-arrow-down-circle"></i>
                </div>
            </div>
            <div class="b-form-group col-xs-3">
                <label for="lunchTime" class="b-form-label"> Обед </label>
                <div class="b-form-inputWrapper">
                    <input type="text" class="b-form-control b-form-control__input" id="lunchTime">
                    <i class="_icon b-icon-179"></i>
                </div>
            </div>
            <div class="b-form-group col-xs-2">
                <label class="b-form-label"> &nbsp; </label>
                <div class="clearfix">
                    <a class="pull-right b-button b-button_icon b-button__light / b-icon-375 _icon" href="#"></a>
                </div>
            </div>
        </div>
        <div class="js-table">
            <div class="b-form-group col-xs-6">
                <label for="repeatEvery" class="b-form-label"> Повтор каждый </label>
                <div class="b-form-inputWrapper">
                    <select name="" id="repeatEvery" class="b-form-control b-form-control__select">
                        <option value="">Select item 1</option>
                        <option value="">Select item 2</option>
                    </select>
                    <i class="_icon b-icon-arrow-down-circle"></i>
                </div>
            </div>
            <div class="b-form-group col-xs-6">
                <label for="ending" class="b-form-label"> Конец </label>
                <div class="b-form-inputWrapper">
                    <input type="text" class="b-form-control b-form-control__input" id="ending">
                    <i class="_icon b-icon-179"></i>
                </div>
            </div>
        </div>
        <div class="b-form-group">
            <div class="b-form-inputWrapper">
                <textarea class="b-form-control b-form-control__input" style="min-height: 100px;"></textarea>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="button" id="crop_save" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button data-dismiss="modal" type="button" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Отменить </button>
        </div>
    </div>
</form>
<script>
    $('.b-timepicker').timepicker();
</script>