<form class="b-form" action="/" method="post">
    <div class="b-form-name">
        <div class="text-center">Welcome to Workly</div>
        <a href="#" class="b-button b-button__light pull-right">Skip</a>
    </div>
    <div class="b-form-container">
        <div class="text-center">
            <div class="b-badge__yellow b-badge__round_44">
                <i class="b-icon-464"></i>
            </div>
            <h3>Congragulations, Jack!</h3>
            <p class="text-size__medium"> You have successfully signed up! We know, that any new software is a struggle to learn, this we want to show you how to add information and use the system inside out. Follow simple steps with us and add information about your company. If you
                want to skip onboarding, simply press the button. </p>
        </div>
        <div class="b-form-group">
            <div class="b-form-group-item clearfix">
                <label class="b-form-label" for="LoginForm_name">Your company name</label>
                <input class="b-form-control b-form-control__input" required="required" id="LoginForm_name" type="text" /> </div>
            <div class="b-form-group-item clearfix">
                <label class="b-form-label"> Industry </label>
                <div class="b-form-inputWrapper">
                    <select name="" id="select2" class="js-select" style="width: 100%;">
                        <option value="">Eg. Hotel, restoran, hospitality, healthcare…</option>
                        <option value="">Lorem ipsum dolor sit amet</option>
                        <option value="">Mauris viverra elit viverra</option>
                        <option value="">Quisque fermentum scelerisque nunc</option>
                        <option value="">Pellentesque efficitur eros nibh</option>
                        <option value="">Aliquam et nisl erat</option>
                        <option value="">Quisque eu fermentum odio</option>
                        <option value="">Aenean commodo euismod velit</option>
                        <option value="">Interdum et malesuada fames</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group-item clearfix">
                <label class="b-form-label">Company size</label>
                <div class="btn-group radio-group-container" data-toggle="buttons">
                    <label class="btn b-button b-radio__light col-xs-3 active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> 1 - 10 </label>
                    <label class="btn b-button b-radio__light col-xs-3">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 11 - 50 </label>
                    <label class="btn b-button b-radio__light col-xs-3">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 51 - 200 </label>
                    <label class="btn b-button b-radio__light col-xs-3">
                        <input type="radio" name="options" id="option4" autocomplete="off"> 201 - 1000 </label>
                </div>
            </div>
        </div>
    </div>
    <div class="b-form-footer b-pagination-items clearfix">
        <a href="#" class="b-pagination-item b-pagination-item__next b-button b-button_icon b-button__green / b-icon-right-arrow pull-right"></a>
    </div>
</form>
<script src="js/main.js"></script>