<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Robert Webb</h4>
</div>
<div class="modal-body p-all-0">
    <div id="EmployeeImgList" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner b-employee-img-list-container">
            <div class="item active">
                <img class="img-responsive" src="images/tmp/emp_1.jpg" alt="Robert Webb"> </div>
            <div class="item">
                <img src="images/tmp/emp_2.jpg" alt="Robert Webb"> </div>
            <div class="item">
                <img src="images/tmp/emp_3.jpg" alt="Robert Webb"> </div>
            <div class="item">
                <img src="images/tmp/emp_4.jpg" alt="Robert Webb"> </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#EmployeeImgList" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#EmployeeImgList" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>