<form id="changePassword" action="" class="b-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Изменить пароль</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <label class="b-form-label" for="element_1"> Текущий пароль </label>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_1" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-unlock"></i>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="element_2"> Новый пароль </label>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_2" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-unlock"></i>
            </div>
        </div>
        <div class="b-form-group">
            <label class="b-form-label" for="element_3"> Подтвердить пароль </label>
            <div class="b-form-inputWrapper">
                <input type="text" id="element_3" class="b-form-control b-form-control__input" />
                <i class="_icon b-icon-unlock"></i>
            </div>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-578"></i> Сохранить </button>
            <button type="submit" class="b-button b-button__red b-button__icon pull-right">
                <i class="_icon b-icon-387"></i> Отменить </button>
        </div>
    </div>
</form>