<form id="deviceAddForm" action="" class="b-form b-form__addDevice">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Добавление нового устройства</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group b-form-group__inline">
            <label class="b-form-label">Выбрать тип устройства</label>
            <div class="b-form-group-row">
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper">
                        <label data-target="#device-timepad" data-parent="#deviceAddForm" class="js-Toggling-toggler active b-form-label" for="timepad">
                            <input type="radio" id="timepad" name="radio" checked class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">TimePad</span>
                        </label>
                    </div>
                </div>
                <div class="pull-left b-form-group-column">
                    <div class="b-form-inputWrapper">
                        <label data-target="#device-terminal" data-parent="#deviceAddForm" class="js-Toggling-toggler b-form-label" for="terminal">
                            <input type="radio" id="terminal" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                            <i class="radio-control radio-control__circle"></i>
                            <span class="radio-control radio-control__text">Терминал</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="device-timepad" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__timepad active">
            <div class="b-form-group m-b-0">
                <strong>Скачать TimePad приложение</strong>
                <br>
                <p>Чтобы добавить Biotrack TimePad в систему, скачайте приложение на ваш Android или iOS, бесплатно.</p>
            </div>
            <div class="b-form-group b-form-footer b-button-panel">
                <a href="#" class="b-button b-button__icon b-button__gray pull-right">
                    <i class="_icon-image / img-icon img-icon__playstore-logo"></i>Скачать для Android </a>
                <a href="#" class="b-button b-button__icon b-button__gray pull-right">
                    <i class="_icon-image / img-icon img-icon__apple-logo"></i>Скачать для iOS </a>
            </div>
        </div>
        <div id="device-terminal" class="js-Toggling-section b-deviceFormGroup b-deviceFormGroup__terminal">
            <div class="b-form-group  col-xs-6">
                <label class="b-form-label" for="el-1"> Производитель </label>
                <div class="b-form-inputWrapper">
                    <select id="el-1" name="" class="js-select" style="width: 100%;">
                        <option value="">Alcatel</option>
                        <option value="">Apple</option>
                        <option value="">Explay</option>
                        <option value="">Fly</option>
                        <option value="">HTC</option>
                        <option value="">Huawei</option>
                        <option value="">Lenovo</option>
                        <option value="">LG Electronics</option>
                        <option value="">Meizu</option>
                        <option value="">Micromax</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group  col-xs-6">
                <label class="b-form-label" for="el-2"> Модель устройства </label>
                <div class="b-form-inputWrapper">
                    <select id="el-2" name="" class="js-select" style="width: 100%;">
                        <option value="">Microsoft Mobile</option>
                        <option value="">Motorola</option>
                        <option value="">Nokia</option>
                        <option value="">Olive Telecom</option>
                        <option value="">OnePlus</option>
                        <option value="">OPPO Electronics</option>
                        <option value="">Panasonic</option>
                        <option value="">Pantech Curitel</option>
                        <option value="">Philips</option>
                        <option value="">Sanyo</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group  col-xs-6">
                <label class="b-form-label" for="device_name"> Имя устройства </label>
                <div class="b-form-inputWrapper">
                    <input type="text" class="b-form-control b-form-control__input" id="device_name" /> </div>
            </div>
            <div class="b-form-group  col-xs-6">
                <label class="b-form-label" for="serial"> Серийный номер </label>
                <div class="b-form-inputWrapper">
                    <input type="text" class="b-form-control b-form-control__input" id="serial" /> </div>
            </div>
            <div class="b-form-group col-xs-6">
                <label class="b-form-label" for="location"> Локация </label>
                <div class="b-form-inputWrapper">
                    <select name="" id="location" class="js-select" style="width: 100%;">
                        <option value="">Afghanistan</option>
                        <option value="">Albania</option>
                        <option value="">Algeria</option>
                        <option value="">Andorra</option>
                        <option value="">Angola</option>
                        <option value="">Antigua and Barbuda</option>
                        <option value="">Argentina</option>
                        <option value="">Armenia</option>
                        <option value="">Aruba</option>
                        <option value="">Australia</option>
                        <option value="">Austria</option>
                        <option value="">Azerbaijan</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group col-xs-6">
                <label class="b-form-label" for="timezone"> Часовой пояс </label>
                <div class="b-form-inputWrapper">
                    <select name="" id="timezone" class="js-select" style="width: 100%;">
                        <option value="">GMT (00:00)</option>
                        <option value="">GMT (00:30)</option>
                        <option value="">GMT (+01:00)</option>
                        <option value="">GMT (+01:30)</option>
                        <option value="">GMT (+02:00)</option>
                        <option value="">GMT (+02:30)</option>
                    </select>
                </div>
            </div>
            <div class="b-form-group col-xs-6">
                <label class="b-form-label b-switcher"> Для входа
                    <span class="b-switcher-options pull-right">
                        <input type="checkbox" class="b-switcher-options-checkbox" />
                        <span class="b-switcher-options-label">
                            <span class="b-switcher-options-inner"></span>
                            <span class="b-switcher-options-switch"></span>
                        </span>
                    </span>
                </label>
            </div>
            <div class="b-form-group col-xs-6">
                <label class="b-form-label b-switcher"> Для выхода
                    <span class="b-switcher-options pull-right">
                        <input type="checkbox" class="b-switcher-options-checkbox" />
                        <span class="b-switcher-options-label">
                            <span class="b-switcher-options-inner"></span>
                            <span class="b-switcher-options-switch"></span>
                        </span>
                    </span>
                </label>
            </div>
            <div class="b-form-group b-form-group__inline">
                <div class="b-form-group-row">
                    <div class="col-sm-3 b-form-group-column">
                        <label class="b-form-label" for="input_code">Код входа</label>
                        <div class="b-form-inputWrapper">
                            <input type="text" class="b-form-control b-form-control__input" id="input_code"> </div>
                    </div>
                    <div class="col-sm-3 b-form-group-column">
                        <label class="b-form-label" for="output_code">Код выхода</label>
                        <div class="b-form-inputWrapper">
                            <input type="text" class="b-form-control b-form-control__input" id="output_code"> </div>
                    </div>
                    <div class="col-sm-3 b-form-group-column">
                        <label class="b-form-label" for="f3">F3</label>
                        <div class="b-form-inputWrapper">
                            <input type="text" class="b-form-control b-form-control__input" id="f3"> </div>
                    </div>
                    <div class="col-sm-3 b-form-group-column">
                        <label class="b-form-label" for="f4">F4</label>
                        <div class="b-form-inputWrapper">
                            <input type="text" class="b-form-control b-form-control__input" id="f4"> </div>
                    </div>
                </div>
                <div class="b-form-postscript"> Какой код отправляет ваше усторойство, для входа и выхода? </div>
            </div>
            <div class="b-form-group b-form-footer">
                <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                    <i class="_icon b-icon-578"></i> Сохранить </button>
            </div>
        </div>
    </div>
</form>
<!-- Main.JS -->
<script src="js/main.js"></script>
<!--<script>
	(function($)
	{
		$('#deviceAddForm .js-select').select2({
			theme         :"workly",
			dropdownParent:".modal"
		});
		$('#deviceAddForm .js-slider').jCarouselLite({
			btnNext :".js-slider-control-next",
			btnPrev :".js-slider-control-prev",
			visible :8,
			circular:false
		});
	})(jQuery)
</script>-->
<script>
    var touchSpinOptions = {
        min: 0,
        max: 100,
        buttondown_class: 'bootstrap-touchspin-down / b-button b-button_icon b-button__green / b-icon-387',
        buttonup_class: 'bootstrap-touchspin-up / b-button b-button_icon b-button__green / b-icon-388',
        buttondown_txt: '',
        buttonup_txt: ''
    };
    (function($)
    {
        $('#expenseAddForm .js-select').select2(
        {
            theme: "workly"
        });
        /*$(".js-ionRangeSlider").ionRangeSlider({
         grid        :true,
         hide_min_max:true,
         force_edges :true,
         grid_margin:false
         });*/
        $('.js-spin').TouchSpin(touchSpinOptions);
        $(document).on('click', '.js-product-delete', function(e)
        {
            e.preventDefault();
            $(this).parent('.product-item').slideUp(function()
            {
                $(this).remove();
                $('.js-cloning-caller.product-button_add').data('cloning-copies_count', ($('.js-cloning-caller.product-button_add').data('cloning-copies_count') - 1)).show();
            });
        });
    })(jQuery);

    function beforeCloneRow(event, $caller, collection)
    {
        collection.copy.css(
        {
            display: ''
        }).addClass('m-t-hg').append('<a href="javascript:;" class="m_back-l-m text-color-danger b-button b-button_icon js-product-delete b-icon-386"></a>');
        collection.copy.find('.product-item-quantity').html(collection.copy.find('.js-spin'));
        $('.js-spin', collection.copy).removeData().TouchSpin(touchSpinOptions);
    }

    function afterCloneRow(event, $caller, collection)
    {
        if (collection.counter == $caller.data('cloning-limit'))
        {
            $caller.hide(5);
        }
        return false;
    }
</script>