<form id="rangeDepartmentForm" action="" class="b-form b-form__ranges">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Создать диапазон для отдела</h4>
    </div>
    <div class="b-form-container">
        <div class="b-form-group">
            <label class="b-form-label" for="el-1"> Отдел </label>
            <div class="b-form-inputWrapper">
                <select id="el-1" name="" class="js-select" style="width: 100%;">
                    <option value="">Выбрать отдел</option>
                    <option value="">Отдел 1</option>
                    <option value="">Отдел 2</option>
                </select>
            </div>
        </div>
        <div class="range-section">
            <div class="b-form-group b-form-group__inline">
                <label class="b-form-label">Диапазон *</label>
                <div class="b-form-group-row / m-t-m">
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label data-target="#SLIDER-HOURS" data-parent="#rangeDepartmentForm" class="js-Toggling-toggler active b-form-label">
                                <input type="radio" name="radio" checked class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text / text-size__base">Указанные часы</span>
                            </label>
                        </div>
                    </div>
                    <div class="pull-left b-form-group-column">
                        <div class="b-form-inputWrapper">
                            <label data-target="#SLIDER-DAYS" data-parent="#rangeDepartmentForm" class="js-Toggling-toggler b-form-label">
                                <input type="radio" name="radio" class="b-form-controlCustom b-form-controlCustom__radio">
                                <i class="radio-control radio-control__circle"></i>
                                <span class="radio-control radio-control__text / text-size__base">День</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="SLIDER-HOURS" class="m_back-t-m helper-relativeParent js-Toggling-section active">
                    <input data-type="double" data-drag-interval="true" data-from="14" data-to="16" data-postfix=":00" data-min="00" data-max="24" data-grid-num="8" type="text" class="js-ionRangeSlider" /> </div>
                <div id="SLIDER-DAYS" class="m_back-t-m helper-relativeParent js-Toggling-section hide">
                    <input data-min="1" data-max="99" data-grid-num="10" type="text" class="js-ionRangeSlider" /> </div>
            </div>
            <div class="clearfix / approver">
                <div class="b-form-group col-xs-11">
                    <label class="b-form-label">Утверждающий</label>
                    <div class="approver-item row">
                        <div class="b-form-inputWrapper col-xs-11">
                            <select class="js-select / b-form-control b-form-control__select">
                                <option value="1">Сотрудник 1</option>
                                <option value="2">Сотрудник 2</option>
                                <option value="3">Сотрудник 3</option>
                                <option value="4">Сотрудник 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="approver-item row m-t-b">
                        <div class="b-form-inputWrapper col-xs-11">
                            <select class="js-select / b-form-control b-form-control__select">
                                <option value="1">Сотрудник 1</option>
                                <option value="2">Сотрудник 2</option>
                                <option value="3">Сотрудник 3</option>
                                <option value="4">Сотрудник 4</option>
                            </select>
                        </div>
                        <a href="javascript:;" class="m_back-l-b text-color-danger b-button b-button_icon js-approver-delete b-icon-386"></a>
                    </div>
                    <div class="approver-item row m-t-b">
                        <div class="b-form-inputWrapper col-xs-11">
                            <select class="js-select / b-form-control b-form-control__select">
                                <option value="1">Сотрудник 1</option>
                                <option value="2">Сотрудник 2</option>
                                <option value="3">Сотрудник 3</option>
                                <option value="4">Сотрудник 4</option>
                            </select>
                        </div>
                        <a href="javascript:;" class="m_back-l-b text-color-danger b-button b-button_icon js-approver-delete b-icon-386"></a>
                    </div>
                </div>
                <div class="inline-block va__bottom">
                    <a href="#" class="approver-button_add b-button b-button_icon b-button__light / b-icon-388" data-cloning-copies_count="3" data-cloning-after="afterCloneRow" data-cloning-before="beforeCloneRow"></a>
                </div>
            </div>
            <div class="range-section-remove">
                <a href="javascript:;" class="range-section-remove-button / b-icon-473 /  js-range-delete js-tooltip" title="Удалить диапазон"></a>
            </div>
        </div>
        <div class="b-form-group">
            <p class="m-b-lg text-color-darkgray">* Максимальное количество Товаров в одной смете - 4</p>
            <p class="m-b-lg text-color-darkgray">** Максимальное количество Диапазонов - 5</p>
        </div>
        <div class="b-form-group / b-button-panel b-form-footer">
            <button type="submit" class="b-button b-button__green b-button__icon pull-right">
                <i class="_icon b-icon-182"></i> Сохранить </button>
            <button type="submit" class="pull-right b-button b-button__blue b-button__icon pull-right">
                <i class="_icon b-icon-388"></i> Добавить диапазон </button>
        </div>
    </div>
</form>
<script>
    (function($)
    {
        $('#rangeDepartmentForm .js-select').each(function()
        {
            $(this).data('original-select', $(this).clone(true));
            $(this).select2(
            {
                theme: "workly"
            });
        });
        $(".js-ionRangeSlider").ionRangeSlider(
        {
            grid: true,
            hide_min_max: true,
            force_edges: true,
            prefix: '',
            grid_margin: false
        });
        $(document).on('click', '.js-approver-delete', function(e)
        {
            e.preventDefault();
            $(this).parents('.approver-item').slideUp(function()
            {
                $(this).parents('.approver').find('.js-cloning-caller.approver-button_add').show();
                $(this).remove();
            });
        }).on('click', '.approver-button_add', function(e)
        {
            e.preventDefault();
            var approver = $(this).parents('.approver').find('.approver-item:last'),
                copy = approver.clone(true),
                selectbox = copy.find('.js-select').data('original-select');
            copy.find('.js-select').parent().html(selectbox);
            //////////////////////////////////////////////
            insertRow.call(copy, approver);
        }).on('click', '.js-range-delete', function()
        {
            $(this).parents('.range-section').slideUp(200, function()
            {
                $(this).remove();
            });
        });
    })(jQuery);

    function insertRow(context)
    {
        $(context).after(this);
        $(this).find('.js-select').data('original-select', $(this).find('.js-select').clone(true)).select2(
        {
            theme: "workly"
        });
    }
</script>