&-total
{
	position : relative;
	padding  : 30px 25px;

	&-visual
	{
		border-radius : 100%;
		border        : 1px solid @brand-silver;

		.canvas-outer
		{
			line-height : 0;
			font-size   : 0;
			cursor      : pointer;
		}

		&-fallback
		{
			width         : 40%;
			height        : 40%;
			line-height   : 100%;
			border-radius : 50%;
			position      : absolute;
			top           : 50%;
			left          : 50%;
			margin        : -20% 0 0 -20%;
			background    : #FFF;

			&:before
			{
				border-radius : 50%;
				content       : '';
				position      : absolute;
				z-index       : 1;
				left          : 10px;
				right         : 10px;
				bottom        : 10px;
				top           : 10px;
				border        : 1px solid #E8E8E8;
			}
		}
	}

	&-counter
	{
		color          : @brand-darkgray;
		font-size      : 36px;
		line-height    : 1;
		display        : inline-block;
		text-align     : center;
		vertical-align : top;
		position       : absolute;
		top            : 0;
		left           : 0;
		padding        : 30% 0;
		right          : 0;
		bottom         : 0;

		&-label
		{
			color       : @brand-info;
			font-size   : 10px;
			line-height : 13px;
			display     : block;
			margin-top  : 5px;
		}
	}

}
