.a-link
{
	text-decoration : none;
	cursor          : pointer;

	&:hover,
	&:focus
	{
		text-decoration : underline;
	}

	&-reverse
	{
		text-decoration : underline;

		&:hover,
		&:focus
		{
			text-decoration : none;
		}
	}

	&_simple
	{
		text-decoration : none !important;
		cursor          : pointer;
	}

	&-disabled
	{
		cursor          : default;
		text-decoration : none !important;
	}

	&_close
	{
		font-size       : 8px;
		text-decoration : none !important;
	}
}

.va // vertical-align <span class="va__top"></span>
{
	&__top
	{
		vertical-align : top;
	}
	&__middle
	{
		vertical-align : middle;
	}
	&__bottom
	{
		vertical-align : bottom;
	}
}

.inline-block
{
	.inline-block();
}

.text
{
	&-overflow
	{
		display       : block;
		white-space   : nowrap;
		text-overflow : ellipsis;
		overflow      : hidden;
	}

	@small: 11px;
	@base: 12px;
	@medium: 14px;
	@large: 16px;
	@big: 18px;
	@high: 20px;

	.sizes(@variants,@i:1) when (@i <= length(@variants))
	{

		@name: extract(@variants, @i);

		&-size__@{name}
		{
			font-size : @@name;
		}
		.sizes(@variants, @i + 1);
	} // .text-size__small

	.sizes(small base medium large big high);

	&-color
	{

		@variants: primary success info danger warning silver gray darkgray gray-eee white green;

		.text-color(@variants, @pos:1) when (@pos <= length(@variants))
		{
			@variant: extract(@variants, @pos);
			@variable: "brand-@{variant}";

			&-@{variant}
			{
				color : @@variable;
				a&:hover
				{
					color : darken(@@variable, 10%);
				}
			}

			.text-color(@variants, @pos + 1)
		}// .text-color-success

		.text-color(@variants);
		
		
		&-inherit
		{
			color : inherit;
		}
	}
}

.helper-hovered
{
	@b: ~'.helper-hovered';
	@{b}-onhover_show
	{
		display : none;
		height  : 1px;
	}
	@{b}-onhover_hide
	{
		display : block;
		height  : auto !important;
	}

	&:hover @{b}-onhover_show
	{
		display : block;
		height  : auto !important;
	}
	&:hover @{b}-onhover_hide
	{
		display : none;
		height  : 1px !important;
	}

	&Visibility
	{
		@{b}-onhover_show
		{
			visibility : hidden;
		}
		@{b}-onhover_hide
		{
			visibility : visible;
		}

		&:hover @{b}-onhover_show
		{
			visibility : visible;
		}
		&:hover @{b}-onhover_hide
		{
			visibility : hidden;
		}
	}
}

.link-backward
{
	color          : #4C4C4C;
	vertical-align : middle;

	._icon
	{
		vertical-align : middle;
		color          : @brand-success;
		margin-right   : 10px;
		font-size      : 5px;
	}
}

.helper-padding
{
	@paddingBox-null: 0px;
	@paddingBox-extra_small: 5px;
	@paddingBox-small: 10px;
	@paddingBox-medium: 15px;
	@paddingBox-base: 20px;
	@paddingBox-large: 25px;

	@types: null extra_small small medium base large;

	.generator(@types, @i: 1) when (@i <= length(@types))
	{
		@type: extract(@types, @i);
		@variable: "paddingBox-@{type}";

		&-xy-@{type},
		&-x-@{type}
		{
			padding-left  : @@variable;
			padding-right : @@variable;
		}

		&-xy-@{type},
		&-y-@{type}
		{
			padding-top    : @@variable;
			padding-bottom : @@variable;
		}

		.generator(@types, @i + 1);
	}

	.generator(@types);

	&_canceller
	{
		.generatorCanceller(@types, @i: 1) when (@i <= length(@types))
		{
			@type: extract(@types, @i);
			@variable: "paddingBox-@{type}";

			&-xy-@{type},
			&-x-@{type}
			{
				margin-left  : -@@variable;
				margin-right : -@@variable;
			}

			&-xy-@{type},
			&-y-@{type}
			{
				margin-top    : -@@variable;
				margin-bottom : -@@variable;
			}

			.generatorCanceller(@types, @i + 1);
		}

		.generatorCanceller(@types);
	}
}

.container-fluid
{
	.container-fixed(40px);
}	

.helper-relativeParent
{
	position : relative;
}

.helper-ovh
{
	overflow : hidden;
}
.helper-ovVis
{
  overflow : visible !important;
}

.bg
{

	@variants: primary success info danger warning silver gray darkgray gray-eee white green;

	.make-variants(@variants, @pos:1) when (@pos <= length(@variants))
	{
		@variant: extract(@variants, @pos);
		@variable: "brand-@{variant}";

		&-@{variant}
		{
			.bg-variant(@@variable);
		}

		.make-variants(@variants, @pos + 1)
	}

	.make-variants(@variants);
}

// margin classes
// - - - - - - - - - -
// extra small
@margin-xs: xs 2px;
// smll
@margin-sm: sm 4px;
// medium
@margin-m: m 6px;
// large
@margin-lg: lg 8px;
// huge
@margin-hg: hg 12px;
// big
@margin-b: b 15px;
// twenty
@margin-twnt: twnt 20px;

.margin-short(@data,@pos:1) when (@pos <= length(@data))
{
	@dataset: extract(@data,@pos);
	@prefix: extract(@@dataset, 1);
	@value: extract(@@dataset, 2);

	.m-t-@{prefix},
	.m-all-@{prefix}
	{
		margin-top : @value;
	}

	.m-r-@{prefix},
	.m-all-@{prefix}
	{
		margin-right : @value;
	}

	.m-b-@{prefix},
	.m-all-@{prefix}
	{
		margin-bottom : @value;
	}

	.m-l-@{prefix}
	{
		margin-left : @value;
	}

	.m_back-t-@{prefix}
	{
		margin-top : ~'-@{value}';
	}

	.m_back-r-@{prefix}
	{
		margin-right : ~'-@{value}';
	}

	.m_back-b-@{prefix}
	{
		margin-bottom : ~'-@{value}';
	}

	.m_back-l-@{prefix}
	{
		margin-left : ~'-@{value}';
	}

	.margin-short(@data, @pos + 1);
}
.helper__visible{
  overflow: visible !important;
}
.margin-short(margin-xs margin-sm margin-m margin-lg margin-hg margin-b margin-twnt);

