// ****
// **** //TODO load package /twbs/bootstrap
// ****
@import "bootstrap";
@import "variables";
@import "mixins";
@import "typography";
@import "helpers";
@import "sprite";

.img-icon
{
	display        : inline-block;
	*display       : inline;
	*zoom          : 1;
	vertical-align : middle;
	.sprites(@spritesheet-sprites);
}

// ****
// **** //TODO INCLUDE  fontello.css
// ****
@import './fontello/include.less';


.b-icon__rotate
{
	/*
	.rotate(@degrees) {
		-webkit-transform: rotate(@degrees);
		-ms-transform: rotate(@degrees); // IE9 only
		-o-transform: rotate(@degrees);
		transform: rotate(@degrees);
	}*/

	&_90:before // |-
	{
		filter    : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		transform : rotate(90deg);
	}
	&_180:before // |
	{
		filter : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		.rotate(180deg);
	}
	&_270:before // -|
	{
		filter    : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		transform : rotate(-90deg);
	}
}

// ****
// **** //TODO load packages from bower_components
// ****
@import "bower_loader";
