/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@img-icon-apple-logo-name: img-icon__apple-logo;
@img-icon-apple-logo-x: 0px;
@img-icon-apple-logo-y: 39px;
@img-icon-apple-logo-offset-x: 0px;
@img-icon-apple-logo-offset-y: -39px;
@img-icon-apple-logo-width: 12px;
@img-icon-apple-logo-height: 14px;
@img-icon-apple-logo-total-width: 50px;
@img-icon-apple-logo-total-height: 410px;
@img-icon-apple-logo-image: '../i/bg/sprite.png';
@img-icon-apple-logo: 0px 39px 0px -39px 12px 14px 50px 410px '../i/bg/sprite.png' img-icon__apple-logo;
@img-icon-arrow-left-gray-name: img-icon__arrow__left__gray;
@img-icon-arrow-left-gray-x: 0px;
@img-icon-arrow-left-gray-y: 26px;
@img-icon-arrow-left-gray-offset-x: 0px;
@img-icon-arrow-left-gray-offset-y: -26px;
@img-icon-arrow-left-gray-width: 9px;
@img-icon-arrow-left-gray-height: 13px;
@img-icon-arrow-left-gray-total-width: 50px;
@img-icon-arrow-left-gray-total-height: 410px;
@img-icon-arrow-left-gray-image: '../i/bg/sprite.png';
@img-icon-arrow-left-gray: 0px 26px 0px -26px 9px 13px 50px 410px '../i/bg/sprite.png' img-icon__arrow__left__gray;
@img-icon-arrow-right-gray-name: img-icon__arrow__right__gray;
@img-icon-arrow-right-gray-x: 0px;
@img-icon-arrow-right-gray-y: 13px;
@img-icon-arrow-right-gray-offset-x: 0px;
@img-icon-arrow-right-gray-offset-y: -13px;
@img-icon-arrow-right-gray-width: 9px;
@img-icon-arrow-right-gray-height: 13px;
@img-icon-arrow-right-gray-total-width: 50px;
@img-icon-arrow-right-gray-total-height: 410px;
@img-icon-arrow-right-gray-image: '../i/bg/sprite.png';
@img-icon-arrow-right-gray: 0px 13px 0px -13px 9px 13px 50px 410px '../i/bg/sprite.png' img-icon__arrow__right__gray;
@img-icon-badge-name: img-icon__badge;
@img-icon-badge-x: 0px;
@img-icon-badge-y: 320px;
@img-icon-badge-offset-x: 0px;
@img-icon-badge-offset-y: -320px;
@img-icon-badge-width: 30px;
@img-icon-badge-height: 40px;
@img-icon-badge-total-width: 50px;
@img-icon-badge-total-height: 410px;
@img-icon-badge-image: '../i/bg/sprite.png';
@img-icon-badge: 0px 320px 0px -320px 30px 40px 50px 410px '../i/bg/sprite.png' img-icon__badge;
@img-icon-device-timepad-name: img-icon__device-timepad;
@img-icon-device-timepad-x: 0px;
@img-icon-device-timepad-y: 360px;
@img-icon-device-timepad-offset-x: 0px;
@img-icon-device-timepad-offset-y: -360px;
@img-icon-device-timepad-width: 50px;
@img-icon-device-timepad-height: 50px;
@img-icon-device-timepad-total-width: 50px;
@img-icon-device-timepad-total-height: 410px;
@img-icon-device-timepad-image: '../i/bg/sprite.png';
@img-icon-device-timepad: 0px 360px 0px -360px 50px 50px 50px 410px '../i/bg/sprite.png' img-icon__device-timepad;
@img-icon-file-archive-name: img-icon__file-archive;
@img-icon-file-archive-x: 0px;
@img-icon-file-archive-y: 154px;
@img-icon-file-archive-offset-x: 0px;
@img-icon-file-archive-offset-y: -154px;
@img-icon-file-archive-width: 24px;
@img-icon-file-archive-height: 24px;
@img-icon-file-archive-total-width: 50px;
@img-icon-file-archive-total-height: 410px;
@img-icon-file-archive-image: '../i/bg/sprite.png';
@img-icon-file-archive: 0px 154px 0px -154px 24px 24px 50px 410px '../i/bg/sprite.png' img-icon__file-archive;
@img-icon-file-document-name: img-icon__file-document;
@img-icon-file-document-x: 0px;
@img-icon-file-document-y: 130px;
@img-icon-file-document-offset-x: 0px;
@img-icon-file-document-offset-y: -130px;
@img-icon-file-document-width: 24px;
@img-icon-file-document-height: 24px;
@img-icon-file-document-total-width: 50px;
@img-icon-file-document-total-height: 410px;
@img-icon-file-document-image: '../i/bg/sprite.png';
@img-icon-file-document: 0px 130px 0px -130px 24px 24px 50px 410px '../i/bg/sprite.png' img-icon__file-document;
@img-icon-file-picture-name: img-icon__file-picture;
@img-icon-file-picture-x: 0px;
@img-icon-file-picture-y: 178px;
@img-icon-file-picture-offset-x: 0px;
@img-icon-file-picture-offset-y: -178px;
@img-icon-file-picture-width: 24px;
@img-icon-file-picture-height: 24px;
@img-icon-file-picture-total-width: 50px;
@img-icon-file-picture-total-height: 410px;
@img-icon-file-picture-image: '../i/bg/sprite.png';
@img-icon-file-picture: 0px 178px 0px -178px 24px 24px 50px 410px '../i/bg/sprite.png' img-icon__file-picture;
@img-icon-file-video-name: img-icon__file-video;
@img-icon-file-video-x: 0px;
@img-icon-file-video-y: 227px;
@img-icon-file-video-offset-x: 0px;
@img-icon-file-video-offset-y: -227px;
@img-icon-file-video-width: 16px;
@img-icon-file-video-height: 25px;
@img-icon-file-video-total-width: 50px;
@img-icon-file-video-total-height: 410px;
@img-icon-file-video-image: '../i/bg/sprite.png';
@img-icon-file-video: 0px 227px 0px -227px 16px 25px 50px 410px '../i/bg/sprite.png' img-icon__file-video;
@img-icon-mastercard-name: img-icon__mastercard;
@img-icon-mastercard-x: 0px;
@img-icon-mastercard-y: 106px;
@img-icon-mastercard-offset-x: 0px;
@img-icon-mastercard-offset-y: -106px;
@img-icon-mastercard-width: 37px;
@img-icon-mastercard-height: 24px;
@img-icon-mastercard-total-width: 50px;
@img-icon-mastercard-total-height: 410px;
@img-icon-mastercard-image: '../i/bg/sprite.png';
@img-icon-mastercard: 0px 106px 0px -106px 37px 24px 50px 410px '../i/bg/sprite.png' img-icon__mastercard;
@img-icon-playstore-logo-name: img-icon__playstore-logo;
@img-icon-playstore-logo-x: 0px;
@img-icon-playstore-logo-y: 0px;
@img-icon-playstore-logo-offset-x: 0px;
@img-icon-playstore-logo-offset-y: 0px;
@img-icon-playstore-logo-width: 11px;
@img-icon-playstore-logo-height: 13px;
@img-icon-playstore-logo-total-width: 50px;
@img-icon-playstore-logo-total-height: 410px;
@img-icon-playstore-logo-image: '../i/bg/sprite.png';
@img-icon-playstore-logo: 0px 0px 0px 0px 11px 13px 50px 410px '../i/bg/sprite.png' img-icon__playstore-logo;
@img-icon-spinner-minus-name: img-icon__spinner-minus;
@img-icon-spinner-minus-x: 0px;
@img-icon-spinner-minus-y: 70px;
@img-icon-spinner-minus-offset-x: 0px;
@img-icon-spinner-minus-offset-y: -70px;
@img-icon-spinner-minus-width: 18px;
@img-icon-spinner-minus-height: 18px;
@img-icon-spinner-minus-total-width: 50px;
@img-icon-spinner-minus-total-height: 410px;
@img-icon-spinner-minus-image: '../i/bg/sprite.png';
@img-icon-spinner-minus: 0px 70px 0px -70px 18px 18px 50px 410px '../i/bg/sprite.png' img-icon__spinner-minus;
@img-icon-spinner-plus-name: img-icon__spinner-plus;
@img-icon-spinner-plus-x: 0px;
@img-icon-spinner-plus-y: 88px;
@img-icon-spinner-plus-offset-x: 0px;
@img-icon-spinner-plus-offset-y: -88px;
@img-icon-spinner-plus-width: 18px;
@img-icon-spinner-plus-height: 18px;
@img-icon-spinner-plus-total-width: 50px;
@img-icon-spinner-plus-total-height: 410px;
@img-icon-spinner-plus-image: '../i/bg/sprite.png';
@img-icon-spinner-plus: 0px 88px 0px -88px 18px 18px 50px 410px '../i/bg/sprite.png' img-icon__spinner-plus;
@img-icon-timepad-location-name: img-icon__timepad-location;
@img-icon-timepad-location-x: 0px;
@img-icon-timepad-location-y: 53px;
@img-icon-timepad-location-offset-x: 0px;
@img-icon-timepad-location-offset-y: -53px;
@img-icon-timepad-location-width: 18px;
@img-icon-timepad-location-height: 17px;
@img-icon-timepad-location-total-width: 50px;
@img-icon-timepad-location-total-height: 410px;
@img-icon-timepad-location-image: '../i/bg/sprite.png';
@img-icon-timepad-location: 0px 53px 0px -53px 18px 17px 50px 410px '../i/bg/sprite.png' img-icon__timepad-location;
@img-icon-video-name: img-icon__video;
@img-icon-video-x: 0px;
@img-icon-video-y: 202px;
@img-icon-video-offset-x: 0px;
@img-icon-video-offset-y: -202px;
@img-icon-video-width: 16px;
@img-icon-video-height: 25px;
@img-icon-video-total-width: 50px;
@img-icon-video-total-height: 410px;
@img-icon-video-image: '../i/bg/sprite.png';
@img-icon-video: 0px 202px 0px -202px 16px 25px 50px 410px '../i/bg/sprite.png' img-icon__video;
@img-icon-zoom-minus-name: img-icon__zoom-minus;
@img-icon-zoom-minus-x: 0px;
@img-icon-zoom-minus-y: 252px;
@img-icon-zoom-minus-offset-x: 0px;
@img-icon-zoom-minus-offset-y: -252px;
@img-icon-zoom-minus-width: 34px;
@img-icon-zoom-minus-height: 34px;
@img-icon-zoom-minus-total-width: 50px;
@img-icon-zoom-minus-total-height: 410px;
@img-icon-zoom-minus-image: '../i/bg/sprite.png';
@img-icon-zoom-minus: 0px 252px 0px -252px 34px 34px 50px 410px '../i/bg/sprite.png' img-icon__zoom-minus;
@img-icon-zoom-plus-name: img-icon__zoom-plus;
@img-icon-zoom-plus-x: 0px;
@img-icon-zoom-plus-y: 286px;
@img-icon-zoom-plus-offset-x: 0px;
@img-icon-zoom-plus-offset-y: -286px;
@img-icon-zoom-plus-width: 34px;
@img-icon-zoom-plus-height: 34px;
@img-icon-zoom-plus-total-width: 50px;
@img-icon-zoom-plus-total-height: 410px;
@img-icon-zoom-plus-image: '../i/bg/sprite.png';
@img-icon-zoom-plus: 0px 286px 0px -286px 34px 34px 50px 410px '../i/bg/sprite.png' img-icon__zoom-plus;
@spritesheet-width: 50px;
@spritesheet-height: 410px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @img-icon-apple-logo @img-icon-arrow-left-gray @img-icon-arrow-right-gray @img-icon-badge @img-icon-device-timepad @img-icon-file-archive @img-icon-file-document @img-icon-file-picture @img-icon-file-video @img-icon-mastercard @img-icon-playstore-logo @img-icon-spinner-minus @img-icon-spinner-plus @img-icon-timepad-location @img-icon-video @img-icon-zoom-minus @img-icon-zoom-plus;
@spritesheet: 50px 410px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
