strong, b,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.text-bold, .badge, .label
{
	font-family : @font-family-base;
	font-weight : 600;
}

/* links */
a
{
	color           : @brand-success;
	text-decoration : none;
}

a:hover,
a:focus
{
	color           : @brand-success;
	text-decoration : underline;
}

label
{
	font-weight : 400;
}
