@imagesPath: '../images';
@imgPath: '../i/bg';
@font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
@font-size-base: 13px;

@border-radius-small: 3px;
@border-radius-base: 4px;
@border-radius-large: 6px;

@brand-primary: #1B93C0;
@brand-success: #2EA97D;
@brand-info: #B8B8B8;
@brand-warning: #F2C400;
@brand-danger: #F47B7A;
@brand-gray: #F6F6F6;
@brand-gray-eee: #EEE;
@brand-silver: #E8E8E8;
@brand-darkgray: #4C4C4C;
@brand-white: #FFF;
@brand-green: #51B749;
@tooltip-color: @brand-success;
@tooltip-arrow-color: @brand-success;

@zindex-tooltip: 9999;
