@charset "utf-8";

@font-face
{
	font-family  : 'Roboto';
	src          : url('../fonts/Roboto/regular/roboto-regular.eot');
	src          : url('../fonts/Roboto/regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/regular/roboto-regular.woff') format('woff'),
	url('../fonts/Roboto/regular/roboto-regular.ttf') format('truetype'),
	url('../fonts/Roboto/regular/roboto-regular.otf') format('opentype'),
	url('../fonts/Roboto/regular/roboto-regular.svg#Roboto-Regular') format('svg');
	font-weight  : 400;
	font-style   : normal;
	font-stretch : normal;
}

@font-face
{
	font-family  : 'RobotoBold';
	src          : url('../fonts/Roboto/bold/roboto-bold.eot');
	src          : url('../fonts/Roboto/bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/bold/roboto-bold.woff') format('woff'),
	url('../fonts/Roboto/bold/roboto-bold.ttf') format('truetype'),
	url('../fonts/Roboto/bold/roboto-bold.svg#Roboto-Medium') format('svg');
	font-weight  : 500;
	font-style   : normal;
	font-stretch : normal;
}
