@import "lib/variables";
@import "lib/mixins";

html,
body
{
	height : 100%;
}

body
{
	min-height            : 100%;
	position              : relative;
	background-repeat     : no-repeat;
	background-size       : cover;
	background-attachment : fixed;
	font-family           : @font-family-base !important;
}

input:-webkit-autofill
{
	background-color : none !important;
	background-image : none !important;
	border-radius    : 0 4px 4px 0 !important;
	border-color     : #FAFFBD !important;
}
