/* fonts include mixin */
.margin-top__100 {
  margin-top: 100px;
}
.margin-top__90 {
  margin-top: 90px;
}
.margin-top__80 {
  margin-top: 80px;
}
.margin-top__70 {
  margin-top: 70px;
}
.margin-top__60 {
  margin-top: 60px;
}
.margin-top__50 {
  margin-top: 50px;
}
.margin-top__40 {
  margin-top: 40px;
}
.margin-top__30 {
  margin-top: 30px;
}
.margin-top__20 {
  margin-top: 20px;
}
.margin-top__10 {
  margin-top: 10px;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}
input:-webkit-autofill {
  background-color: none !important;
  background-image: none !important;
  border-radius: 0 4px 4px 0 !important;
  border-color: #FAFFBD !important;
}
