/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

@positionTop: 0px;
@irs-bar-height: 20px;
@irs-single-height: 30px;
@irs-grid-height: 27px;
@irs-bar-top-offset: @irs-single-height + 15;

.irs
{
	height : 100px;
}

.irs-with-grid
{
	//height : @irs-single-height*3;
}

.irs-line
{
	height        : @irs-bar-height;
	top           : @irs-bar-top-offset;
	background    : @brand-gray-eee;
	border        : 1px solid @brand-success;
	border-radius : 16px;
}

.irs-line-left
{
	height : 8px;
}

.irs-line-mid
{
	height : 8px;
}

.irs-line-right
{
	height : 8px;
}

.irs-bar
{
	height        : @irs-bar-height - 6;
	top           : @irs-bar-top-offset + 3;
	border-top    : 1px solid @brand-success;
	border-bottom : 1px solid @brand-success;
	background    : @brand-success;
}

.irs-bar-edge
{
	height        : @irs-bar-height - 6;
	top           : @irs-bar-top-offset + 3;
	left          : 3px;
	width         : 14px;
	border        : 1px solid @brand-success;
	border-right  : 0;
	background    : @brand-success;
	border-radius : 50% 0 0 50%;
}

.irs-shadow
{
	height        : 2px;
	top           : 38px;
	background    : #000;
	opacity       : 0.3;
	border-radius : 5px;
}

.lt-ie9 .irs-shadow
{
	filter : alpha(opacity=30);
}

.irs-slider
{
	.square(30px);
	top           : @irs-bar-top-offset - (( 30 - @irs-bar-height)/2);
	border        : 5px solid #FFF;
	background    : @brand-success;
	border-radius : 50%;
	box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.23);
	cursor        : pointer;
}

.irs-slider.state_hover,
.irs-slider:hover
{
	background : lighten(@brand-success, 10%);
}

.irs-min, .irs-max
{
	color         : #333;
	font-size     : @font-size-base;
	line-height   : 1.333;
	text-shadow   : none;
	top           : 0;
	padding       : 1px 5px;
	background    : rgba(0, 0, 0, 0.1);
	border-radius : 3px;
}

.lt-ie9 .irs-min,
.lt-ie9 .irs-max
{
	background : #CCC;
}

.irs-from,
.irs-to,
.irs-single
{
	color         : #FFF;
	font-size     : 14px;
	text-shadow   : none;
	background    : @brand-primary;
	border-radius : 3px;
	padding       : 0 20px;
	height        : @irs-single-height;
	line-height   : @irs-single-height;

	&:after
	{
		#triangle .down(8px, 8px, @brand-primary);
		content     : '';
		position    : absolute;
		bottom      : -16px;
		left        : 50%;
		margin-left : -8px;
	}
}

.irs-grid
{
	height : 15px;
}

.irs-grid-pol
{
	opacity    : 0.5;
	background : @brand-success;
	height     : 0;
}

.irs-grid-pol.small
{
	background : #999;
	height     : 12px;
}

.irs-grid-text
{
	top       : 1px;
	font-size : @font-size-base;
	bottom    : auto;
	color     : #99A4AC;
}

.irs-disabled
{
}
