@{b}-form
{
	@component: ~'.b-form'; //natural component use

	@{component}-control
	{
		&__textarea
		{
			border-color : transparent;
			padding      : 0 20px;
			transition   : border-color 800ms;

			&:focus
			{
				border-color : @brand-success;
			}
		}
	}
}
