&@{b}__dropdown
{
	display       : none;
	padding       : 0;
	margin        : -2px 0 0;
	position      : absolute;
	top           : 100%;
	left          : 0;
	z-index       : 1000;
	border-radius : 4px;
	//overflow      : hidden;
	min-width     : 160px;

	&__right
	{
		right : 0;
		left  : auto;
	}

	@import './item/include';
	@import './themes/include';

	.open > &,
	&:hover
	{
		display : block !important;
	}
}
