.b-notes_content{
  position: relative;

  .b-notes_card{
    border: 1px solid #eee;
    margin: 15px 0 0;
    min-height: 310px;
    border-radius: 4px;
    padding: 15px 10px 10px;
    position: relative;
    display:block;
    word-break: break-all;

    h3{
      margin: 0 0 10px;
      color:#868686;
      width:199px;
      text-transform: capitalize;
    }
    .b-notes_body{
      text-transform: capitalize;
      height: 172px;

      h1, h2{
        margin:0;
        font-size: 15px;
      }
      p{
        margin:0;
      }
    }
    .b-notes_footer{
      bottom: 0;
      left: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      width: 100%;

      span{
        display: block;
        line-height: 34px;
      }
    }

  }
  .top-left_arrow{
    display: block;
    width:19px;
    height:22px;
    background-image: url("@{imgPath}/notes/angle.png");
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top:-1px;
    z-index: 1;
    background-color: #fff;
    right:-1px;
  }
}

.note_thumb, .redactor-box{
  .bolderText::before {
    content: "B";
    font-weight: bold;
  }
  .italicText::before {
    content: "I";
    font-style: italic;
  }
}
