&-green
{
	@menu-item-background: @brand-success;
	@menu-item-background__hover: #249B71;
	@menu-item-background__active: #249B71;

	@menu-item-border: #43B18A;
	@menu-item-border__hover: @menu-item-border;
	@menu-item-border__active: @menu-item-border;

	@menu-item-icon-color: #8FCDB6;
	@menu-item-icon-color__hover: @brand-success;
	@menu-item-icon-color__active: @brand-success;

	@{b}-item
	{
		> .a-link
		{
			border-top : 1px solid @menu-item-border;
			background : @menu-item-background;
			color      : #FFF;

			._icon
			{
				color : @menu-item-icon-color;
			}
		}

		&:hover > .a-link // при наведении курсора на пункт меню
		{
			background-color : @menu-item-background__hover;

			._icon
			{
				color : @menu-item-icon-color__hover;
			}
		}

		> .a-link:focus, // при фокусировке на ссылку
		> .a-link:active, // при нажатии на ссылку
		&__active > .a-link, // активный пункт меню
		&__active:hover > .a-link // активный пункт меню при наведении
		{
			background-color : @menu-item-background__active;

			._icon
			{
				color : @menu-item-icon-color__active;
			}
		}

		&__active > .a-link:before
		{
			background : #07895B;
		}
	}
}
