&-scope
{
	text-align      : center;
	padding-top     : 15px;
	padding-bottom  : 15px;
	border-left     : 1px solid @brand-silver;
	display         : block;
	text-decoration : none !important;

	&:first-child
	{
		border : 0;
	}
	&:before
	{
		border-top : 4px solid;
		content    : '';
		position   : absolute;
		left       : -1px;
		right      : 0;
		top        : 0;
		z-index    : 1;
	}

	&:after
	{
		content     : '';
		position    : absolute;
		left        : 50%;
		top         : 4px;
		z-index     : 1;
		margin-left : -3px;
	}
	&__green:before
	{
		border-color : @brand-success;
	}
	&__yellow:before
	{
		border-color : @brand-warning;
	}
	&__red:before
	{
		border-color : @brand-danger;
	}

	&-counter
	{
		font-size   : 24px;
		line-height : 32px;
		color       : @brand-darkgray;
		display     : block;
	}

	&-label
	{
		color       : @brand-info;
		font-size   : 10px;
		line-height : 13px;
		display     : block;
		transition  : transform 400ms;
	}

	&__green.active:after,
	&__green:hover:after
	{
		#triangle > .down(6px, 6px, @brand-success);
	}
	&__yellow.active:after,
	&__yellow:hover:after
	{
		#triangle > .down(6px, 6px, @brand-warning);
	}
	&__red.active:after,
	&__red:hover:after
	{
		#triangle > .down(6px, 6px, @brand-danger);
	}
}
