&-total
{
	border        : 1px solid @brand-silver;
	border-bottom : 0;
	padding       : 15px 15px 28px;
	margin-left   : 30px;
	width         : 240px;
	position      : relative;

	&:after
	{
		@imgheight: image-height(~'@{imgPath}/paper-triangle.png');
		display    : block;
		content    : '';
		height     : @imgheight;
		position   : absolute;
		left       : -1px;
		right      : -1px;
		bottom     : -1px;
		background : url(~'@{imgPath}/paper-triangle.png') 0 0 repeat-x;
	}

	&-head
	{
		font-size     : 14px;
		margin-bottom : 20px;
		font-family   : @font-family-base;
		font-weight   : 500;

		._icon
		{
			color          : @brand-success;
			font-size      : 16px;
			vertical-align : top;
			margin-left    : -5px;
		}
	}

	&-price
	{
		font-size   : 18px;
		line-height : 24px;
		margin      : 6px 0;
	}

	&-divider
	{
		margin      : 0 -5px;
		overflow    : hidden;
		font-size   : 14px;
		line-height : 19px;
		color       : @brand-silver;
	}
}
