&-green
{
	@menu-item-background: @brand-success;
	@menu-item-background__hover: #249B71;
	@menu-item-background__active: #249B71;
	@menu-item-border: #56BA96;
	@menu-item-border__hover: #56BA96;
	@menu-item-border__active: #56BA96;

	@{b}-item
	{
		> .a-link // ccылка верхнего уровня меню
		{
			border-color : #56BA96;
			background   : @menu-item-background;
			color        : #FFF;
		}

		&:hover > .a-link // при наведении курсора на пункт меню
		{
			background-color : @menu-item-background__hover;
		}

		> .a-link:active, // при нажатии на ссылку
		&__active > .a-link, // активный пункт меню
		&__active:hover > .a-link // активный пункт меню при наведении
		{
			background-color : @menu-item-background__active;
		}

		&__active > .a-link:before
		{
			background : #07895B;
		}

		&__parent
		{
			@{b}__vertical // submenu
			{
				@{b}-item
				{
					> .a-link
					{
						background : @menu-item-background__active;
						border-top : 1px solid #43B18A;
						color      : #FFF;

						._icon
						{
							color : #8FCDB6;
						}
					}

					&:hover > .a-link // при наведении курсора на пункт меню
					{
						background-color : @menu-item-background;
					}

					> .a-link:active, // при нажатии на ссылку
					&__active > .a-link, // активный пункт меню
					&__active:hover > .a-link // активный пункт меню при наведении
					{

						background-color : @menu-item-background__active;
					}
				}
			}
		}
	}
}
