&-light
{
	@menu-item-background: #FFF;
	@menu-item-background__hover: #F6F6EA;
	@menu-item-background__active: #F6F6E9;

	@menu-item-border: #F6F6E9;
	@menu-item-border__hover: #F6F6EA;
	@menu-item-border__active: #F6F6E9;

	@menu-item-icon-color: #D4D4D4;
	@menu-item-icon-color__hover: @brand-success;
	@menu-item-icon-color__active: @brand-success;

	@{b}-item
	{
		> .a-link
		{
			border-color : @brand-silver;
			background   : @menu-item-background;
			color        : #4C4C4C;

			._icon
			{
				color : @menu-item-icon-color;
			}
			/*@{b}-tag
			{
				background-color : @menu-item-icon-color;
				border-color     : @menu-item-icon-color;
				color            : #FFF;
			}*/
		}

		&:hover > .a-link // при наведении курсора на пункт меню
		{
			background-color : @menu-item-background__hover;

			._icon
			{
				color : @menu-item-icon-color__hover;
			}

			/*@{b}-tag
			{
				background-color : @menu-item-icon-color__hover;
				border-color     : @menu-item-icon-color__hover;
				color            : #FFF;
			}*/
		}

		> .a-link:focus, // при фокусировке на ссылку
		> .a-link:active, // при нажатии на ссылку
		&__active > .a-link, // активный пункт меню
		&__active:hover > .a-link // активный пункт меню при наведении
		{
			background-color : @menu-item-background__active;

			._icon
			{
				color : @menu-item-icon-color__active;
			}
			/*@{b}-tag
			{
				background-color : @menu-item-icon-color__active;
				border-color     : @menu-item-icon-color__active;
				color            : #FFF;
			}*/
		}

		&__active > .a-link:before
		{
			background : @brand-success;
		}

	}
}
