&__event
{
	padding : 11px 20px;

	._icon
	{
		font-size      : 17px;
		margin-right   : 10px;
		vertical-align : middle;
		display        : inline-block;
		height         : 17px;

		&:before
		{
			margin : 0;
		}
	}
}
