.b-sexySlider
{
	@b: ~'.b-sexySlider';

	position : relative;

	&-viewport
	{
		margin : 0 28px;
	}

	&-controls
	{

		@{b}-control-item
		{

			border     : 1px solid #E8E8E8;
			width      : 28px;
			position   : absolute;
			color      : #B2B2B2;
			font-size  : 11px;
			text-align : center;

			&.prev
			{
				border-radius : 4px 0 0 4px;
				left          : 0;
			}
			&.next
			{
				border-radius : 0 4px 4px 0;
				right         : 0;
			}
		}
	}

	@import './item/include';
}
