&__input--state-error{
   & + .b-form-inputWrapper{
     &:after
     {
       font-family             : "fontello";
       font-style              : normal;
       font-weight             : normal;
       display                 : inline-block;
       text-decoration         : inherit;
       width                   : 1.01em;
       text-align              : center;
       font-variant            : normal;
       text-transform          : none;
       -webkit-font-smoothing  : antialiased;
       -moz-osx-font-smoothing : grayscale;
       position                : absolute;
       top                     : 0;
       bottom                  : 0;
       font-size               : 16px;
       z-index                 : 1;
       background              : #FFF;
       right                   : (@input-height - 16)/2px;
       line-height             : @input-height;
       content                 : @state-error--icon;
       color                   : @state-error--text !important;
     }
   }
}