.b-alert
{
	@b: ~'.b-alert';
	border-radius : @b-alert-border-radius;
	position      : relative;
	overflow      : hidden;
	padding       : 0 0 0 40px;


	&-close
	{
		position        : absolute;
		right           : 14px;
		top             : 13px;
		color           : #FFF !important;
		text-decoration : none !important;
		line-height     : 13px;
		font-size       : 23px;
		.opacity(0.5);
		.text-bold();

		&:after
		{
			display : block;
			content : '\00D7';
		}
		&:hover
		{
			.opacity(1);
		}
	;
	}

	&-icon
	{
		display       : block;
		width         : 40px;
		position      : absolute;
		left          : 0;
		top           : 0;
		text-align    : center;
		height        : 100%;
		border-radius : 4px 0 0 4px;

		._icon
		{
			position       : relative;
			top            : 50%;
			margin-top     : -0.5em;
			display        : block;
			line-height    : 1em;
			vertical-align : top;
			font-size      : 17px;
		}
	}

	&-message
	{
		display     : inline-block;
		font-size   : 14px;
		font-weight : 300;
		line-height : 20px;
		min-height  : 40px;
		padding     : 10px 20px;
	}

	@import "variables";
	@import "placement/include";
	@import "themes/include";
}
