//
// @module .b-form
// @component .b-form-forgot
// @version 2.0.0
//
&@{b}-forgot
{
	color     : #8F8F8F;
	max-width : 220px;
	margin    : 36px auto 0;

	@{b}-footer a
	{
		font-size : @font-size-base;
	}

	@media (max-width : 400px)
	{
		max-width : 96%;
	}
}
