//
// @module .b-form
// @component .b-form-login
// @version 2.0.0
//

&@{b}-login
{
	color         : #8F8F8F;
	max-width     : 220px;
	margin        : 36px auto 0;

	@{b}-footer a
	{
		font-size : @font-size-base;
	}

	@media (min-width : 1000px)
	{
		max-width : 250px;
	}

	@media (max-width : 400px)
	{
		max-width : 96%;

		@{b}-submit
		{
			max-width : 150px;
			width     : 80%;
			margin    : 0 auto;
			display   : block;
		}
	}
}
