&@{b}__ranges
{
	.approver
	{
		position : relative;

		&-button_add
		{
			position : absolute;
			bottom   : 20px;
			right    : 10px;
		}
	}

	.range-section
	{
		position      : relative;
		padding-right : 30px;
		margin-bottom : 10px;

		&-remove
		{
			position    : absolute;
			top         : 0;
			bottom      : 0;
			right       : 0;
			width       : 30px;
			border-left : 1px groove @brand-silver;

			&-button
			{
				text-decoration : none;
				padding         : 5px;
				position        : absolute;
				top             : 50%;
				left            : 3px;
				margin-top      : -14px;
				color           : @brand-info;
				font-size       : 16px;
				line-height     : 1;
				border-radius   : 4px;

				&:hover
				{
					background : darken(#FFF, 2%);
					color      : darken(@brand-info, 10%);
				}
			}
		}
	}
}
