//
// @module .b-form
// @component .b-form-registration
// @version 2.0.0
//

&@{b}-registration
{
	max-width     : 440px;
	margin        : 36px auto 0;

	@media (max-width : 400px)
	{
		max-width : 96%;
	}
}
