//
// @module .b-form
// @component .b-form-registration
// @version 2.0.0
//

&@{b}__searchBox
{
	display        : inline-block;
	*display       : inline;
	*zoom          : 1;
	vertical-align : middle;

	@{b}-group,
	@{b}-inputWrapper
	{
		margin   : 0;
		padding  : 0;
		overflow : hidden;
	}

	@{b}-control
	{
		min-width : 210px;
		float     : left;
	}

	@{b}-submit
	{
		border      : 0;
		background  : none;
		position    : absolute;
		right       : 0;
		top         : 0;
		height      : 28px;
		line-height : 28px;
		z-index     : 3;
		color       : #B2B2B2;
		font-size   : 14px;
	}
}
