.b-form
{
	@import "variables.less";
	@b: ~'.b-form';

	background    : #FFF;
	font-family   : @font-family-base;
	font-weight   : 300;
	border-radius : 4px;

	@{b}-name,
	@{b}-footer
	{
		color        : #4C4C4C;
		font-size    : 14px;
		padding      : 14px 20px;
		border-color : @brand-silver !important;
	}

	@{b}-name
	{
		border-bottom : 1px solid;
	}
	@{b}-footer
	{
		border-top : 1px solid;
	}

	@{b}-container
	{
		padding        : @gutter-width*2 @gutter-width;
		padding-bottom : 0;

		&:after
		{
			display : table;
			content : '';
			width   : 100%;
		}
	}

	@{b}-inputWrapper
	{
		position  : relative;
		display   : block;
		font-size : 11px;
		color     : #888;

		> ._icon
		{
			position         : absolute;
			right            : (@input-height - 16)/2px;
			top              : 1px;
			bottom           : 1px;
			font-size        : 16px;
			line-height      : @input-height;
			z-index          : 1;
			background-color : #FFF;
			color            : #D4D4D4;

			&:before
			{
				margin : 0;
			}
		}
	}

	.js-select.select2-hidden-accessible
	{
		height : 0px !important;
	}

	@import "group/include";
	@import "label/include";
	@import "control/include";
	@import "postscript/include";

	@import "__registration";
	@import "__login";
	@import "__forgot";
	@import "__searchBox";
	@import "__addDevice";
	@import "__ranges";
}
