@input-height: 30px;
@gutter-width: 10px;

@form-control-text: #4C4C4C;
@form-control-border: @brand-silver;

@form-control--focus-text: #4C4C4C;
@form-control--focus-border: @brand-success;

@form-control--active-text: @brand-success;
@form-control--active-border: @brand-success;

@state-error--text: #F47B7A;
@state-error--icon: '\e998';

@state-success--text: @brand-success;
@state-success--icon: '\e9dd';

@state-loading--text: #C2C2C2;
@state-loading--icon: '\E927';

