@{b}-plan
{
	margin-bottom : 20px;

	&-name
	{
		color       : @brand-darkgray;
		font-size   : 18px;
		font-weight : normal;
		line-height : 24px;
		margin      : 0 0 20px;
		padding     : 0;
	}

	&-employees
	{
		color       : @brand-info;
		font-family : Roboto;
		font-size   : 14px;
		font-weight : 400;
		line-height : 24px;
		float       : left;
		margin-top  : 6px;
	}
}
