&-control
{
	@b: ~'.b-form-control';

	z-index            : 2;
	position           : relative;
	height             : @input-height;
	line-height        : 1.42;
	vertical-align     : middle;
	background         : transparent;
	color              : @form-control-text;
	-webkit-transition : border-color 0.33s ease-in-out;
	transition         : border-color 0.33s ease-in-out;
	border             : 1px solid @form-control-border;
	padding            : 6px;
	border-radius      : 3px;
	box-shadow         : none;
	font-size          : 11px;
	box-sizing         : border-box;

	&:focus
	{
		outline      : none;
		border-color : @form-control--focus-border;

		& + ._icon
		{
			color : @brand-success;
		}
	}

	@import "__input/include";
	@import "__select/include";
	@import "__textarea/include";
	@import "__input/--state/include";
}

&-controlCustom
{
	@b: ~'.b-form-controlCustom';

	@import "__checkbox/include";
	@import "__radio/include";
	@import "__file/include";
}

&-control,
&-controlCustom
{
	@import "extender/include";
}
