/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells
{
	display   : flex;
	flex-wrap : wrap;
}

.datepicker--cell
{
	z-index         : 1;
	border-radius: @datepickerCellBorderRadius;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	height          : @dayCellSize;
	line-height: 2.4;
	padding: 0 9px;
	position: relative;
	text-align: center;

	&.-focus-
	{
		background : @bg-hover;
	}

	&.-current-
	{
		color : @textColor-currentDate;

		&.-focus-
		{
			color : @textColor-common;
		}

		&.-in-range-
		{
			color : @textColor-currentDate;
		}
	}

	&.-in-range-
	{
		background    : @bg-inRange;
		color         : @textColor-common;
		border-radius : 0;

		&.-focus-
		{
			background-color : @bg-inRange;
		}
	}

	&.-disabled-
	{
		cursor : default;
		color  : @textColor-disabled;

		&.-focus-
		{
			color : @textColor-disabled;
		}

		&.-in-range-
		{
			color : darken(@textColor-disabled, 5%);
		}

		&.-current-
		{
			&.-focus-
			{
				color : @textColor-disabled;
			}
		}
	}

	&.-range-from-
	{
		border-radius : @datepickerCellBorderRadius 0 0  @datepickerCellBorderRadius;

	}
	&.-range-to-
	{
		border-radius : 0  @datepickerCellBorderRadius @datepickerCellBorderRadius 0;
	}

	&.-range-from-,
	&.-range-to-
	{
		border           : 1px solid @bg-inRange;
		background-color : @bg-inRange !important;
		color            : #FFF;

		&:after
		{
			content       : '';
			z-index       : -1;
			position      : absolute;
			left          : 0;
			right         : 0;
			bottom        : 0;
			top           : 0;
			background    : @bg-selected;
			border-radius : @datepickerCellBorderRadius;
		}
	}
	&.-range-from-.-range-to-
	{
		border-radius : @datepickerBorderRadius;
	}

	&.-selected-
	{
		color      : #FFF;
		border     : none;
		background : @bg-selected;

		&.-current-
		{
			color      : #FFF;
			background : @bg-selected;
		}

		&.-focus-
		{
			background : @bg-selectedHover;
		}
	}

	&:empty
	{
		cursor : default;
	}
}

//  Day names
// -------------------------------------------------

.datepicker--days-names
{
	display   : table;
	//flex-wrap : wrap;
	margin    : 8px 0 3px;
}

.datepicker--day-name
{
	color: @textColor-dayNames;
	float: left;
	font-size       : .8em;
	padding: 0 11.5px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 14%;
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day
{
	width : 100/7%;

	&.-other-month-
	{
		.otherMonth();
	}

}

//  Months
// -------------------------------------------------

.datepicker--months
{
}

.datepicker--cells-months
{
	height : @datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month
{
	width         : 33.33%;
	height        : 25%;
	border-radius : @datepickerBorderRadius;
}

//  Years
// -------------------------------------------------

.datepicker--years
{
	height : @datepickerMinBodyHeight;
}

.datepicker--cells-years
{
	height : @datepickerMinBodyHeight;
}

//  Year cell
// -------------------------

.datepicker--cell-year
{
	width         : 100% / @yearsPerRow;
	height        : 33.33%;
	border-radius : @datepickerBorderRadius;

	&.-other-decade-
	{
		.otherMonth();
	}
}
