@dayCellSize : 33px;
@datepickerWidth : 250px;
@datepickerMinBodyHeight : 170px;
@datepickerBorderRadius : 4px;
@datepickerCellBorderRadius : 50%;
@datepickerPadding : 4px;
@datepickerZIndex : 100;

@fontFamily : @font-family-base;
@fontSize : 14px;

@yearsPerRow : 4;

@textColor-button : #5CC4EF;
@textColor-otherMonth : #DEDEDE;
@textColor-otherMonthInRange : #CCC;
@textColor-disabled : #AEAEAE;
@textColor-currentDate : #4EB5E6;
@textColor-common : #4A4A4A;
@textColor-dayNames : #868686;
@textColor-navArrows : @brand-success;

@bg-selected : @brand-success;
@bg-selectedHover : darken(@bg-selected, 5%);
@bg-inRange : #f6f6e9;
//rgba(#5cc4ef, .1);
@bg-hover : lighten(@brand-success, 45%);

@borderColor-nav : #EFEFEF;
@borderColor-inline : #D7D7D7;
@borderColor-default : #DBDBDB;

@navigationHeight : 32px;
@navigationButtonsOffset : 2px;

@pointerSize : 10px;
@pointerOffset : 10px;

// Transitions
@transitionSpeed : .3s;
@transitionEase : ease;
@transitionOffset : 8px;

// Objects
.otherMonth
{
	color : @textColor-otherMonth;

	&:hover
	{
		color : darken(@textColor-otherMonth, 10%);
	}

	&.-disabled-
	{
		&.-focus-
		{
			color : @textColor-otherMonth;
		}
	}

	&.-selected-
	{
		color      : #FFF;
		background : lighten(@bg-selected, 15%);
		&.-focus-
		{
			background : lighten(@bg-selected, 10%);
		}
	}

	&.-in-range-
	{
		background: @bg-inRange;
		color : darken(@textColor-otherMonth, 7%);

		&.-focus-
		{
			background: @bg-inRange;
		}
	}

	&:empty
	{
		background : none;
		border     : none;
	}
}
