/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav
{
  border-bottom   : 1px solid @borderColor-nav;
  display: table;
  min-height      : @navigationHeight;
  padding         : @datepickerPadding;
  width: 100%;
}

.datepicker--nav-title,
.datepicker--nav-action
{
  cursor: pointer;
  float: left;
  text-align: center;
  width: 71%
}

.datepicker--nav-action
{
	width         : @dayCellSize;
	border-radius : @datepickerBorderRadius;
	user-select   : none;
	color         : @textColor-navArrows;

	&:hover
	{
		background : @bg-hover;

	}

	&.-disabled-
	{
		visibility : hidden;
	}

	svg
	{
		width  : 32px;
		height : 32px;
	}

	path
	{
		fill         : none;
		stroke       : @textColor-navArrows;
		stroke-width : 2px;
	}
}

.datepicker--nav-title
{
	border-radius : @datepickerBorderRadius;
	height: 36px;
	line-height: 2.5;
	padding: 0 8px;

	i
	{
		font-style  : normal;
		color       : @textColor-navArrows;
		margin-left : 5px;
	}

	&:hover
	{
		background : @bg-hover;
	}

	&.-disabled-
	{
		cursor     : default;
		background : none;
	}
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons
{
	display    : flex;
	padding    : @datepickerPadding;
	border-top : 1px solid @borderColor-nav;
}

.datepicker--button
{
	color           : @textColor-currentDate;
	cursor          : pointer;
	border-radius   : @datepickerBorderRadius;
	flex            : 1;
	display         : inline-flex;
	justify-content : center;
	align-items     : center;
	height          : 32px;

	&:hover
	{
		color      : @textColor-common;
		background : @bg-hover;
	}
}
