.b-empty__result{
  &_large{
    padding:81px 214px 58px;
    background: #fff;
    border-radius: 0 0 3px 3px;
  }
  &_small{
    background: #fff;
    border-radius: 0 0 3px 3px;
    padding:56px 0 37px;
  }

  .b-empty-header, .b-empty-text{
    display: block;
  }
  .b-empty-text{
    color:#868686;
  }
}