/*
<label class="b-form-label b-switcher b-switcher__dual">
	<span class="b-switcher-box pull-right">
		<input type="checkbox" class="b-switcher-native_control"/>
		<span class="b-switcher-control">
			<span class="b-switcher-control-rail">
				<span class="b-switcher-label b-switcher-label__checked">On</span>
				<span class="b-switcher-label b-switcher-label__unchecked">Off</span>

				<i class="b-switcher-control-wheel"></i>
			</span>
		</span>
	</span>
</label>
*/
&@{b}__dual
{
	@whell-width: 30px;

	display : inline-block;
	width   : auto;

	@{b}-box
	{
		user-select    : none;
		position       : relative;
		display        : block;
		vertical-align : middle;

		@{b}-rail
		{
			border-radius    : 40px;
			cursor           : pointer;
			margin           : 0;
			display          : block;
			position         : relative;
			height           : 31px;
			padding          : 0;
			transition       : all 0.4s ease-out;

			background-color : @brand-success;

			@{b}-label
			{
				z-index        : 2;
				text-align     : center;
				user-select    : none;
				color          : #FFF;
				line-height    : 30px;
				vertical-align : middle;
				display        : block;

				&__checked
				{
					margin-right  : @whell-width;
					padding-right : 10px;
					padding-left  : 10px;
					text-align    : left;
					visibility    : hidden;
					height        : 0;
				}

				&__unchecked
				{
					margin-left   : @whell-width;
					padding-left  : 10px;
					padding-right : 10px;
					text-align    : right;
				}
			}
		}

		@{b}-wheel
		{
			position         : absolute;
			z-index          : 1;
			display          : block;
			padding          : 0;
			left             : 0;
			top              : 0;
			line-height      : 0;
			background-color : #FFF;
			border           : 4px solid @brand-success;
			border-radius    : 100%;
			transition       : all 0.15s ease-out;
			.square(@whell-width);
		}

		@{b}-native_control
		{
			display : none;

			&:checked ~ @{b}-rail
			{

				@{b}-label@{b}-label__unchecked
				{
					visibility : hidden;
					height     : 0;
				}
				@{b}-label@{b}-label__checked
				{
					height     : auto;
					visibility : visible;
					color      : #FFF;
				}

				@{b}-wheel
				{
					left        : 100%;
					margin-left : -30px;
				}
			}
		}
	}

}
