.modal
{
	@import "variables.less";
	@b: ~'.modal';

	.close
	{
		color : #2EA97D;
		.opacity(.7);
		&:hover
		{
			.opacity(1);
		}
	}
	@{b}-header,
	@{b}-footer
	{
		color        : #4C4C4C;
		font-size    : 14px;
		font-weight  : 400;
		line-height  : 20px;
		padding      : 15px @padding-horizontal;
		border-color : @brand-silver !important;
	}

	@{b}-header
	{
		border-bottom : 1px solid;

		@{b}-title
		{
			color       : #4C4C4C;
			font-size   : 14px;
			font-weight : 400 !important;
			line-height : 20px;
			margin      : 0;
			font-family : @font-family-base !important;
		}
	}
	@{b}-footer
	{
		border-top : 1px solid;
	}

	@{b}-content
	{
		background    : #FFF;
		font-family   : @font-family-base;
		font-weight   : 300;
		border-radius : 4px;
		border        : none;
		box-shadow    : 0 1px 3px rgba(0, 0, 0, 0.1);

		@{b}-body
		{
			padding : 0 @padding-horizontal;

			&:after
			{
				display : table;
				content : '';
				width   : 100%;
			}
		}
	}

	&__form
	{
		@{b}-content
		{
			@{b}-body
			{
				padding : 0;
			}
		}
	}

	&__size
	{
		&-mini
		{
			@{b}-dialog
			{
				width : 300px;
			}
		}
		&-small
		{
			@{b}-dialog
			{
				width : 450px;
			}
		}
		&-medium
		{
			@{b}-dialog
			{
				width : 800px;
			}
		}
	}
}
