.b-hands-container {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 262px;
  padding: 20px;

  &__noborder{
	border:none;
  }
}
.b-finger_change {
  margin: 0 auto;
  width: 367px;
}
.b-lefthand {
  background-image: url("@{imgPath}/fingerprint/lefthand.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  height: 233px;
  width: 137px;
}
.b-righthand {
  background-image: url("@{imgPath}/fingerprint/righthand.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  height: 233px;
  width: 137px;
}
.finger {
  background-image: url("@{imgPath}/fingerprint/printgray.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 22px;
  width: 19px;
  outline: none;
}
.finger-view:hover, .finger.hasFinger {
  background-image: url("@{imgPath}/fingerprint/printsimp.png");
}
.b-finger_change .finger.left1 {
  left: 1px;
  position: absolute;
  top: 42px;
}
.b-finger_change .finger.left2 {
  left: 25.7px;
  position: absolute;
  top: 21px;
}
.b-finger_change .finger.left3 {
  left: 51.5px;
  position: absolute;
  top: 8px;
}
.b-finger_change .finger.left4 {
  left: 78px;
  position: absolute;
  top: 29px;
}
.b-finger_change .finger.left5 {
  left: 112px;
  position: absolute;
  top: 117px;
  transform: rotate(35deg);
}
.b-finger_change .finger.right1 {
  position: absolute;
  right: 1px;
  top: 42px;
}
.b-finger_change .finger.right2 {
  position: absolute;
  right: 26px;
  top: 22px;
}
.b-finger_change .finger.right3 {
  position: absolute;
  right: 52px;
  top: 8px;
}
.b-finger_change .finger.right4 {
  position: absolute;
  right: 78px;
  top: 29px;
}
.finger.right5 {
  position: absolute;
  right: 113px;
  top: 117px;
  transform: rotate(-34deg);
}