@{b}-group
{
	padding-left  : @gutter-width;
	padding-right : @gutter-width;
	margin-bottom : @gutter-width*2;
	overflow      : hidden;
	background    : #FFF;

	@import "__state/include";
	@import "__inline/include";
}
