.build_logotype(@settings) {
	@image: extract(@settings, 1);
	@image-retina: extract(@settings, 2);
	@w: image-width(@image);
	@h: image-height(@image);

	.size(@w, @h);
	.img-retina(@image, @image-retina, @w, @h);
}

.b-logotype
{
	@b: ~'.b-logotype';

	@logotype-md: ~'@{imgPath}/logotype/md/b-logotype.png' ~'@{imgPath}/logotype/md/b-logotype@2x.png';
	@logotype-sm: ~'@{imgPath}/logotype/sm/b-logotype.png' ~'@{imgPath}/logotype/sm/b-logotype@2x.png';

	margin    : 0;
	padding   : 0;
	overflow  : hidden;
	font-size : 0;

	&-link
	{
		text-decoration : none;
		display         : inline-block;
		*display        : inline;
		*zoom           : 1;
	}
	&-image
	{
		text-indent       : -999px;
		background-repeat : no-repeat;
		display           : inline-block;
		*display          : inline;
		*zoom             : 1;
		overflow          : hidden;
		position          : relative;
		top               : 50%;
		vertical-align    : top;
	}

	&__md
	{
		@{b}-image
		{
			.b-page__authorized .b-page-header &
			{
				margin-top : -(image-height(extract(@logotype-md,1))/2);
			}
			.build_logotype(@logotype-md);
		}
	}
	&__sm
	{
		@{b}-image
		{
			.b-page__authorized .b-page-header &
			{
				margin-top : -(image-height(extract(@logotype-sm,1))/2);
			}
			.build_logotype(@logotype-sm);
		}
	}
}
