&@{b}__pills
{
	font-size : 0;
	padding   : 10px 20px;

	> @{b}-item
	{
		font-size      : @font-size-base;
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : top;
	}

	@import './item/include';
}
