.b-table
{
  &_report{
	thead tr td, tr td.header-3, tr th{
	  background: #f6f6f6 !important;
	  border-bottom: 1px solid #e8e8e8 !important;
	  font-size: 12px;
	  border-left: 1px solid #e8e8e8;
	  color: #b2b2b2;
	  font-weight: normal;
	  padding: 11px 20px;

	  &:first-child{
		border-left: 1px solid #e8e8e8 !important;
	  }
	  &:last-child{
		border-bottom: 1px solid #e8e8e8 !important;
	  }
	}
	thead tr td {
	  &.inout_on_dep_title {
		background: #f6f6e9 !important;
		border-left: none !important;
		color: #4c4c4c;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		&:before {
		  border-left: 4px solid #2ea97d !important;
		  content: "";
		  height: 100%;
		  left: -1px;
		  position: absolute;
		  top: -1px;
		}
		&:after {
		  border-bottom: 1px solid #e8e8e8;
		  width: 100%;
		  height: 1px;
		  position: absolute;
		  bottom: 0;
		  left: -1px;
		  content: "";
		}
		a{
		  color:#4c4c4c;
		}
	  }
	}
	tbody tr td{
	  border-left: 1px solid @table-border-color;
	  font-size: 12px;

	  &.itsfreeday, {
		color: #e0e0e0;
	  }
	}
	tbody tr{

		td{
		  &.inout_on_dep_title{
			background: #f6f6e9 !important;
			border-left: none !important;
			color: #4c4c4c;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			&:first-child{
			  &:before{
				border-left: 4px solid #2ea97d !important;
				content: "";
				height: 100%;
				left: -1px;
				position: absolute;
				top: -1px;
			  }
			  &:after{
				border-bottom: 1px solid #e8e8e8;
				width:100%;
				height:1px;
				position: absolute;
				bottom:0;
				left:-1px;
				content: "";
			  }
			}
		  }
		  a{
			color:#4c4c4c;
		  }
		}
	}
	.checkInGreen{
	  color:@brand-success;
	  font-size: 13px;
	}
	.checkInBlue{
	  color:@brand-primary;
	  font-size: 13px;
	}
  }
	@b: ~'.b-table';
	@import "./variables";

	width         : 100%;
	max-width     : 100%;
	font-size     : @font-size-base;
	font-weight   : 400;
	line-height   : @table-cell-lineheight;
	background    : #FFF;
	border-top    : 1px solid @table-border-color;
	border-bottom : 1px solid @table-border-color;

	&@{b}__tlFixed
	{
		table-layout : fixed;
	}

	thead tr
	{
		td, th
		{
			font-weight   : normal;
			border-left   : 1px solid @table-border-color;
			border-bottom : 1px solid @table-border-color;
			padding       : (40-@table-cell-lineheight)/2px @table-cell-padding-horizontal;
			color         : #B2B2B2;
			background    : #FFF;
		}

		> td:first-child,
		> th:first-child
		{
			border-left : 0;

			&[rowspan]
			{
				border-right : 1px solid @table-border-color;
			}
		}

		&:first-child td,
		&:first-child th
		{
			background : #F6F6F6;
		}
		&:last-child
		{
			td, th
			{
				border-bottom : 0;
			}
		}
	  	th{
		  &.b-table-lastDay__lightGray{
			background: #E8E8E8;
			color:#fff;
			border-color:#fff;
		  }
		  &.b-table-lastDay__darkGray{
			color: @brand-darkgray;
		  }
		}

	}

	tbody tr
	{
		td
		{
			border-top     : 1px solid @table-border-color;
			padding        : 15px @table-cell-padding-horizontal;
			vertical-align : middle;
			color          : #868686;
		  	position: relative;
		  &.b-table-float_td{
			height: 40px;
			padding:5px 8px;

			&:first-child{
			  padding:5px 20px;
			}
		  }



		  &.b-table-lastDay__darkGray{
			color: @brand-darkgray;
			padding:5px 8px;
			border-left:1px solid @brand-gray-eee;
			border-right:1px solid @brand-gray-eee;
		  }
		  .color_div {
			border-radius: 4px;
			white-space: nowrap;
			-webkit-border-radius: 4px;
			-o-border-radius:4px;
			-moz-border-radius: 4px;
			width:108px;
			height: 48px !important;
			line-height: 26px;
			max-height: 48px !important;
			min-width: 98px;
			padding: 11px 8px;
			&.b-table-lastDay__lightGray{
			  color:#E0E0E0;

			  &.b-table-lastDay__yellow {
				background: rgba(249,217, 72, 0.5);
			  }
			  &.b-table-thisDay__blue{
				background: rgba(109,166,232,0.5);
			  }
			  &.b-table-thisDay__green{
				background: rgba(116,194,131,0.5);
			  }
			  &.b-table-thisDay__orange{
				background: rgba(245,148,63,0.5);
			  }
			  &.b-table-thisDay__red{
				background: rgba(246,108,108,0.5);
			  }
			  &.b-table-thisDay__violet{
				background: rgba(239,138,184,0.5);
			  }
			  &.b-table-thisDay__bolderViolet{
				background: rgba(105,108,212,0.5);
			  }
			  &.b-table-thisDay__grey{
				background: rgba(246,246,233,0.5);
			  }
			}

			&.b-table-lastDay__yellow{
			  background: rgba(249,217, 72, 1);
			  color:#fff;
			}
			&.b-table-thisDay__blue{
			  background: #6DA6E8;
			  color:#fff;
			}
			&.b-table-thisDay__green{
			  background: #74C283;
			  color:#fff;
			}
			&.b-table-thisDay__orange{
			  background: #F5943F;
			  color:#fff;
			}
			&.b-table-thisDay__red{
			  background: #F66C6C;
			  color:#fff;
			}
			&.b-table-thisDay__violet{
			  background: #EF8AB8;
			  color:#fff;
			}
			&.b-table-thisDay__bolderViolet{
			  background: #696CD4;
			  color:#fff;
			}
			&.b-table-thisDay__grey {
			  background: #F6F6E9;
			}

			a{
			  margin-top:-1px;
			}
			div, span{

			  height: auto !important;
			  line-height: inherit;
			  max-height: 100% !important;
			  min-width: 100%;
			  padding: 0;
			}
		  }
		  .b-table-icon{
			font-size: 30px;
			&__red{
			  color:#F66C6C;
			}
			&__green{
			  color:#74C283;
			}
			&__yellow{
			  color:#F9D948;
			}
			&__blue{
			  color:#6DA6E8;
			}
			&__orange{
			  color:#F5943F;
			}
			&__violet{
			  color:#EF8AB8;
			}
			&__darkBlue{
			  color:#696CD4;
			}
		  }
		  a{
			color:#4c4c4c;

			&:hover{
			  color:#2ea97d
			}
			&.b-button__red{
			  color:@brand-danger;
			}
		  }
		}
	}

	td@{b}-column
	{
		&-buttons
		{
			padding-left  : 0;
			padding-right : 0;
			font-size     : 0px;
			line-height   : 0;

			@{b}-buttons
			{
				white-space : nowrap;
				.b-button
				{
					.square(30px);
					padding     : 0;
					line-height : 30px;
					text-align  : center;
					margin      : 0 5px;

					._icon
					{
						.opacity(1);
						font-size : 17px;
						margin    : 0;
					}

					&__light
					{
						color : @brand-success !important;
					}

					&.b-button__red .icon:before,
					&.b-button__green .icon:before
					{
						color : #FFF !important;
					}
				}
			}

		}
	}


	/* Rows responds when hover */
	@import "__hovered/include";

	/* Sortable heading cells */
	@import "__sortable/include";

	/* Nested tables*/
	@import "__nested/include";
	@import "_report/include";

}
