.ik_select
{
	@input-height : 30px;
	@border-radius: 3px;


	z-index            : 2;
	position           : relative;
	display            : block;
	width              : 100%;
	height             : @input-height;
	line-height        : 1.42;
	vertical-align     : middle;
	background         : transparent;
	color              : #4C4C4C;
	-webkit-transition : border-color ease-in-out 0.15s;
	transition         : border-color ease-in-out 0.15s;
	border             : 1px solid @brand-silver;
	border-radius      : @border-radius;
	box-shadow         : none;
	font-size          : 11px;

	&_link
	{
		height        : @input-height;
		line-height   : @input-height;
		padding-left  : 6px;
		color         : #868686;
		border-radius : @border-radius;

		&_focus
		{
			border-color : #9DC02E;
			box-shadow   : 0 0 6px #FFF;
		}
		&_disabled
		{
		}

		&_text
		{
			display          : block;
			overflow         : hidden;
			white-space      : nowrap;
			-o-text-overflow : ellipsis;
			text-overflow    : ellipsis;
			color            : #868686;
		}
		[class*="icon-"]
		{
			color : #9DC02E;
		}
	}
	&_dropdown
	{
		top : 55px;
		p
		{
			margin  : 0;
			padding : 5px 15px;
		}
	}
	&_list
	{
		color          : #37465D;
		background     : #FAFBFC;
		border         : 1px solid #9DC02E;
		padding-bottom : 10px;
		border-radius  : @border-radius;
		box-shadow     : 0 3px #9DC02E;

		ul
		{
			list-style : none;
			padding    : 0;
			margin     : 0;
		}
	}
	&_option
	{
		padding : 10px 17px 6px;
		cursor  : pointer;
	}
	&_hover
	{
		background : #9DC02E;
	}
	&_active
	{
		background : #37455D;
		color      : #FFF;
	}
	&_filter_wrap
	{
		padding : 5px 15px
	}
	&_filter
	{
		border-radius : @border-radius;
		display       : block;
		border        : 1px solid #5E6A7D;
		font-weight   : 300;
		width         : 100% !important;
		padding       : 0;
		height        : 30px;
	}

	&_nothing_found
	{
		padding    : 7px 17px;
		color      : #AC4747;
		text-align : center;
	}

	select
	{
		height : 0 !important;
	}
}
