&@{b}__checkbox
{
	position : absolute;
	.opacity(0);
	margin   : 0;

	& ~ .checkbox-control
	{
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : middle;
		border-radius  : 3px;
	  	cursor         : pointer;
		line-height    : @line-height-base;

		& + .checkbox-control
		{
			margin-left : 10px;
		}

		&__box
		{
			border : 1px solid @form-control-border;
			.square(16px);

			&:before
			{
				visibility              : hidden;
				font-size               : 10px;
				vertical-align          : top;
				color                   : @brand-success;
				font-family             : "fontello";
				font-style              : normal;
				font-weight             : normal;
				display                 : block;
				text-decoration         : inherit;
				text-align              : center;
				font-variant            : normal;
				text-transform          : none;
				-webkit-font-smoothing  : antialiased;
				-moz-osx-font-smoothing : grayscale;
				z-index                 : 1;
				content                 : '\e9dd';
			}

			&:hover:before
			{
				visibility : visible;
				.opacity(0.8);
			}
		}

		&__image
		{
			border : 1px solid @form-control-border;
		}

		&:hover
		{
			border-color : @form-control--focus-border;
		}
	}

	&:checked ~ .checkbox-control
	{
		border-color : @form-control--active-border;

		&__box:before
		{
			visibility : visible;
		}
	}
	&.checked-partial:checked ~ .checkbox-control
	{
		&__box:before
		{
			font-weight : bold !important;
			content     : "-";
			font-size   : 16px;
			line-height : 13px;
			font-family : Verdana;
		}
	}

}
