&@{b}__holiday
{
	@{b}-description
	{
		width : 110px;
	}

	@{b}-footer
	{
		border        : 1px solid @brand-silver;
		border-radius : 8px;
		text-align    : center;
		padding       : 5px 15px;

		.date
		{
			&-day
			{
				.text-bold;
				font-size : 24px;
				display   : block;
			}

			&-month
			{
				color       : @brand-info;
				font-size   : 10px;
				line-height : 13px;
				display     : block;
			}

		}
	}
}
