@{b}-header
{
	@height: 60px;
	background : @brand-success;
	height     : @height;
	position   : relative;

	.a-link
	{
		height          : @height;
		line-height     : @height;
		//padding-top     : 0;
		//padding-bottom  : 0;
		color           : #FFF;
		text-decoration : none;
	}

	@{b}__authorized&
	{
		.b-logotype
		{
			height : @height;
			margin : 0 20px;

			&-link
			{
				padding-right : 20px;
				height        : 60px !important;
				display       : block;
			}

			@media (max-width : 990px)
			{
				margin : 0;
			}
		}

		.b-menu
		{
			&.b-menu__horizontal
			{
				> .b-menu-item
				{
					> .a-link
					{
						padding     : 0 20px;
						border-left : 0;
					}

					&__parent > .a-link
					{
						border-left  : 1px solid #56BA96 !important;
						border-right : 1px solid #56BA96;
						margin-left  : -1px;

						._icon
						{
							margin    : 0;
							font-size : 20px;
						}
					}

					&.b-userMenu
					{
						> .a-link > ._icon
						{
							.square(30px);
							border-radius : 30px;
							background    : #05895A;
							color         : #69B89B;
							font-size     : 11px;
							line-height   : 30px;
							text-align    : center;
							display       : inline-block;
							*display      : inline;
							*zoom         : 1;
						}
						& .b-userMenu-avatarWrapper
						{
							display        : inline-block;
							position       : relative;
							.square(30px);
							border-radius  : 30px;
							background     : #05895A;
							overflow       : hidden;
							vertical-align : middle;
							margin-right   : 10px;
						}
					}
				}

			}
			&.b-menu__vertical .a-link
			{
				color       : inherit;
				//white-space : nowrap;
				overflow    : hidden;
				height      : auto;
				line-height : @line-height-base;
				> ._icon
				{
					margin : 0 12px 0 -3px;
				}
			}
		}


		@media (max-width : 1000px)
		{
			.b-logotype
			{
				margin : 0 5px;
			}

			.b-menu.b-menu__root > .b-menu-item .a-link
			{
				padding : 0 10px;
			}
		}

	}
}
