&-light
{
	box-shadow : 0 1px 3px #CCC;
	box-shadow : 0 1px 3px rgba(0, 0, 0, 0.1);
	@{b}-item
	{
		.a-link
		{
			color        : #4C4C4C;
			border-color : #F2F2F2;
			background   : #FFF;

		}

		&:hover > .a-link,
		&@{b}-item__active > .a-link
		{
			background   : #F6F6E9;
			border-color : #F6F6E9;
		}
	}
}
