.b-form-container__hide{
    background: #fff;
    padding:10px 15px;
    border-radius: 4px;
  top:4%;
  display: none;
  left:28%;
  width: 374px;
  position: absolute;
  z-index: 999;
    border:1px solid @brand-gray-eee;

  .b-form-container_header{
    margin:0 0 20px;
    font-size: 14px;
    font-family: 'Roboto';
  }

  .b-form-container__hide-list{
    margin:0;
    padding:0;
    list-style: none;


    .b-form-container__hide-list--item{
      margin:0;
      padding:0;
      font-family: Arial, sans-serif;
      font-size: 13px;
      margin-bottom: 10px;

      strong{
        color:#000;

      }
      span{
        line-height: 21px;
      }
    }
  }
}