.b-content_card
{
	@b: ~'.b-content_card';

	padding       : 0 10px;
	margin-bottom : 20px;

	& &-inner
	{
		border-radius : 4px;
		overflow      : hidden;
	}

	&-picture
	{
		position   : relative;
		display    : block;
		background : #E3E3E3;
		overflow   : hidden;
		&:hover{
		  text-decoration: none;
		}
		&__200
		{
			height : 278px;
		}

		> .image
		{
			transition : transform 800ms;
			position   : relative;
			z-index    : 2;
			margin     : 0 auto;
		}

		@{b}-title
		{
			display         : block;
			position        : absolute;
			bottom          : 15px;
			left            : 20px;
			right           : 20px;
			text-decoration : none;
			z-index         : 5;
		}

		&:before
		{
			color       : #FFF;
			display     : block;
			position    : absolute;
			z-index     : 1;
			left        : 0;
			top         : 26px;
			bottom      : 0;
			right       : 0;
			content     : '\ea46';
			font-family : fontello;
			font-size   : 85px;
			text-align  : center;
			line-height : 200px;
		}
		&:after
		{
			z-index  : 3;
			display  : block;
			content  : "";
			position : absolute;
			bottom   : 0;
			left     : 0;
			width    : 100%;
			height   : 100%;
			#gradient > .vertical(transparent, rgba(0, 0, 0, 0.3));
		}

		&:hover
		{
			//.opacity(0.8);
			.image
			{
				transform : scale(1.05);
			}
			&:after
			{
				.opacity(0.5);
			}
		}
	}

	@{b}-title
	{
		color       : #FFF;
		font-size   : 16px;
		line-height : 21px;
	}

	@import '__bordered/include';
	@import 'themes/include';
}
