.b-overdue
{
	@b: ~'.b-overdue';

	border-radius : 4px;
	position      : relative;
	color         : #FFF;
	background    : @brand-warning;
	padding       : 25px 30px;
	padding-left  : 95px;
	overflow      : hidden;

	&-icon
	{
		position   : absolute;
		left       : 30px;
		margin-top : 3px;
	}

	&-message
	{
		font-size   : 18px;
		font-weight : 300;
		line-height : 24px;
		float       : left;
	}

	&-buttons
	{
		margin-top : 10px;
		float      : right;

		.b-button
		{
			text-align    : center;
			width         : 105px;
			padding-left  : 25px;
			padding-right : 25px;
		}
	}
}
