@{b}-pay_method_info
{
	@b: ~'.b-pay_method_info';

	@{b}-header
	{
		color         : @brand-info;
		font-size     : 14px;
		line-height   : 24px;
		margin-bottom : 10px;
	}

	@{b}-outer
	{
		padding       : 15px;
		border        : 1px solid @brand-silver;
		border-radius : 4px;
		overflow      : hidden;

		@{b}-picture
		{
			float        : left;
			margin-right : 10px;
		}

		@{b}-identity
		{
			margin-top : -5px;
			font-size  : 14px;
			color      : @brand-darkgray;
		}

		@{b}-metadata
		{
			margin-top  : 3px;
			color       : #868686;
			font-size   : 10px;
			line-height : 13px;
		}
	}

}
