.b-slidebar
{
	@b: ~'.b-slidebar';
	position : fixed;
	left     : 0;
	top      : 0;
	bottom   : 0;
	z-index  : 100;

	.b-layout
	{
		margin-top : 0;
		display    : none;
		min-height : 100%;

		&.js-opened:before
		{
			content    : '';
			display    : block;
			position   : fixed;
			left       : 0;
			right      : 0;
			top        : 0;
			bottom     : 0;
			background : #000;
			.opacity(0.5);
			z-index    : 90;
		}

		&,
		.b-layout-column
		{
			position : relative;
			z-index  : 120;
			height   : 100%;
		}

		&-column
		{
			overflow  : auto;
			min-width : 350px;
		}
	}

	@{b}-closer
	{
		position        : absolute;
		right           : -40px;
		top             : 0;
		color           : @brand-success;
		z-index         : 110;
		background      : #FFF;
		.square(30px);
		text-decoration : none !important;
		line-height     : 30px;
		text-align      : center;
		font-size       : 13px;
		border-radius   : 4px;
	}

	@{b}-opener
	{
		.square(30px);
		position      : absolute;
		left          : 1px;
		top           : 50%;
		margin-top    : -15px;
		z-index       : 110;
		padding       : 0;
		line-height   : 30px;
		text-align    : center;
		font-size     : 15px;
		border-radius : 4px;
	}

	@{b}-menu.b-menu
	{
		@component: ~'.b-menu';

		@{component}-item
		{
			max-width   : 100%;
			overflow    : hidden;
			white-space : nowrap;

			@{component}-tag
			{
				text-align  : center;
				min-width   : 20px;
				margin-left : 10px;
			}

			&__parent
			{
				> @{component}
				{
					.a-link
					{
						color        : lighten(#000, 50%);
						padding-left : 20px !important;
					}
				}
			}
		}
	}

	.b-cropcontent
	{
		display      : block;
		margin-right : 30px;
	}

	&__employeeFilter
	{
		@{b}-menu.b-menu
		{
			@component: ~'.b-menu';
			border-bottom : 2px solid @brand-silver;

			@{component}-item
			{
				max-width   : 100%;
				overflow    : hidden;
				white-space : nowrap;

				> .a-link
				{
					padding : 7px 20px;
					border  : 0;
				}

				&__parent > @{component} .a-link
				{
					padding-left : 20px !important;
				}
			}

			.b-form-label
			{
				display   : block;
				margin    : 1px 40px 0 25px;
				font-size : inherit;

				&__textBig
				{
					font-size   : 14px;
					text-shadow : 0 0 0 #000;
				}
			}
		}

		.b-toggler
		{
			margin-top  : 2px;
			height      : 17px !important;
			width       : 17px !important;
			line-height : 1.3;
			padding     : 0;
			font-size   : 11px;
			text-align  : center;

			&:before
			{
				margin-left : 1px;
				width       : auto !important;
				filter      : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
				transform   : rotate(-90deg);
			}

			&[aria-expanded=true]:before
			{
				margin-left : 0;
				filter      : progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
				transform   : rotate(180deg);
			}
		}

		.b-cropcontent
		{
			display      : inline-block;
			margin-right : 0;
		}

	}
}
