.b-billing
{
	@b: ~'.b-billing';

	.progress
	{
		padding    : 3px;
		height     : 20px;
		background : @brand-gray-eee;

		&-bar
		{
			border-radius : 4px;
		}
	}

	&-switcher .b-switcher
	{
		width : 180px;

		&-label
		{
			text-align : center !important;
		}
	}

	.b-sexySlider-control-item
	{
		height      : 100px;
		line-height : 100px;
		top         : 50%;
		margin-top  : -50px;
		font-size   : 22px;
		display     : block;
		float       : left;

		&:hover
		{
			color        : @brand-success;
			border-color : @brand-success;
		}

		._icon:before
		{
			width : auto !important;
		}
	}

	@import "./wizard/include";
	@import "./plan/include";
	//@import "./steps/include";
	@import "./pay_method_info/include";

}
.b-billing-tab {
  ul{
  margin:0 0 0 6px;
  padding:0;

	li{
	  margin:0;
	  list-style: none;
	  float: left;
	  width:154px;
	  white-space: nowrap;
	  font-size: 14px;
	  color:#868686;
	  text-align: center;


	  &:first-child{
		a{

		  -webkit-border-radius: 4px 0 0 4px;
		  -moz-border-radius: 4px 0 0 4px;
		  border-radius: 4px 0 0 4px;
		}
	  }

	  &:last-child{
		a{

		  -webkit-border-radius: 0 4px 4px 0;
		  -moz-border-radius: 0 4px 4px 0;
		  border-radius: 0 4px 4px 0;
		  border-left: none;
		}
	  }

	  &.active, &:hover{

		color:#fff;
	  }
	  a{
		padding:10px 15px;
		color:#868686;
		border:1px solid @brand-gray-eee;
		display: block;
		&:hover, &.active{
		  color:#fff;
		  background: @brand-success;
		  border-color: @brand-success;
		  text-decoration: none;
		}
		span{
		  color:@brand-success;
		}
	  }
	}
	}
  .tab-container{
	display: none;
	padding:10px 15px;

	&.active{
	  display: block;
	}
	&:first-child{
	  display: block;
	}

	.count_employee-block{
	  padding:15px;
	  background: @brand-gray-eee;
	  color:#868686;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  text-align: center;
	  font-size: 13px;
	  .count-number{
		font-size: 16px;
	  }
	}
	.price_count{
	  display: table;
	  div{
		padding:10px 15px;
		color:#868686;
		display: table-cell;
		border:1px solid @brand-gray-eee;
		font-size: 14px;

		&:first-child{
			-webkit-border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
		  color:@brand-success;
		}

		&:last-child{
			-webkit-border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border-radius: 0 4px 4px 0;
			border-left: none;

		}

	  }
	}
	.price_button{
	  button{
		background: @brand-success;
		color:#fff;
		font-size:16px;
		font-weight: bolder;
		padding:15px;
		border:none;
		width:100%;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	  }
	}
  }
}
.b-billing-plan__border{
  border-bottom: 1px solid @brand-gray-eee;
  padding-bottom:10px;
  margin-bottom:10px;
}