&@{b}__authorized
{
	@{b}-wrapper
	{
		background : #EEE;
	}

	@{b}-footer
	{
		color       : #B2B2B2 !important;
		font-size   : @font-size-base;
		font-weight : 400;
		line-height : 16px;
		background  : #FFF;
	}
}
