&@{b}__unauthorized
{
	@{b}-header
	{
		background : none;
		height     : auto !important;
	}

	@{b}-footer
	{
		color : #FFF;
	}

	@{b}-wrapper
	{
		padding                 : 40px 0 105px;
		-moz-background-size    : cover;
		-o-background-size      : cover;
		-webkit-background-size : cover;
		background-size         : cover;
		background-image        : url(~'@{imgPath}/page/unauthorized/background.png');
		background-color        : #2EA97D;
	}

}
