.b-page
{
	@b: ~'.b-page';
	margin      : 0 !important;
	padding     : 0;
	font-size   : @font-size-base;
	font-weight : 400;

	@{b}-wrapper
	{
		min-height     : 100%;
		position       : relative;
		padding-bottom : 65px;
	}

	@{b}-content
	{
		position : relative;
	}

	&__lock
	{
		position : relative;
		height   : 100%;
		overflow : hidden;
	}

	@import "__unauthorized";
	@import "__authorized";
	@import "header/include";
	@import "footer/include";
}
