.b-panel
{
	@b: ~'.b-panel';
	margin-bottom : @b-panel-gutter-y;
	border-radius : 4px;

	&-header
	{
		padding       : @b-panel-padding;
		border-radius : 3px 3px 0 0;
		font-size     : 14px;
		line-height   : 20px;
		font-weight   : 400;
		.clearfix();
	}

	&-body
	{
		padding     : @b-panel-padding;
		font-size   : @font-size-base;
		line-height : 16px;
		font-weight : 300;
		.clearfix();
	}
	&-footer
	{
		padding       : @b-panel-padding;
		border-radius : 0 0 3px 3px;
		.clearfix();
	}

	@import "variables";
	@import "__theme/include";
}
