.b-payment
{
	margin-bottom : 50px;

	@import "./total/include";

}
.b-payment-block{
	.b-payment-header{
	  font-size: 24px;
	  color:#4c4c4c;
	}
  .b-payment-price-block{

	background-image: url("@{imgPath}/payment/W.png");
	background-repeat: no-repeat;
	background-position:-13px center
  }
  &_nobg{
	background: none;
  }
  .b-payment-total{
	margin-left: 39px;
  }
  .b-payment-small-text_gray{
	font-size: 14px;
	color:#868686;
	font-weight: normal;
  }
}