.b-nameOf_department{
  background: #f6f6e9 none repeat scroll 0 0 !important;
  border-left: medium none !important;
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  padding:10px 20px;
  &:before{
    border-left: 4px solid #2ea97d !important;
    content: "";
    height: 100%;
    left: -1px;
    position: absolute;
    top: -1px;
  }
}