@{b}-item
{
	> .a-link
	{
		display         : block;
		padding         : 11px 20px;
		border-top      : 1px solid transparent;
		text-decoration : none;
		font-size       : @font-size-base;
		line-height     : 17px;

		margin          : 0;
		font-weight     : normal;
	}
}
