.b-tariff_card
{
	@b: ~'.b-tariff_card';
	width  : 185px;
	cursor : pointer;

	&-inner
	{
		height        : 170px;
		border        : 1px solid @brand-silver;
		border-radius : 4px;
		text-align    : center;
		position      : relative;
		display       : block;
	}

	&-input
	{
		display : none;
	}

	&-conditions
	{
		padding     : 12px 0;
		color       : @brand-info;
		font-size   : 18px;
		line-height : 24px;
		display     : block;
	}

	&-name
	{
		display     : block;
		font-size   : 24px;
		font-weight : 400;
		line-height : 32px;
		background  : @brand-gray-eee;
		color       : @brand-info;
		padding     : 9px 0;
	}

	&-price
	{
		display     : block;
		color       : @brand-info;
		color       : #868686;
		font-size   : 14px;
		line-height : 24px;
		padding     : 12px 0;
	}

	@{b}-inner:hover,
	&-input:checked + @{b}-inner
	{
		border-color : @brand-success;

		@{b}-conditions
		{
			color : @brand-darkgray;
		}
		@{b}-name
		{
			background-color : @brand-success;
			color            : #FFF;
		}
	}

}
