&-light
{
	@{b}-summary
	{
		color : #B2B2B2;
	}
	
	@{b}-divider
	{
		background : @brand-silver;
	}

	@{b}-items
	{
		@{b}-item
		{
			&__link
			{
				color        : #4C4C4C;
				border-color : @brand-silver;

				&.active,
				&:hover
				{
					color : #B2B2B2;
					border-color : darken(@brand-silver, 10%);
				}
			}
		}
	}
}
