@{b}-footer
{
	height     : 65px;
	margin-top : -65px;
	padding    : 22px;
	overflow   : hidden;
	position   : relative;
	border-top : 1px solid rgba(255, 255, 255, 0.5);

	.b-footer-menu > li
	{
		margin-right : 20px;

		a
		{
			color           : inherit;
			text-decoration : none;
			font-size       : 14px;
		}
	}

	.copy
	{
		color     : inherit;
		font-size : 14px;
	}

	.b-social_links
	{
		color : inherit;
		> span,
		> ul
		{
			display        : inline-block !important;
			*display       : inline !important;
			*zoom          : 1;
			vertical-align : top;
		}

		> ul a
		{
			font-size          : 20px;
			color              : inherit;
			text-decoration    : none !important;
			font-weight        : normal;
			opacity            : 0.8;
			transition         : transform 500ms;

			&:before
			{
				margin : 0;
			}

			&:hover
			{
				transform         : scale(1.2);
				opacity           : 1;
			}
		}
	}

	@media (max-width : 720px)
	{
		height     : 80px;
		margin-top : -80px;
		padding    : 10px 15px;
		text-align : center;
		overflow   : hidden;

		.copy
		{
			float : none !important;
		}

		.b-footer-menu
		.b-social_links
		{
			width : 100%;
			float : none !important;

			ul
			{
				margin-bottom : 3px;
			}

			> li
			{
				float   : none !important;
				display : inline !important;
				margin  : 0 4px !important;
			}
		}
	}
}
