.b-switcher
{
	@b: ~'.b-switcher';
	display        : block;
	line-height    : 20px;
	vertical-align : middle;
	margin         : 0;
	cursor         : pointer;

	&-options
	{
		user-select    : none;
		position       : relative;
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		margin         : 0 8px;
		vertical-align : middle;
		width          : 42px;

		&.pull-right
		{
			margin-right : 0;
		}
		&.pull-left
		{
			margin-left : 0;
		}

		&-checkbox
		{
			display : none;
		}

		&-label
		{
			border-radius : 10px;
			cursor        : pointer;
			display       : block;
			margin        : 0;
			overflow      : hidden;
		}

		&-inner
		{
			display     : block;
			margin-left : -100%;
			transition  : margin 0.3s ease-in 0s;
			width       : 200%;

			&:before,
			&:after
			{
				box-sizing  : border-box;
				color       : white;
				display     : block;
				float       : left;
				font-family : Trebuchet, Arial, sans-serif;
				font-size   : 10px;
				font-weight : bold;
				height      : 20px;
				line-height : 20px;
				padding     : 0;
				width       : 50%;
			}

			&:before
			{
				background-color : #009661;
				color            : #FFF;
				content          : "";
				padding-left     : 5px;
			}

			&:after
			{
				background-color : #CCC;
				content          : "";
				padding-right    : 5px;
				text-align       : right;
			}

		}
		&-switch
		{
			background    : none repeat scroll 0 0 #FFF;
			border-radius : 14px;
			bottom        : 0;
			display       : block;
			margin        : 2px;
			position      : absolute;
			left          : 0;
			top           : 0;
			transition    : all 0.3s ease-in 0s;
			width         : 16px;
		}

		.b-switcher-options-checkbox:checked + .b-switcher-options-label .b-switcher-options-inner
		{
			margin-left : 0;
		}

		.b-switcher-options-checkbox:checked + .b-switcher-options-label .b-switcher-options-switch
		{
			left        : 100%;
			margin-left : -18px;
		}
	}

	@import "dual/include";
}
