.b-menu
{
	@b: ~'.b-menu';

	@import './variables';

	&__list // .b-menu__list для ul, ol
	{
		list-style : none;
		padding    : 0;
		margin     : 0;
	}

	/*
	* вариант горизонтального меню
	*/
	@import '__horizontal/include';

	/*
	* вариант горизонтального меню
	*/
	@import '__vertical/include';

	/*
	* меню pills
	*/
	@import '__pills/include';

	/*
	* меню tabs
	*/
	@import '__tabs/include';

	/*
	* меню dropdown
	*/
	@import '__dropdown/include';

	/*
	* меню сайдбара
	*/
	@import '__sidenav/include';

	@{b}-tag
	{
		margin : 0px 3px 0px !important;
		float  : right;
		display: -moz-inline-stack;
		display: inline-block;
		*display: inline; *zoom:1;
	}
}
