@menu-item-padding: 10px;
@menu-item-background: @brand-success;
@menu-item-background__hover: #249B71;
@menu-item-background__active: #249B71;
@menu-item-border__active: #07895B;

@menu-item-parent-arrow_down-symbol: '\ea58';
@menu-item-parent-arrow_down-font: 'fontello';
