.b-404-container{
  padding: 20px 0 0;
  .b-techwork-header{
    margin: 0 auto;
    h1{
      margin:102px 0 0 20px;
    }
  }
  h1{
    font-size:36px;
    margin:35px 0 20px;
    font-family: 'Roboto';
    color:#3C3C3C;
    font-weight: 400;
  }
  .b-404-container-small-text{
    font-size: 21px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    color:#B2B2B2;
    font-weight: 400;
  }
  .a-link{
    font-size: 19px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'Roboto';
  }
  .b-404-footer{
    border-top:1px solid @brand-gray-eee;


    .b-404-footer-help{
      padding:50px 0 50px 102px;

      a{
        font-size: 18px;
      }
      div{
        font-size: 16px;
      }

    }
    .b-404-footer-manual-help{
      border-right:1px solid @brand-gray-eee;
      background: url("@{imgPath}/404/manual.png") left no-repeat;

    }
    .b-404-footer-center-help{
      background: url("@{imgPath}/404/help.png") left no-repeat;

    }
  }
}
