.b-pagination
{
	@b: ~'.b-pagination';
	overflow : hidden;

	&-summary
	{
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : top;
	}
	&-divider
	{
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : top;
		width          : 1px;
		overflow       : hidden;
		text-indent    : -99px;

		&:before
		{
			content : '.';
		}

	}
	&-items
	{
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		font-size      : 0;
		vertical-align : top;
		padding        : 0 15px;

		@{b}-item
		{
			display        : inline-block;
			*display       : inline;
			*zoom          : 1;
			vertical-align : middle;
			margin         : 0 5px;
			font-size      : @font-size-base;

			&__link
			{
				text-decoration : none;
				border          : 1px solid transparent;
				border-radius   : 4px;
				height          : 30px;
				line-height     : 28px;
				padding         : 0 10px;
			}

			&__prev,
			&__next
			{
				padding     : 0;
				text-align  : center;
				font-size   : 6px;
				line-height : 30px;
				.size(60px, 30px);
			}
		}
	}

	@import "themes/include";
}
