.b-report
{
	&-form
	{
		position : relative;
		z-index  : 1;

		&-calendar
		{
			width         : 200%;
			position      : absolute;
			top           : 0;
			left          : 0;
			z-index       : 2;
			padding       : 10px 0 0;
			visibility    : hidden;
			transition    : all 0.3s;
			opacity       : 0;
			font-size     : 0;

			background    : #FFF;
			border-radius : 4px;

			.b-form-control:hover ~ &,
			.b-form-control:focus ~ &,
			&:hover
			{
				opacity    : 1;
				top        : 100%;
				visibility : visible;
			}

			&-presets
			{
				width          : 50%;
				vertical-align : top;
				display        : inline-block;
				font-size      : @font-size-base;
				border-right   : 1px solid #E8E8E8;
			}

			&-datepicker
			{
				width          : 50%;
				vertical-align : top;
				display        : inline-block;
				font-size      : @font-size-base;
				z-index        : 4;
				padding        : 0 5px;

				.datepicker
				{
					border : 0;
				}
			}
		}
	}
}

 .chrome-tabs-shell {
   position: relative;
   background-color: #fff;
   padding: 0 10px;
   height: 49px;
   overflow: hidden;

   .chrome-shell-bottom-bar {
	 position: absolute;
	 bottom: 0px;
	 height: 4px;
	 left: 0px;
	 width: 100%;
	 border-top: 1px solid rgba(0, 0, 0, 0.35);
	 -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
	 -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
	 box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
	 background-color: #eeeeee;
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #ebebeb));
	 background-image: -webkit-linear-gradient(top, #ebebeb, #ebebeb);
	 background-image: -moz-linear-gradient(top, #ebebeb, #ebebeb);
	 background-image: -o-linear-gradient(top, #ebebeb, #ebebeb);
	 background-image: linear-gradient(top, #ebebeb, #ebebeb);
	 border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	 z-index: 20;
   }
 }

.chrome-tabs {
  *zoom: 1;
  position: relative;
  width: 99999px;

  &:after {
	content: "";
	display: table;
	clear: both;
  }
  &.chrome-tabs-clone {
	position: absolute;
	top: 10px;
	pointer-events: none;

	.chrome-tab {
	  -webkit-transition: left 120ms ease-in-out;
	  -moz-transition: left 120ms ease-in-out;
	  -o-transition: left 120ms ease-in-out;
	  transition: left 120ms ease-in-out;
	  position: absolute;
	}
  }
  .chrome-tab {
	position: relative;
	height: 49px;
	width: 160px;
	margin: 0px;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	transition: width 0.5s ease;
	z-index: 1;
  }
}
.chrome-tabs .chrome-tab, .chrome-tabs .chrome-tab .chrome-tab-curves-left, .chrome-tabs .chrome-tab .chrome-tab-curves-right {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #d0d0d0));
  background-image: -webkit-linear-gradient(top, #e0e0e0, #d0d0d0);
  background-image: -moz-linear-gradient(top, #e0e0e0, #d0d0d0);
  background-image: -o-linear-gradient(top, #e0e0e0, #d0d0d0);
  background-image: linear-gradient(top, #e0e0e0, #d0d0d0);
}
.cssmasks .chrome-tabs .chrome-tab {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 -1px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 -1px rgba(0, 0, 0, 0.24);
  margin: 0 3px 0 20px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves {
  display: none;
}
.cssmasks .chrome-tabs .chrome-tab .chrome-tab-curves {
  display: block;
}
.chrome-tabs .chrome-tab .chrome-tab-curves * {
  position: absolute;
  width: 20px;
  height: 24px;
  -webkit-mask-size: 100%;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left, .chrome-tabs .chrome-tab .chrome-tab-curves-left-highlight, .chrome-tabs .chrome-tab .chrome-tab-curves-left-shadow {
  -webkit-mask-image: url("../svg/tab-left.svg");
}
.chrome-tabs .chrome-tab .chrome-tab-curves-right, .chrome-tabs .chrome-tab .chrome-tab-curves-right-highlight, .chrome-tabs .chrome-tab .chrome-tab-curves-right-shadow {
  -webkit-mask-image: url("../svg/tab-right.svg");
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left, .chrome-tabs .chrome-tab .chrome-tab-curves-right {
  top: 1px;
  z-index: 1;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left {
  left: -20px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-right {
  right: -20px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left-highlight, .chrome-tabs .chrome-tab .chrome-tab-curves-right-highlight {
  top: 0px;
  width: 21px;
  height: 25px;
  background-color: #ececec;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left-highlight {
  left: -21px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-right-highlight {
  right: -21px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left-shadow, .chrome-tabs .chrome-tab .chrome-tab-curves-right-shadow {
  top: -1px;
  width: 22px;
  height: 26px;
  background: rgba(0, 0, 0, 0.29);
}
.chrome-tabs .chrome-tab .chrome-tab-curves-left-shadow {
  left: -22px;
}
.chrome-tabs .chrome-tab .chrome-tab-curves-right-shadow {
  right: -22px;
}
.chrome-tabs .chrome-tab.chrome-tab-current {
  z-index: 999;
}
.cssmasks .chrome-tabs .chrome-tab.chrome-tab-current {
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6), 0 -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6), 0 -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.6), 0 -1px rgba(0, 0, 0, 0.25);
}
.chrome-tabs .chrome-tab.chrome-tab-current, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-left, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-right {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ebebeb);
  background-image: -moz-linear-gradient(top, #eeeeee, #ebebeb);
  background-image: -o-linear-gradient(top, #eeeeee, #ebebeb);
  background-image: linear-gradient(top, #eeeeee, #ebebeb);
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-left-shadow, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-right-shadow {
  background: rgba(0, 0, 0, 0.34);
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-left-highlight, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-right-highlight, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-left-shadow, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-right-shadow {
  height: 25px;
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-left-highlight, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves-right-highlight {
  background-color: #f9f9f9;
}
.cssmasks .chrome-tabs .chrome-tab:not(.chrome-tab-current):after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: -16px;
  right: -16px;
  background: rgba(0, 0, 0, 0.04);
  height: 1px;
  z-index: 1;
}
.chrome-tabs .chrome-tab .chrome-tab-favicon {
  height: 16px;
  width: 16px;
  background-size: 16px;
  position: absolute;
  left: 9px;
  top: 5px;
  z-index: 3;
}
.cssmasks .chrome-tabs .chrome-tab .chrome-tab-favicon {
  left: 0;
  top: 4px;
}
.chrome-tabs .chrome-tab .chrome-tab-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cssmasks .chrome-tabs .chrome-tab .chrome-tab-title {
  padding: 5px 5px 5px 18px;
}
.chrome-tabs .chrome-tab .b-tab-close {
  position: absolute;
  color: #2ea97d;
  font-size: 8px;
  height: 14px;
  right: 7px;
  top: 19px;
  width: 14px;
  z-index: 2;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
}
.cssmasks .chrome-tabs .chrome-tab .b-tab-close {
  right: -5px;
  top: 6px;
}

