&-light
{
	@{b}-caller
	{
		background : @accordion-caller-background;
		color      : @accordion-caller-text;
		transition : all 500ms;

		&:hover
		{
			background : @accordion-caller--hover-background;
			color      : @accordion-caller--hover-text;
		}

		&:active,
		&@{accordion-caller-class-collapsed}
		{
			background : @accordion-caller--active-background;
			color      : @accordion-caller--active-text;
		}

		._iconStatement:before
		{
			color : @brand-success;
		}

	}
}
