@{b}-item
{
	padding       : 11px 20px;
	font-size     : @font-size-base;
	//line-height   : 16px;
	border-top    : 1px solid transparent;
	white-space   : nowrap;
	text-overflow : ellipsis;
	//overflow      : hidden;
	display       : block;

	&:first-child
	{
		border : 0;
	}

	&-icon
	{
		font-size      : 17px;
		vertical-align : middle;
		margin-right   : 8px;

		&:before
		{
			margin : 0;
		}
	}
}
