&@{b}__controls
{
	border-left  : 1px solid @border-color;
	border-right : 1px solid @border-color;
	width        : 50px !important;
	text-align   : center;

	.controls
	{
		vertical-align : middle;
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		position       : absolute;
		top            : 50%;
		left           : 0;
		width          : 100%;
		margin-top     : -38px;
		text-align     : center;

		.control
		{
			.square(20px);
			padding         : 0;
			display         : block;
			border-radius   : 4px;
			text-decoration : none;
			margin          : 12px auto;
			font-weight     : normal;
			line-height     : 18px;
			font-size       : 6px;
			color           : #FFF;
			background      : @brand-success;
			.opacity(0.8);

			&:before
			{
				width : auto;
			}

			&.disabled
			{
				border     : 1px solid @border-color;
				color      : @brand-silver;
				background : none !important;
			}

			&:hover
			{
				background-color : darken(@brand-success, 3%);
			}

			&:hover,
			&:active
			{
				.opacity(1);
			}
		}
	}
}
