.b-uploader
{
	@b: ~'.b-uploader';

	&-drop-outer
	{
		margin-bottom : 20px;
	}

	&-drop
	{
		margin : 5px 0;

		&-container
		{
			cursor        : pointer;
			text-align    : center;
			font-size     : 19px;
			color         : @brand-info;
			transition    : transform 0.4s;
			border-radius : 5px;
			border        : 3px dashed;
			padding       : 61px 30px 60px;
			display       : block;

			&:hover
			{
				background : fadeout(@brand-success, 90%);
				color      : @brand-success;
			}

			&.dragover
			{
				transform  : scale(1, 1.05);
				//color     : @brand-darkgray;
				background : fadeout(@brand-success, 90%);
				color      : @brand-success;
			}
		}

		input[type=file]
		{
			position : absolute;
			height   : 1px;
			left     : -1000px;
			.opacity(1);
			outline  : none;
		}
	}

	&-crop
	{
		&-widget
		{
			margin  : 5px 0;
			display : none;

			.cropit
			{
				border-radius : 5px;
				border        : 2px dashed @brand-info;
				padding       : 10px;

				&-outer
				{
					height   : 200px;
					overflow : hidden;
				}
				&-image-preview
				{
					position : relative;
					width    : 200px;
					height   : 200px;
					border   : 1px solid #EEE;
					cursor   : move;

					&-container
					{
						width  : 200px;
						height : 200px;
						margin : 0 auto;
					}
				}

				&-image-background
				{
					opacity : .2;
				}
			}

			.slider-wrapper
			{
				margin-top         : 20px;
				text-align         : center;
				-webkit-transition : opacity 0.25s;
				-moz-transition    : opacity 0.25s;
				-o-transition      : opacity 0.25s;
				-ms-transition     : opacity 0.25s;
				transition         : opacity 0.25s;
				*
				{
					vertical-align : top
				}

				._icon
				{
					font-size : 18px;
					display   : inline-block;
				}
				.cropit-image-zoom-input
				{
					width              : 400px;
					margin             : 0 15px;
					position           : relative;
					display            : inline-block;
					*display           : inline;
					*zoom              : 1;
					-webkit-appearance : none;
					appearance         : none;
					height             : 8px;
					background         : #EEE;
					border-radius      : 5px;
					outline            : none;
					vertical-align     : middle;
					cursor             : pointer;

					&::-moz-range-track
					{
						-moz-appearance : none;
						appearance      : none;
						height          : 8px;
						background      : #EEE;
						border-radius   : 5px;
						outline         : none
					}

					&::-webkit-slider-thumb
					{
						-webkit-appearance : none;
						appearance         : none;
						width              : 25px;
						height             : 25px;
						background         : #BBB;
						border             : 4px solid #FFF;
						box-shadow         : 0 0 3px @brand-info;
						border-radius      : 50%;
					}
					&::-moz-range-thumb
					{
						-moz-appearance : none;
						appearance      : none;
						width           : 25px;
						height          : 25px;
						background      : #BBB;
						border          : 4px solid #FFF;
						box-shadow      : 0 0 3px @brand-info;
						border-radius   : 50%;
					}

					&::-webkit-slider-thumb:active
					{
						background : @brand-success
					}
					&::-moz-range-thumb:active
					{
						background : @brand-success
					}
				}
			}
		}

		&-result
		{
			margin     : 5px 0;
			display    : block;
			text-align : center;

			&-container
			{
				border-radius : 5px;
				border        : 2px dashed @brand-info;
				padding       : 10px;
			}

			&-imageBox
			{
				position   : relative;
				display    : inline-block;
				max-width  : 200px;
				background : #FFF;

				&:before
				{
					content    : '';
					display    : block;
					position   : absolute;
					left       : 0;
					right      : 0;
					bottom     : 0;
					top        : 0;
					.opacity(0.3);
					background : #FFF;
				}
				&:after
				{
					content       : '\ea63';
					display       : block;
					position      : absolute;
					left          : 50%;
					top           : 50%;
					margin        : -22px 0 0 -22px;
					font-family   : fontello;
					color         : @brand-success;
					border        : 2px solid;
					font-size     : 16px;
					border-radius : 50%;
					text-align    : center;
					line-height   : 42px;
					.square(44px);
					.opacity(0.7);
				}

				&:hover
				{
					cursor : pointer;
					&:before
					{
						.opacity(0.5)
					}
					&:after
					{
						.opacity(1);
					}
				}
			}

			input[type=file]
			{
				position : absolute;
				height   : 1px;
				left     : -1000px;
				.opacity(1);
				outline  : none;
			}
		}

	}

	&-file
	{
		margin     : 5px 0;
		padding    : 5px 10px;
		background : @brand-gray;
		border     : 1px dotted @brand-silver;
		overflow   : hidden;
		position   : relative;

		&.uploaded
		{
			border     : 1px solid @brand-success;
			background : @brand-success;
			color      : #FFF;
		}

		&-progress
		{
			display       : none;
			position      : absolute;
			top           : 0;
			left          : 0;
			right         : 0;
			height        : 5px;
			margin-bottom : 6px;

			.bar
			{
				background : @brand-success;
			}
		}
		&-name
		{
			.text-bold;
		}

		&-delete
		{
			float         : right;
			text-align    : right;
			color         : @brand-danger;
			cursor        : pointer;
			font-size     : 16px;
			margin-bottom : -3px;

			.uploaded &
			{
				color : lighten(@brand-danger, 12%);
			}
		}

		&.working
		{

			@{b}-file-progress
			{
				display : block;
			}
		}
	}

	.b-button
	{
		cursor : pointer;
	}

	@import 'singeImage/include';
}
