.b-layout
{
	@b: ~'.b-layout';
	position : relative;
	color    : #4C4C4C;
	.clearfix();
	margin   : 20px 0;

	.container > &
	{
		margin : 20px -15px;
	}



	@import "./header/include";
	@import "./footer/include";


	@import "./column/include";
	@import "./side/include";
	@import "./component/include";

	&__twoside
	{
		padding-left : 320px;

		@{b}-side:first-child,
		@{b}-column:first-child
		{
			margin-left : -320px;
		}
	}

}
