.b-selectSideBySide
{
	@import "variables";
	@b: ~'.b-selectSideBySide';

	display       : inline-block;
	*display      : inline;
	*zoom         : 1;
	min-width     : 750px;
	background    : #FFF;
	border-radius : 4px;
	overflow      : hidden;
	padding       : 12px 0;
	text-align    : start;
	line-height   : @line-height-base;

	&__centered
	{
		margin : 0 auto;
	}

	&__shades
	{
		box-shadow : 0 0 30px #BBB9B9;
	}

	@import "side/include";
}
