@{b}-stat
{
	&-header
	{
		border-top    : 5px solid @brand-success;
		border-bottom : 1px solid @brand-silver;
		height        : 80px;
		text-align    : center;

		.date
		{
			&-day
			{
				color          : @brand-darkgray;
				font-size      : 48px;
				line-height    : 63px;
				display        : inline-block;
				vertical-align : middle;
				margin-right   : 30px;
			}

			&-month_year
			{
				display     : block;
				font-size   : 14px;
				line-height : 19px;
			}
			&-dayName
			{
				color   : @brand-info;
				display : block;
			}
		}
	}

	@import "scope/include";
	@import "total/include";

	&-footer
	{
		overflow : hidden;
	}
}
