&-menu
{
	.b-menu
	{
		._icon
		{
			color : #D4D4D4;
		}

		&-item:first-child > .a-link
		{
			border : 0 !important;
		}
		&-item > .a-link
		{
			font-size    : @font-size-base;
			border-color : @brand-silver !important;
		}
	}
}
