.b-reports_board
{
	@b: ~'.b-reports_board';

	&-tabs
	{
		.b-menu
		{
			.b-menu-item
			{
				font-size : 14px !important;

				.a-link
				{
					._dot
					{
						margin-right : 50px;
						display      : none;

						&:before
						{
							color  : inherit;
							margin : 0 !important;
						}
					}

					font-size    : 14px;
					padding      : 16px 20px 15px;
					color        : @brand-darkgray;
					border-right : 1px solid @brand-silver !important;

					&_close
					{
						color          : @brand-info;
						vertical-align : middle;
						margin-left    : 20px;
						vertical-align : 1px;
					}
				}

				&:hover,
				&__active
				{
					.a-link
					{
						._dot,
						&_close
						{
							color : @brand-success;
						}
					}
				}

				&__minimal
				{
					.a-link
					{
						box-sizing  : content-box;
						width       : 1.01em;
						overflow    : hidden;

						._dot
						{
							display : inline-block;
						}

						white-space : nowrap;
					}

					&.b-menu-item__active
					{
						width : auto;

						.a-link
						{
							width : auto;

							._dot
							{
								display : none;
							}
						}
					}
				}
			}
		}
	}
}
