&-extender
{
	position        : absolute;
	bottom          : 0;
	right           : 7px;
	top             : 0;
	font-size       : 16px;
	line-height     : 30px;
	color           : @brand-success;
	text-decoration : none;
	z-index         : 10;
}
