&@{b}__file
{
	width         : 100%;
	max-width     : 350px;
	padding-right : 100px;
	position      : relative;
	overflow      : hidden;
	cursor        : pointer;

	.file-inputOriginal
	{
		.opacity(0);
		position : absolute;
		left     : -999px;
		outline  : none;
	}
	.file-name
	{
		float              : left;
		width              : 100%;
		display            : block;
		z-index            : 2;
		position           : relative;
		height             : @input-height;
		line-height        : 1.42;
		vertical-align     : middle;
		background         : transparent;
		color              : @form-control-text;
		-webkit-transition : border-color 0.3s ease-in-out;
		transition         : border-color 0.3s ease-in-out;
		border             : 1px solid @form-control-border;
		padding            : 6px;
		border-radius      : 3px;
		box-shadow         : none;
		font-size          : 11px;
		box-sizing         : border-box;

		.text-overflow();
	}
	.file-button
	{
		margin-right : -100px;
		float        : right;
		padding      : 0 10px 0 5px;
	}

	&:hover
	{
		.file-name
		{
			border-color : @form-control--focus-border;
		}

		.file-button
		{
			background : lighten(@brand-success, 7%);
		}
	}
}
