<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				id="control999"
				class="js-groupCheckBox-toggler / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Все</span>

		<span class="b-menu-tag b-tag b-tag__gray">90</span>
	</label>
</li>
<li class="b-menu-item b-menu-item__active">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">BioTrack</span>
		<span class="b-menu-tag b-tag b-tag__gray">9</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">International marketing&amp;sales</span>
		<span class="b-menu-tag b-tag b-tag__gray">2</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">MaxTrack</span>
		<span class="b-menu-tag b-tag b-tag__gray">17</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">MyTaxi</span>
		<span class="b-menu-tag b-tag b-tag__gray">14</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">mYtestyyyyyy</span>
		<span class="b-menu-tag b-tag b-tag__gray">6</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Администрация Онлайн системы</span>
		<span class="b-menu-tag b-tag b-tag__gray">1</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Бухгалтерия</span>
		<span class="b-menu-tag b-tag b-tag__gray">4</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Дирекция</span>
		<span class="b-menu-tag b-tag b-tag__gray">6</span>
	</label>
</li>
<li class="b-menu-item b-menu-item__parent">
	<label data-callback="test" class="a-link / b-form-label" href="javascript:;">
		<input type="checkbox"
				id="control123"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child js-groupCheckBox-toggler / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text / js-menu-toggler">Отдел для тестирования</span>
		<span class="b-menu-tag b-tag b-tag__gray">0</span>
	</label>

	<ul class="b-menu b-menu__list b-menu__vertical b-menu__theme-light">
		<li class="b-menu-item">
			<label class="a-link / b-form-label">
				<input type="checkbox"
						data-groupCheckBoxParent="control123"
						class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
				<i class="checkbox-control checkbox-control__box"></i>
				<span class="checkbox-control checkbox-control__text">Тестовый отдел №1</span>
				<span class="b-menu-tag b-tag b-tag__gray">-</span>
			</label>
		</li>
		<li class="b-menu-item">
			<label class="a-link / b-form-label">
				<input type="checkbox"
						data-groupCheckBoxParent="control123"
						class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
				<i class="checkbox-control checkbox-control__box"></i>
				<span class="checkbox-control checkbox-control__text">Тестовый отдел №2</span>
				<span class="b-menu-tag b-tag b-tag__gray">-</span>
			</label>
		</li>
		<li class="b-menu-item">
			<label class="a-link / b-form-label">
				<input type="checkbox"
						data-groupCheckBoxParent="control123"
						class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
				<i class="checkbox-control checkbox-control__box"></i>
				<span class="checkbox-control checkbox-control__text">Тестовый отдел №3</span>
				<span class="b-menu-tag b-tag b-tag__gray">-</span>
			</label>
		</li>
	</ul>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">отдел Маркетинга</span>
		<span class="b-menu-tag b-tag b-tag__gray">2</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Отдел организации обеда</span>
		<span class="b-menu-tag b-tag b-tag__gray">1</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Отдел Охраны</span>
		<span class="b-menu-tag b-tag b-tag__gray">1</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Отдел продаж и координирования</span>
		<span class="b-menu-tag b-tag b-tag__gray">9</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				data-groupCheckBoxParent="control999"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Отдел разработки и программирования</span>
		<span class="b-menu-tag b-tag b-tag__gray">24</span>
	</label>
</li>
