<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				checked
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
<li class="b-menu-item">
	<label class="a-link / b-form-label">
		<input type="checkbox"
				class="js-groupCheckBox-child / b-form-controlCustom b-form-controlCustom__checkbox">
		<i class="checkbox-control checkbox-control__box"></i>
		<span class="checkbox-control checkbox-control__text">Атабеков Дильшод</span>
	</label>
</li>
