&@{b}__styled_dot
{
	@{b}-item
	{
		&:before
		{
			border        : 2px solid @brand-success;
			content       : '';
			display       : inline-block;
			margin-right  : 12px;
			.square(8px);
			border-radius : 50%;
		}
	}
}
