&-statDaily
{
	&-chart
	{
		&-scopes
		{
			margin-top : 25px;
		}
		&-scope
		{
			margin  : 0 10px 0 25px;
			display : inline-block;

			&-indicator
			{
				.square(1px);
				border           : 5px solid;
				display          : inline-block;
				border-radius    : 50%;
				position         : relative;
				background-color : inherit;

				&:after
				{
					content    : '';
					display    : block;
					margin     : -1px -15px 0 -15px;
					border-top : 1px solid;
				}
			}
			&-title
			{
				display     : inline-block;
				margin-left : 25px;
			}
		}
	}
}
