.b-cropcontent
{
	@b: ~'.b-cropcontent';

	position       : relative;
	background     : inherit;
	display        : inline-block;
	vertical-align : middle;

	&-container
	{
		width   : 100%;
		display : block;
	}

	&-fallback
	{
		position      : absolute;
		z-index       : 1;
		top           : 0;
		bottom        : 0;
		left          : 0;
		visibility    : hidden;

		padding-right : 3px;
		border-radius : 3px;
		//.rgba(#FFF, 0.6);

		.text-overflow
		{
			z-index   : 1;
			position  : relative;
			width     : auto;
			display   : block;
			max-width : none;
		}
	}

	&:hover
	{
		@{b}-container
		{
			visibility : hidden;
		}

		@{b}-fallback
		{
			visibility : visible;
		}
	}

	&__base &-container .text-overflow
	{
		max-width : 200px;
		width     : 100%;
	}
	&__medium &-container .text-overflow
	{
		max-width : 150px;
		width     : 100%;
	}
	&__small &-container .text-overflow
	{
		max-width : 100px;
		width     : 100%;
	}

	&__xsmall &-container .text-overflow
	{
		max-width : 50px;
		width     : 100%;
	}

	&__full_parent &-container .text-overflow
	{
		max-width : 100%;
		width     : 100%;
	}
}
