&@{b}__tabs
{
	font-size : 0;

	> @{b}-item
	{
		font-size      : @font-size-base;
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : top;
	}

	@import './item/include';
	@import './themes/include';
}
