.b-form
{
	@component: ~'.b-form';

	@{b}-form-section
	{
		float : left;
		width : 50%;

		& + @{b}-form-section
		{
			border-left : 1px solid @brand-silver;
			margin-left : -1px;
		}
		&:first-child
		{
			border-right : 1px solid @brand-silver;
		}
	}

	@{component}-name
	{
		border-bottom : 0;
		padding       : 12px 20px;
		line-height   : 16px;
		font-size     : @font-size-base;
		background    : #F6F6F6;
		color         : #B2B2B2;
	}

	@{component}-control@{component}-control__textarea
	{
		min-height : 80px;
	}
	&-label
	{
		color : #868686;
	}
}
