@{b}-userCard
{
	padding    : 15px 0 20px;
	background : #F6F6F6;
	overflow   : hidden;
	text-align : center;

	.b-button
	{
		vertical-align : middle;
		width          : 30px;
		height         : 30px;
		padding        : 0;
		text-align     : center;

		._icon
		{
			font-size : 16px;
			color     : @brand-success !important;
		}

		& + .b-button
		{
			margin-left : 6px;
		}
	}

	@{b}-avatar
	{
		.square(80px);
		margin         : 0 16px;
		border-radius  : 80px;
		line-height    : 80px;
		overflow       : hidden;
		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
		vertical-align : middle;
		border         : 1px solid @brand-silver;

		img
		{
			display        : inline-block;
			*display       : inline;
			*zoom          : 1;
			vertical-align : middle;
		}
	}

	@{b}-qrCode
	{
		.square(50px);

		display        : inline-block;
		*display       : inline;
		*zoom          : 1;
	  	position        : relative;
		border-radius  : 4px;
		overflow       : hidden;
		vertical-align : middle;
		border         : 6px solid #FFF;

	  .b-button-edit_button{
		left: -15px;
		position: absolute;
		top: 2px;
		z-index: 10;
	  }

	}

	&-title
	{
		margin-top  : 20px;
		color       : #4C4C4C;
		line-height : 24px;
		font-family : @font-family-base;
		font-size   : 18px;
		display     : block;
	}
	&-speciality
	{
		display     : block;
		margin-top  : 6px;
		color       : #B2B2B2;
		line-height : 19px;
		font-size   : 14px;
		font-family : @font-family-base;
	}
}
