&@{b}__gray
{

	border-color : #B2B2B2;
	color        : #B6B6B4;
	background   : transparent;

	._icon
	{
		color : #B2B2B2;
	}

	&:hover,
	&:focus
	{
		background : #B2B2B2;
		color      : #FFF;

		._icon
		{
			color : darken(#fff,10%);
		}

	}
	&@{b}__active,
	&:active
	{
		background : #949494;
		color      : #FFF;

		._icon
		{
			color : #C9C9C9;
		}
	}
}
