&@{b}__light
{

	border-color : @brand-silver;
	background   : #FFF;
	color        : #868686;

	._icon,
	&@{b}_icon
	{
		color : #2EA97D;
	}


	&:hover,
	&:focus
	{
		color        : #86868B;
		border-color : #C2C2C2;

		._icon
		{
			color : #2EA97D;
		}

	}
	&@{b}__active,
	&:active
	{
		color        : #868686;
		border-color : @brand-silver;

		._icon
		{
			color : #2EA97D;
		}
	}
}
