&@{b}__loading
{
	._icon
	{
		margin-right : 8px;

		&:before
		{
			animation : spin 1500ms infinite linear;
			z-index   : 2;
			content   : '\E927';
			font-size : 15px;
			margin    : 0;
		}
	}
}
