&@{b}__red
{

	border-color : transparent;
	background   : #F47B7A;
	color        : #FFF !important;

	._icon
	{
		color : #F9BDBC;
	}

	&:hover,
	&:focus
	{
		background : #FF9E9D;
		._icon
		{
			color : #FFCECE;
		}

	}
	&@{b}__active,
	&:active
	{
		background : #D55F5E;
		._icon
		{
			color : #EAAFAE;
		}
	}
}
