&@{b}__white
{
	color        : #868686;
	background   : #FFF;
	border-color : @brand-silver;

	&:hover,
	&:focus
	{
		border-color : #C2C2C2;
	}

	&@{b}__active,
	&:active
	{
		background   : #F6F6F6;
		border-color : @brand-silver;
	}

	&@{b}__transparent
	{
		background   : none;
		color        : #FFF;
		border-color : #FFF;

		&:hover
		{
			background: rgba(255,255,255,0.4);
		}
	}
}
