.b-button
{
	@b: ~'.b-button';

	a&
	{
		text-decoration : none !important;
	}

	display            : inline-block;
	*display           : inline;
	*zoom              : 1;
	position           : relative;
	height             : 30px;
	line-height        : 28px;
	padding            : 0 10px;
	outline            : none;
	border             : 1px solid transparent;
	border-radius      : @border-radius-base;
	font-size          : @font-size-base;
	vertical-align     : middle;
	transition         : background 600ms;

	&-group
	{
		display  : inline-block;
		*display : inline;
		*zoom    : 1;
	}

	@{b}-group > &
	{
		border-radius : 0;
		margin-left   : -1px;
		float         : left;

		&:first-child
		{
			border-radius : @border-radius-base 0 0 @border-radius-base;
		}
		&:last-child
		{
			border-radius : 0 @border-radius-base @border-radius-base 0;
		}
	}

	&__block
	{
		display : block;
		width   : 100% !important;
	}

	&__icon
	{
		._icon
		{
			font-size      : 14px;
			vertical-align : top;
			.opacity(0.7);
			margin-right   : 8px;

			&:before
			{
				margin : 0;
			}

			&-image
			{
				vertical-align : middle;
				margin-right   : 8px;
				.opacity(0.7);
			}

			&-md
			{
				font-size : 16px;
			}
			&-lg
			{
				font-size : 20px;
			}
			&-hg
			{
				font-size : 24px;
			}
		}

		&@{b}__active ._icon,
		&@{b}__active ._icon-image,
		&:hover ._icon,
		&:hover ._icon-image,
		{
			.opacity(1);
		}
	}

	&_icon
	{
		font-size : 16px;

		&:before,
		&:after
		{
			.opacity(0.8);
			margin : 0;
		}

		&@{b}__active:before,
		&:hover:before
		{
			.opacity(1);
		}
	}

	/*
	* button size variations
	*/
	&__xs
	{
		height        : 20px;
		line-height   : 20px;
		padding       : 0 3px;
		font-size     : 11px;
		border-radius : @border-radius-small;

		._icon
		{
			font-size    : 11px;
			margin-right : 4px;
		}
	}
	&__sm
	{
		height        : 25px;
		line-height   : 25px;
		padding       : 0 5px;
		font-size     : 11px;
		border-radius : @border-radius-small;

		._icon
		{
			font-size    : 12px;
			margin-right : 6px;
		}
	}
	&__md
	{
		font-size    : 13px;
		._icon
		{
			font-size    : 14px;
			margin-right : 6px;
		}
	}
	&__lg
	{
		height        : 34px;
		line-height   : 34px;
		padding       : 0 12px;
		font-size     : 16px;
		border-radius : @border-radius-large;
	}

	@import '__gray';
	@import '__light';
	@import '__green';
	@import '__red';
	@import '__white';
	@import '__yellow';

	@import '__loading';
	@import '__disabled';
}

@import "panel/include";
