&@{b}__stat
{
	border-left   : 1px solid @brand-silver;
	margin-left   : -1px;

	& + &
	{
		border-top : 1px solid @brand-silver;
	}

	@{b}-footer
	{
		.square(60px);
		font-size : 0;

		.canvas-outer
		{
			position : relative;

			@{b}-stat-value
			{
				z-index       : 1;
				width         : 84%;
				height        : 84%;
				border-radius : 50%;
				position      : absolute;
				top           : 50%;
				left          : 50%;
				margin        : -42% 0 0 -41%;
				background    : #FFF;

				font-size     : @font-size-base;
				line-height   : 4;
				.text-bold;
				text-align    : center;

				&:before
				{
					border-radius : 50%;
					content       : '';
					position      : absolute;
					z-index       : 1;
					left          : 5px;
					right         : 5px;
					bottom        : 5px;
					top           : 5px;
					border        : 1px solid #E8E8E8;
				}
			}
		}
	}
}
