.b-loader
{
	@b: ~'.b-loader';
	@background: @brand-silver;
	@foreground: @brand-success;

	@-webkit-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-webkit-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-moz-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-ms-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-moz-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-webkit-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@-o-keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}
	@keyframes uilsquare
	{
		0%
		{
			background-color : @background;
		}
		1%
		{
			background-color : @foreground;
		}
		11%
		{
			background-color : @foreground;
		}
		21%
		{
			background-color : @background;
		}
		100%
		{
			background-color : @background;
		}
	}

	background : none;
	font-size  : 40px;
	width      : 3.6em;
	height     : 3.6em;
	margin     : 0 auto;
	overflow   : hidden;

	div
	{
		position         : relative;
		display          : block;
		float            : left;
		z-index          : 1;
		width            : 1em;
		height           : 1em;
		background-color : @background;
		margin           : 0.1em;

		&:after
		{
			content           : '';
			position          : absolute;
			top               : 0;
			bottom            : 0;
			left              : 0;
			right             : 0;
			-ms-animation     : uilsquare 1s linear infinite;
			-moz-animation    : uilsquare 1s linear infinite;
			-webkit-animation : uilsquare 1s linear infinite;
			-o-animation      : uilsquare 1s linear infinite;
			animation         : uilsquare 1s linear infinite;
		}
	}

	> div:nth-of-type(1):after
	{
		-ms-animation-delay     : 0s;
		-moz-animation-delay    : 0s;
		-webkit-animation-delay : 0s;
		-o-animation-delay      : 0s;
		animation-delay         : 0s;
	}

	> div:nth-of-type(2):after
	{
		-ms-animation-delay     : 0.125s;
		-moz-animation-delay    : 0.125s;
		-webkit-animation-delay : 0.125s;
		-o-animation-delay      : 0.125s;
		animation-delay         : 0.125s;
	}

	> div:nth-of-type(3):after
	{
		-ms-animation-delay     : 0.25s;
		-moz-animation-delay    : 0.25s;
		-webkit-animation-delay : 0.25s;
		-o-animation-delay      : 0.25s;
		animation-delay         : 0.25s;
	}

	> div:nth-of-type(4):after
	{
		-ms-animation-delay     : 0.875s;
		-moz-animation-delay    : 0.875s;
		-webkit-animation-delay : 0.875s;
		-o-animation-delay      : 0.875s;
		animation-delay         : 0.875s;
	}

	> div:nth-of-type(5)
	{
		visibility : hidden;
	}
	> div:nth-of-type(6):after
	{
		-ms-animation-delay     : 0.375s;
		-moz-animation-delay    : 0.375s;
		-webkit-animation-delay : 0.375s;
		-o-animation-delay      : 0.375s;
		animation-delay         : 0.375s;
	}

	> div:nth-of-type(7):after
	{
		-ms-animation-delay     : 0.75s;
		-moz-animation-delay    : 0.75s;
		-webkit-animation-delay : 0.75s;
		-o-animation-delay      : 0.75s;
		animation-delay         : 0.75s;
	}

	> div:nth-of-type(8):after
	{
		-ms-animation-delay     : 0.625s;
		-moz-animation-delay    : 0.625s;
		-webkit-animation-delay : 0.625s;
		-o-animation-delay      : 0.625s;
		animation-delay         : 0.625s;
	}

	> div:nth-of-type(9):after
	{
		-ms-animation-delay     : 0.5s;
		-moz-animation-delay    : 0.5s;
		-webkit-animation-delay : 0.5s;
		-o-animation-delay      : 0.5s;
		animation-delay         : 0.5s;
	}
}
