&__nested
{
	@{b} tbody &-rowParent
	{
		> td:first-child
		{
			.text-bold();
			color       : #4C4C4C;
			border-left : 4px solid transparent;
		}
		&.active
		{
			> td:first-child
			{
				border-left-color : @brand-success !important;
			}
			td
			{
				border-bottom : 1px solid @brand-success;
			}
		}
	}

	@{b} tbody &-rowDependent
	{
		> td
		{
			border-top : 0;
			padding    : 0 !important;

			@{b}
			{
				background-color : #F6F6F6;
			}
		}
	}

	&-toggler
	{
		margin-right : 10px;
		font-size    : 10px;
		padding      : 0 2px;
		height       : 20px;
		line-height  : 19px;
		font-weight  : bold;

		&[aria-expanded=true]:before
		{
			content : '\EA61'
		}
	}

}
