.b-expense
{
	&-paycheck
	{
		font-size : 14px;

		&-title
		{
			font-size   : 14px;
			line-height : 19px;
			padding     : 10px 20px;

		}

		&-summary
		{
			font-size : 14px;
			padding   : 10px 20px;
		}
		&-footer
		{
			margin-top  : 7px;
			line-height : 19px;
			overflow    : hidden;
			color       : @brand-silver;
			white-space : nowrap;
		}
	}

	@import "./accordion/include";
}
