.b-slide{
  position:relative;
  max-width: 600px;
  overflow: hidden;


  .b-slide-container{
    height:325px;
    position: relative;
    width:100000px;
    list-style:none;
    margin-left:0;
    padding:0;



      .b-slide-items{
        width:580px;
        margin:0 auto;
        height:325px;
        float:left;
        padding:30px 15px 40px;

        .slides
        {
          width:580px;
          word-wrap:break-word; /* Avoids the Text Overflow, and breaks the long Strings/ Sentences on next line. */
        }
        .slides_content
        {
          position:relative; /* Keeps the Slides Content Relative to each Slide */
          width:100%;
          height:100%;
        }
        h1{
          font-size: 25px;
          margin:20px 0 10px;
          font-family: 'Roboto';
          font-weight: normal;
        }
        span{
          display: block;
          margin: 0 auto;
          line-height: 21px;
          font-weight: bolder;
          width: 370px;
        }
        &:first-child{
            h1{
              margin:-7px 0 10px;
            }
        }
        &:nth-child(3){
          img{
            margin-top:30px;
          }
        }
      }
  }
  .b-slide-pagination-container{
    background: #f6f6e9;
    padding:15px 6px;
    border-radius:0 0 4px 4px;

      .b-slide-list{
        margin:0;
        padding:0;
        line-height: 0;
        font-size: 0;

          .b-slide-items{
            list-style: none;
            line-height: normal;
            font-size: 14px;
            margin:0;
            padding:0;
            display: inline-block;


                .b-slide-link{
                  text-indent: -99999px;
                  border:1px solid @brand-info;
                  height:14px;
                  width: 14px;
                  overflow: hidden;
                  outline: none;
                  border-radius: 100%;
                  margin:3px 5px 0 0;
                  display: block;
                }

            &:first-child{

              .b-slide-link{

                &_active{
                  background: @brand-primary;
                  border-color: transparent;
                }
              }
            }
            &:nth-child(2){

              .b-slide-link{

                &_active{
                  background: @brand-danger;
                  border-color: transparent;
                }
              }
            }
            &:nth-child(3){

              .b-slide-link{

                &_active{
                  background: @brand-warning;
                  border-color: transparent;
                }
              }
            }
            &:last-child{

              .b-slide-link{

                &_active{
                  background: @brand-success;
                  border-color: transparent;
                }
              }
            }
            }


          }
          .b-slide-pagination-link{
              color:@brand-darkgray;
              font-size: 14px;
              font-family: 'Roboto';
              overflow: hidden;
              outline: none;
              border:none;
              background: none;
              font-weight: normal;
              text-transform: uppercase;
          }
  }

.slider-nav{
  display: block !important;
}
  .backbtn
  {
    position:relative;
  }

  /* ============================== This is for Styling Each of the Content Slides */



}
