.side
{
	@b: ~'.side';

	overflow   : hidden;
	position   : relative;
	min-height : 450px;
	width      : 350px;
	float      : left;

	@{b}-title
	{
		color       : #4C4C4C;
		font-size   : 14px;
		font-weight : 400;
		line-height : 19px;
		margin      : 0;
		font-family : @font-family-base;
		padding     : 5px 20px 15px;
	}

	.choosen-wrapper
	{
		padding : 0 5px;

		.choosen-icon
		{
			font-family             : "fontello";
			font-style              : normal;
			font-weight             : normal;
			display                 : inline-block;
			text-decoration         : inherit;
			width                   : 1.01em;
			text-align              : center;
			font-variant            : normal;
			text-transform          : none;
			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
			font-size               : 14px;

			&:before
			{
				content : '\e8f8';
			}

			&__clear
			{
				font-size : @font-size-base;
				z-index   : 10;
				cursor    : pointer;
				color     : @brand-success;

				&:before
				{
					content : '\ea63';
				}
			}
		}
	}

	@{b}-body
	{
		position : relative;
		overflow : auto;
		height   : 300px;
		margin   : 10px 5px 10px 0;
/*
		.b-menu
		{
			&-item > .a-link
			{
				white-space : nowrap;
			}
		}*/
	}

	@import "__left/include";
	@import "__controls/include";
	@import "__right/include";
}
