.b-user_card
{
	@b: ~'.b-user_card';

	border-bottom : 1px solid @brand-silver;
	background    : @brand-gray;
	text-align    : center;
	padding       : 15px 0 20px;
	overflow      : hidden;

	&-avatar
	{
		.square(80px);
		margin          : 0 16px;
		border-radius   : 100%;
		line-height     : 5.9;
		overflow        : hidden;
		display         : inline-block;
		*display        : inline;
		*zoom           : 1;
		vertical-align  : middle;
		border          : 1px solid @brand-silver;
		white-space     : nowrap;
		position        : relative;
		text-decoration : none !important;

		&:before
		{
			content        : '';
			//display        : inline-block;
			height         : 100%;
			vertical-align : middle;
		 	position       :absolute;
		}

		img
		{
			display        : inline-block;
			vertical-align : middle;
		}

		&-editButton
		{
			visibility      : hidden;
			text-decoration : none;
			position        : absolute;
			left            : 50%;
			top             : 50%;
			z-index         : 2;
			margin          : -0.8em 0 0 -1em;
			font-size       : 18px;
		}

		&:after
		{
			position   : absolute;
			top        : 0;
			bottom     : 0;
			left       : 0;
			right      : 0;
			background : #FFF;
			z-index    : 1;
			.opacity(0.4);
		}

		&:hover
		{
			@{b}-avatar-editButton
			{
				visibility : visible;
			}

			&:after
			{
				content : '';
			}
		}
	}

	&-qrCode
	{
		.square(50px);

		display        : inline-block;

		border-radius  : 4px;
		overflow       : hidden;
		vertical-align : middle;
		border         : 6px solid #FFF;
	}

	&-title
	{
		margin-top  : 20px;
		color       : @brand-darkgray;
		line-height : 24px;
		font-family : @font-family-base;
		font-size   : 18px;
	}
	&-speciality
	{
		display     : block;
		margin-top  : 6px;
		color       : @brand-info;
		line-height : 19px;
		font-size   : 14px;
		font-family : @font-family-base;
	}
}
