@{b}-steps
{
	overflow      : hidden;
	margin-bottom : 50px;

	@{b}-step
	{
		&-name
		{
			font-size   : 14px;
			font-weight : 400;
			line-height : 19px;
			color       : #B2B2B2;
			display     : block;
		}
		&-description
		{
			display : block;
			color   : #868686;
		}

		&__active
		{
			@{b}-step-name
			{
				color : @brand-success;
			}
		}
	}
}
