.b-integration-content{
    border-bottom: 1px solid @brand-gray-eee;
  padding:0 20px 25px;
  margin-bottom: 25px;

  &:last-child{
    border:none;
    margin:0;
  }

}
.b-integration-text{
  color:#868686;
  font-size: 13px;
  font-weight: bolder;
}
.b-image_size__small{
  border:1px solid @brand-gray-eee;
  text-align: center;
  vertical-align: middle;
  min-height: 140px;
  padding-top:9px;
  min-width: 240px;
  img{
    display: block;
    margin:0 auto;
    vertical-align: middle;
  }
}
