.b-employee_list
{
	@b: ~'.b-employee_list';

	&-item
	{
		&-image
		{
			margin-right  : 20px;
			.square(50px);
			border-radius : 50px;
			overflow      : hidden;

		}
		&-information
		{
			width : 165px;
		  white-space: nowrap;
		}
		&-name
		{
			font-family : @font-family-base;
			font-weight : 500;
			color       : #4C4C4C;

			&:hover
			{
				color : @brand-success;
			}
		}
	}
}
.dashboard-time-pad_icon{
  background-image: url("@{imgPath}/time_pad_icon.png");
  background-repeat: no-repeat;
  height: 16px;
  right: 21px;
  top:0;
  position: absolute;
  width: 16px;
  z-index: 1;

}
.dashboard-mobile_icon{
  background-image: url("@{imgPath}/device_icon.png");
  background-repeat: no-repeat;
  height: 16px;
  right: 21px;
  top:0;
  position: absolute;
  width: 16px;
  z-index: 1;

}
.dashboard-desktop_icon{
  background-image: url("@{imgPath}/desktop_icon.png");
  background-repeat: no-repeat;
  height: 16px;
  right: 21px;
  top:0;
  position: absolute;
  width: 16px;
  z-index: 1;

}