.b-files
{
	@b: ~'.b-files';

	&-item
	{
		&-ico
		{
			.square(25px);
			line-height : 25px;
			margin      : 0 5px;
			text-align  : center;
			display     : inline-block;
			*display    : inline;
			*zoom       : 1;
		}

		&-title
		{
			color       : @brand-darkgray;
			&:hover{
			  color       : @brand-success;
			}
			.text-overflow
			{

					max-width     : 200px;
					width         : 100%;
			}
		}

		&-folder
		{
			white-space   : nowrap;
			max-width     : 150px;
			width         : 100%;
			text-overflow : ellipsis;
			overflow      : hidden;
		}
	}
}
