.b-model_choose
{
	width:    100%;
	position: relative;
	padding:  0 5px;

	&-slider
	{
		margin:   0 auto;
		overflow: hidden;
		height:   55px;
	}

	&-list
	{
		list-style: none;
		padding:    0;
		margin:     0;

		&-item
		{
			margin: 0 8px;
			.square(50px);
		}
	}

	&-control
	{
		position:   absolute;
		top:        50%;
		font-size:  13px;
		color:      #B2B2B2;
		margin-top: -12px;

		&.disabled
		{
			cursor: default;
			.opacity(0.5);
		}

		&.prev
		{
			left: -5px;
		}
		&.next
		{
			right: -5px;
		}
	}
}
